/* scss/Moléculas/_banner-slider-home_site.scss */ 
.wd-marketing-banner.slider {
    position: relative;
    width: 100% !important;
    // height: auto !important;
    line-height: 0 !important;
    display: block;
    float: none;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        height: 450px !important;
    }
}
.wd-marketing-banner.mobile{
    display: block !important;
    @media (min-width:$media-min-desktop) {
        display: none !important;
    }
}
.wd-marketing-banner.desktop{
    display: none !important;
    @media (min-width:$media-min-desktop) {
        display: block !important;
    }
}
.wd-marketing-banner.slider .banner-wrapper {
    height: auto !important;
    vertical-align: middle;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}
.wd-marketing-banner.slider .orbit-bullets-container{
    display: none;
}
.wd-marketing-banner.slider:not(.loaded) .banner-wrapper {
    display: none;
}
.wd-marketing-banner.slider:not(.loaded) .banner-wrapper.first {
    display: block;
}
.wd-marketing-banner.slider a{
    width: 100% !important;
    height: auto !important; 
}
.wd-marketing-banner.slider img {
    width: 100%;
    height: auto;
    @media (min-width:$media-min-desktop) {
        width: initial ;
        height: initial;
        position: absolute;
        left: 50%;
        margin-left: -960px;
    }
}
.wd-marketing-banner.slider .banner-wrapper.banner-show {
    display: block;
}
.wd-marketing-banner.slider .slider-controller {
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: .5em 2em;
    line-height: normal;
}
.wd-marketing-banner.slider .slider-controller {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.wd-marketing-banner.slider .slider-controller li {
    font-size: .8rem;
    float: none;
    display: inline-block;
    background: #FFF;
    color: $dark0;
    border: 3px solid $dark0;
    height: 13px;
    line-height: 32px;
    margin: 5px;
    width: 13px;
    border-radius: 100%;
    font-weight: 700;
    box-shadow: none;
    text-indent: -99999px;
}
.wd-marketing-banner.slider .slider-controller li.current {
    background: $dark0;
    color: #FFF;
}

.wd-marketing-banner.slider .orbit-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.wd-marketing-banner.slider .orbit-container [data-orbit] {
    overflow: hidden;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%!important;
}