/* scss/Moléculas/_Banner-Mosaico_site.scss */ 
.banner-mosaic-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px;
    @media (min-width:$media-min-desktop) {
        margin: 32px auto 0px auto;
    }
}
.banner-mosaic-title h2{
    margin: 0px auto 16px auto;
    @include header-5($dark0);
    @media (min-width:$media-min-desktop) {
        margin: 0px auto 24px auto;
    }
}
.banner-mosaic-img{
    height: 200px;
    width: 100%;
    background-color: #000;
    @media (min-width:$media-min-desktop) {
        border-radius: $border8;
        max-width: 1170px;
        height: 240px;
    }
}
.banner-mosaic-img img{
    height: auto;
    width: 100%;
    display: block;
    @media (min-width:$media-min-desktop) {
        border-radius: $border8;
    }
}