.wd-checkout-basket-buttons .bt-checkout{
    @include header-3-medium;
    border: none;
    display: block;
    width: 100%;
    color: $white;
    padding: 6px 0px;
    display: flex;
    background: $success0;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow1;
    cursor: pointer;
    @media (min-width:$media-min-desktop) {
        padding: 7px 0px;
    }
}

.wd-checkout-basket-buttons .bt-clear-basket, .wd-checkout-basket-buttons .bt-keep-buying{
    display: none;
}