.wd-checkout-basket-discount-progressive{
    padding: 24px 16px;
    width: 100%;
    box-shadow: $shadow2;
    background: $white;
    border-radius: $border8;
    width: calc(100% - 32px);
    margin: 0 auto 32px auto;
    @media (min-width:$media-min-desktop) {
        padding: 0;
        box-shadow: none;
        border-radius: 0; 
        width: 100%;
        margin: 0 auto 48px auto;
    }
}
.wd-checkout-basket-discount-progressive .wd-header .wd-title{
    display: none;
}

.wd-checkout-basket-discount-progressive > .wd-content > .title{
    @include header-5;
    text-transform: lowercase;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 4px;
}

.wd-checkout-basket-discount-progressive > .wd-content > .frase{
    @include paragraph-regular;
    width: 100%;
    display: block;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 16px;
}