/* scss/Moléculas/_basket-grid-table_site.scss */ 
.wd-checkout-basket-grid{
    width: 100%;
    @media (min-width:$media-min-desktop) {
        max-width: 870px;
    }
}
.wd-checkout-basket-grid > div > table{
    width: 100%;
    
}
.wd-checkout-basket-grid > div > table > thead{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: table-header-group;
    }
}
.wd-checkout-basket-grid > div > table > thead > tr > th{
    display: flex;
}

.wd-checkout-basket-grid > div > table > thead > tr > th > div.product{
    text-align: left;
    padding-left: 16px;
    @media (min-width:$media-min-desktop) {
        width: 440px;
    }
}

.wd-checkout-basket-grid > div > table > thead > tr > th > div.quantity{
    text-align: left;
    padding-left: 16px;
    @media (min-width:$media-min-desktop) {
        width: 140px;
    }
}

.wd-checkout-basket-grid > div > table > thead > tr > th > div.price{
    text-align: left;
    padding-left: 16px;
    @media (min-width:$media-min-desktop) {
        width: 110px;
    }
}

.wd-checkout-basket-grid > div > table > thead > tr > th > div.subtotalprice{
    text-align: left;
    padding-left: 16px;
    @media (min-width:$media-min-desktop) {
        width: 108px;
    }
}

.wd-checkout-basket-grid > div > table > tbody{
    display: block;
    padding: 0 8px;
    @media (min-width:$media-min-desktop) {
        padding: 0;
        display: table-row-group;
    }
}