.wd-checkout-basket-deliveryoptions{
    padding: 24px 16px;
    box-shadow: $shadow2;
    background-color: $white;
}
.wd-checkout-basket-deliveryoptions > .header-deliveryoptions > div{
    @include header-5;
    text-align: center;
    margin-bottom: 8px;
}

.wd-checkout-basket-deliveryoptions > .content > .description > .inputWrapper{
    border-bottom: 2px $dark0 solid;
    display: flex;
    align-items: center;
    height: 36px;
    @media (min-width:$media-min-desktop) {
        height: 40px;
    }
}

.wd-checkout-basket-deliveryoptions > .content > .description > .inputWrapper input{
    background: transparent;
    height: 21px;
    width: 100%;
    display: block;
    border: none;
    @include paragraph-regular;
    padding: 0 0 0 8px;
    @media (min-width:$media-min-desktop) {
        height: 24px;
        
    }
}

.wd-checkout-basket-deliveryoptions > .content > .description > .inputWrapper > button{
    border: none;
    background: transparent;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    min-width: 36px;
    display: none;
    @media (min-width:$media-min-desktop) {
        width: 40px;
        height: 40px; 
        min-width: 40px;   
    }
}

.wd-checkout-basket-deliveryoptions > .content > .description > .inputWrapper > div{
    @include paragraph-medium($primary0);
    cursor: pointer;
    margin-right: 8px;
}

.wd-checkout-basket-deliveryoptions > .content > .description > a{
    @include small-bold;
    padding-left: 8px;
    margin-top: 3px;
    display: block;
}

.wd-checkout-basket-deliveryoptions > .content > .description > .price{
    display: none;
}

.wd-checkout-basket-deliveryoptions > .content > .types.delivery-options > div{
    display: none;
}

.wd-checkout-basket-deliveryoptions.wd-widget > .content > .types.delivery-options > ul > li{
    display: flex;
    border-bottom: 2px $light0 solid;
    padding: 16px 0;
}

.wd-checkout-basket-deliveryoptions.wd-widget > .content > .types.delivery-options > ul > li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.wd-checkout-basket-deliveryoptions > .content > .types.delivery-options > ul > li > div{
    margin-left: 8px;
    width: 100%;
    @include small-bold;
}

.wd-checkout-basket-deliveryoptions > .content > .types.delivery-options > ul > li > div > div{
    display: flex;
    justify-content: space-between;
}

.wd-checkout-basket-deliveryoptions > .content > .types.delivery-options > ul > li > div > div > .name{
    @include paragraph-medium;
    width: 100%;
    @media (min-width:$media-min-desktop) {
        max-width: 145px;    
    }
    
}

.wd-checkout-basket-deliveryoptions > .content > .types.delivery-options > ul > li > div > div > .quote{
    @include paragraph-medium;
    min-width: 70px;
    text-align: right;
    @media (min-width:$media-min-desktop) {
        min-width: auto;
    }
}

.wd-checkout-basket-deliveryoptions > .content > .types.delivery-options > ul > li > div > div > .quote.free{
    color: $success0;
}