/* scss/Moléculas/_basket-item_site.scss */ 
.wd-checkout-basket-grid .grid table tbody tr.item{
    background: $white;
    border-radius: $border8;
    box-shadow: $shadow2;
    display: block;
    padding: 16px;
    margin-bottom: 24px;
    position: relative;
    @media (min-width:$media-min-desktop) {
        padding: 8px 24px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item.danger{
    background: rgba($light-1, $opacity50);
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product{
    padding: 0;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div{
    display: flex;
    position: relative;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div{
    max-width: 144px;
    width: 144px;  
    @media (min-width:$media-min-desktop) {
        max-width: 277px;
        width: 277px;    
    }
}

//change item.danger table elements opacity to 50%
.wd-checkout-basket-grid .grid table tbody tr.item.danger td.product > div > a, .wd-checkout-basket-grid .grid table tbody tr.item.danger td.product > div > div, .wd-checkout-basket-grid .grid table tbody tr.item.danger td.quantity .change, .wd-checkout-basket-grid .grid table tbody tr.item.danger td.price, .wd-checkout-basket-grid .grid table tbody tr.item.danger td.subtotal{
    opacity: .5;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > span{
    display: none;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > a{
    display: block;
    width: 88px;
    height: 88px;
    margin: 0px 16px 0px 0px;
    border-radius: $border4;
    @media (min-width:$media-min-desktop) {
        width: 126px;
        height: 126px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > a > img{
    width: 100%;
    height: 100%;
    border-radius: $border4; 
}


.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > div.brandName{
    @include paragraph-medium;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > div.productName{
    @include paragraph-regular;
    text-transform: lowercase;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 8px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > div.title-section, .wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > .title-section .selected-color{
    display: flex;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > .title-section .title{
    @include small-bold;
    text-transform: lowercase;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > .title-section .selected-color .selected-color-icon{
    width: 21px;
    height: 21px;
    border-radius: 100%;
    box-shadow: $shadow1;
    margin: 0px 4px 0px 8px;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.product > div > div > a > .title-section .selected-color-name{
    @include small-bold;
    text-transform: lowercase;
    margin: 0px 0px 8px 4px;
    @media (min-width:$media-min-desktop) {
        margin: 0px 0px 0px 4px;
        
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.quantity{
    display: inline-block;
    margin-left: 104px;
    @media (min-width:$media-min-desktop) {
        display: table-cell;
        margin-left: 0px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.quantity .basket-item-flag-message{
    width: 100%;
    display: none;
    @media (min-width:$media-min-desktop) {
        width: 144px;
        display: block;
        transform: translate(-22px, 10px);
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item.danger td.quantity .basket-item-flag-message.danger{
    background: rgba($light-1, $opacity50);
}

.wd-checkout-basket-grid .grid table tbody tr.item td.quantity > div > .change{
    padding: 4px 0px;
    background: $white;
    box-shadow: $shadow1;
    border-radius: $border4;
    display: flex;
    cursor: pointer;
    min-width: 48px;
    margin-right: 0px;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        margin-right: 40px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item.danger td.quantity > div > .change, .wd-checkout-basket-grid .grid table tbody tr.item.danger td.quantity > div > .change input{
    background: rgba($light-1, $opacity50);
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested td.quantity > div > .change{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    @include paragraph-regular;
    @media (min-width:$media-min-desktop) {
        margin: 0px 70px 0px 28px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.quantity > div > .change .js-qty-less{
    width: 24px;
    height: 24px;
    margin-right: 2px;
    @media (min-width:$media-min-desktop) {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
}
.wd-checkout-basket-grid .grid table tbody tr.item td.quantity > div > .change .js-qty{
    width: auto;
    max-width: 16px;
    margin: 0;
    padding: 0px;
    display: block;
    border: none;
    text-align: center;
    @include paragraph-regular;
    @media (min-width:$media-min-desktop) {
        max-width: 20px;
    }
}
.wd-checkout-basket-grid .grid table tbody tr.item td.quantity > div > .change .js-qty-more{
    width: 24px;
    height: 24px;
    margin-left: 2px;
    @media (min-width:$media-min-desktop) {
        width: 32px;
        height: 32px;
        margin-left: 8px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item.warning td.quantity > div > .change{
    border: 2px $warning0 solid;
}

.wd-checkout-basket-grid .grid table tbody tr.item.warning td.quantity > div > .change .js-qty{
    color: $warning0;
}

.wd-checkout-basket-grid .grid table tbody tr.item.warning td.quantity > div > .change .js-qty-less svg, .wd-checkout-basket-grid .grid table tbody tr.item.warning td.quantity > div > .change .js-qty-more svg{
    fill: $warning0;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.price{
    display: inline-block;
    position: absolute;
    right: 16px;
    @media (min-width:$media-min-desktop) {
        display: table-cell;
        position: static;
        right: auto;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.price div{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    width: 90px;
    @include header-5($primary0);
    align-items: flex-end;
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium;
        margin-right: 45px;
        align-items: initial;
        max-width: 63px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.price div del::before{
    content: 'de ';
    @media (min-width:$media-min-desktop) {
        content: '';
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.price div del{
    @include small-bold($primary0);
    @media (min-width:$media-min-desktop) {
        color: $dark0;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.subtotal{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: table-cell;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.subtotal div{
    @include paragraph-medium;
    margin-right: 50px;
    width: 90px;
    @media (min-width:$media-min-desktop) {
        max-width: 63px;
        margin-right: 35px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.remove{
    position: absolute;
    top: 0px;
    right: 8px;
    @media (min-width:$media-min-desktop) {
        position: static;
        top: auto;
        right: auto;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item td.remove > .remove.js-remove{
    cursor: pointer;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.remove > div > .js-remove.icon{
    width: 40px;
    height: 40px;
    margin: 0;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.remove > div > .js-remove.text-label{
    @include tiny;
    margin-top: -10px;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.children{
    display: block;
    overflow: hidden;
    height: 0px;
}

.wd-checkout-basket-grid .grid table tbody tr.item.opened td.children{
    display: block;
    overflow: initial;
    height: auto;
}

.wd-checkout-basket-grid .grid table tbody tr.item td.children table{
    width: 100%;
    border-top: none; 
}

.wd-checkout-basket-grid .grid table tbody tr.item.opened td.children table{
    border-top: 2px $light0 dashed;
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested{
    border-radius: 0px;
    box-shadow: none; 
    margin: 0px 0px 0px 16px;
    padding: 8px 0px;
    border-bottom: 2px $light0 dashed;
    width: calc(100% - 16px); 
    position: relative;
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested:before{
    content: '';
    display: block;
    border: $light0 solid;
    width: 26px;
    height: 50%;
    position: absolute;
    left: 0;
    border-width: 0px 0px 2px 2px;
    transform: translate(-18px, -10px);
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested:after{
    content: '';
    display: block;
    border-left: 2px $light0 solid;
    width: 26px;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-18px); 
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested:last-child{
    border-bottom: none; 
}
.wd-checkout-basket-grid .grid table tbody tr.item.nested:last-child:after{
    display: none;
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested td.product > div > a{
    display: block;
    width: 80px;
    height: 80px;
    margin: 0px 16px 0px 24px;
    border-radius: $border4;
    @media (min-width:$media-min-desktop) {
        margin: 0px 18px 0px 24px;
    }
}

.wd-checkout-basket-grid .grid table tbody tr.item.nested td.product > div > a > img{
    width: 100%;
    height: 100%;
    border-radius: $border4; 
}

td.product > div > div > div.viewItensKit{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

td.product > div > div > div.viewItensKit .viewItensKit-text{
    @include small-bold;
    width: 45px;
}

td.product > div > div > div.viewItensKit > .viewItensKit-icon{
    width: 32px;
    height: 32px;
}


.wd-checkout-basket-grid .grid table tbody tr.item.opened div.viewItensKit .viewItensKit-text{
    font-size: 0px;
}
.wd-checkout-basket-grid .grid table tbody tr.item.opened div.viewItensKit .viewItensKit-text:before{
    content: 'ocultar';
    @include small-bold;
}
.wd-checkout-basket-grid .grid table tbody tr.item.opened div.viewItensKit .viewItensKit-icon{
    transform: rotate(180deg);
}

.basket-item-flag-message.mobile{
    display: block;
    margin: -14px auto 24px auto;
    position: relative;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}
