.basket-message{
    padding: 16px;
    width: 100%;
    border-radius: $border4;
    @include small-bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        padding: 16px 24px;
    }
}

.basket-message.danger{
    background: rgba($danger0, $opacity20);
    padding: 16px 24px 12px 24px;
}

.basket-message.danger a{
    @include paragraph-medium($danger0);
    margin-top: 8px;
    cursor: pointer;
}

.basket-message.warning{
    background: rgba($warning0, $opacity20);
    @media (min-width:$media-min-desktop) {
        padding: 16px 24px;
    }
}

.basket-message.success{
    background: $white;
    border: 2px $success0 solid;
    padding: 12px 16px;
    @media (min-width:$media-min-desktop) {
        padding: 16px 24px;
    }
}

.basket-message.success span{
    @include paragraph-medium($success0);
}
