.basket-gift-row {
    width: 100%;
    margin: 0;
    padding: 24px 16px 16px 16px;
    box-shadow: $shadow2;
    @media (min-width:$media-min-desktop) {
        max-width: 870px;
        padding: 0;
        box-shadow: none;
    }
}
.basket-gift-row > .wd-checkout-basket-gift > h3{
    @include header-3($primary0);
    margin: 0px 0px 4px 0px;
    text-align: center;
}

.basket-gift-row > .wd-checkout-basket-gift > .subtitle{
    @include paragraph-regular($primary0);
    margin: 0px 0px 16px 0px;
    text-align: center;
}

.basket-gift-row > .wd-checkout-basket-gift > div > ul > li{
    display: none;
}

.basket-gift-row .product-list{
    width: 100%;
    margin: 0;
    padding: 0;
}

.orbit-container > ul > .product-list__group > .small-block-grid-2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    @media (min-width:$media-min-desktop) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.orbit-container > ul > .product-list__group > .small-block-grid-2 a {
    display: block;
    width: 100%;
    @media (min-width:$media-min-desktop) {
        width: auto;
        display: inline-block;
    }
}
.product-list > ul > .product-list__group > .small-block-grid-2{
        padding: 0;
        max-width: 870px;  
        flex-wrap: wrap;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
}

.product-list > ul > .product-list__group > .small-block-grid-2 a {
    display: block;
    width: 100%;
    @media (min-width:$media-min-desktop) {
        width: auto;
        display: inline-block;
    }
}

.wd-checkout-basket-gift .control, .wd-checkout-basket-gift .message-box{
    display: none;
}