.wd-product-gift-line{
    background: $white;
    width: 100%;
    margin-bottom: 0px;
    border-top: 2px $primary0 solid;
    padding: 16px 16px 6px 16px;
    @media (min-width:$media-min-desktop) {
        padding: 16px 8px 15px 8px;
        width: 420px;
        border-radius: $border8;
        box-shadow: $shadow2; 
        margin-bottom: 15px;
        border-top: none;
    }
}
.wd-product-gift-line .wrap{
    display: flex;
}

.wd-product-gift-line .wrap input{
    @media (min-width:$media-min-desktop) {
        margin-left: 10px;
    }
}

.wd-product-gift-line .wrap .gift-photo{
    border-radius: $border8;
    width: 88px;
    height: 88px;
    margin-right: 8px;
    min-width: 88px;
    @media (min-width:$media-min-desktop) {
        width: 126px;
        height: 126px;
        margin-right: 16px;
        margin-left: 16px;
    }
}

.wd-product-gift-line.no-gift .wrap .gift-photo{
    background: rgba($primary0, $opacity20);
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.wd-product-gift-line .wrap .gift-photo img{
    width: 100%;
    height: 100%;
    border-radius: $border8; 
}

.wd-product-gift-line .wrap .gift-info{
    width: 100%;
    @media (min-width:$media-min-desktop) {
        max-width: 190px;
    }
}

.wd-product-gift-line.no-gift .wrap .gift-info{
    margin-left: 10px;
    @media (min-width:$media-min-desktop) {
        margin-left: 0px;
    }
}

.wd-product-gift-line .wrap .gift-info .gift-info-brand{
    @include paragraph-medium;   
    @media (min-width:$media-min-desktop) {
        margin-bottom: 4px;
    } 
}

.wd-product-gift-line .wrap .gift-info .gift-info-name{
    @include paragraph-regular;   
    text-transform: lowercase; 
    @media (min-width:$media-min-desktop) {
        margin-bottom: 4px;
    } 
}

.wd-product-gift-line .wrap .gift-info .gift-info-variation{
    @include paragraph-regular($primary0);    
    text-transform: lowercase;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 4px;
    } 
}

.wd-product-gift-line .wrap .gift-info .gift-free-label{
    @include header-5($success0);
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium($success0);    
    }
}
.basket-gift-row .product-list .orbit-container .orbit-bullets-container, .form-reference{
    display: none;
}