.wd-checkout-basket-discount{
    padding: 24px 16px 16px 16px;
    background: $light-1;
}

.wd-checkout-basket-discount > .new-discount-added{
    display: none;
}


.wd-checkout-basket-discount > .content > .description{
    position: relative;
    padding: 0px 0px 16px 0px;
    background: $light-1;
    @media (min-width:$media-min-desktop) {
        border-radius: $border8;
        box-shadow: $shadow2;
        padding: 24px 16px;
        background: rgba($white, $opacity30);    
    }  
}

.wd-checkout-basket-discount > .content > .description .title{
    text-align: center;
    @include tiny;
    margin-bottom: 8px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 12px; 
    }  
    
}

.wd-checkout-basket-discount > .content > .description > .inputWrapper{
    border-bottom: 2px $dark0 solid;
}

.wd-checkout-basket-discount > .content > .description > .inputWrapper > input{
    border: none;
    height: 40px;
    padding: 0 0 0 8px;
    width: calc(100% - 75px);
    display: block;
    background: transparent;
    @include paragraph-regular;
    text-transform: uppercase;
    @media (min-width:$media-min-desktop) {
        height: 30px;
    }
}

.wd-checkout-basket-discount > .content > .description > .inputWrapper > button{
    position: absolute;
    right: 8px;
    transform: translateY(-100%);
    border: none;
    background: transparent;
    @include paragraph-medium($dark0);
    height: 40px;
    @media (min-width:$media-min-desktop) {
        color: $primary0;
        height: 30px;
        right: 16px;
    }
}


.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    @media (min-width:$media-min-desktop) {
        padding: 8px;
    }
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom:last-child{
    border-bottom: 2px $light0 solid;
}


.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .js-coupon-remove{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    max-height: 40px;
    cursor: pointer;
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .js-coupon-remove .icon{
    width: 100%;
    height: 100%;
    margin-top: -10px;
    @media (min-width:$media-min-desktop) {
        margin-top: -6px;    
    }
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .js-coupon-remove .icon svg{
    fill: $dark0;
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .js-coupon-remove .text{
    @include tiny;
    margin-top: -10px;
    @media (min-width:$media-min-desktop) {
        margin-top: -6px;    
    }
    
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100px;
    align-items: center;
    
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .info .value{
    @include paragraph-medium;
}

.wd-checkout-basket-discount > .content > .basket-discount-coupons .cupom .info .text{
    @include tiny;
    text-align: right;
}

.wd-checkout-basket-discount > .content> .basket-discount-summary{
    padding: 8px 0 0 0;
    @media (min-width:$media-min-desktop) {
        padding: 8px 8px 0px 8px;    
    }
    
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 8px 0px;
    @media (min-width:$media-min-desktop) {
        padding: 8px 0px;
    }
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .total .text{
    @include paragraph-medium;
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .total .value{
    @include paragraph-medium;
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .shipping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px 0px 0px;
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .shipping .text{
    @include paragraph-medium;
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .shipping .value{
    @include paragraph-medium;
}

.wd-checkout-basket-discount > .content> .basket-discount-summary .shipping .value.free{
    color: $success0;
}