.wd-browsing-grid-sorter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 121px;
    @media (min-width:$media-min-desktop) {
        flex-wrap: nowrap;
        width: 100%;
    }
}
.wd-browsing-grid-sorter>span {
    @include paragraph-medium;
    padding: 0;
    display: inline-block;
    overflow: hidden;
     @media (min-width:$media-min-desktop) {
        padding: 8px 0px;
    }
}

.wd-browsing-grid-sorter .custom-select {
    position: relative;
    @include paragraph-regular;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    margin-left: 0px;
    height: 21px;
    width: 135px;
    @media (min-width:$media-min-desktop) {
        margin-left: 24px;    
        height: auto;
        width: 164px;
    }
}

.wd-browsing-grid-sorter .custom-select select {
    display: none;
}

.wd-browsing-grid-sorter .select-selected {
    background-color: transparent;
    color: $primary0
}

.wd-browsing-grid-sorter .select-selected:after {
    display: none;
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #444 transparent transparent transparent;
}

.wd-browsing-grid-sorter .select-selected.select-arrow-active:after {
    border-color: transparent transparent #444 transparent;
    top: 7px;
    display: none;
}

.wd-browsing-grid-sorter .select-items div{
    color: $dark0;
    padding: 6px 0px;
    @media (min-width:$media-min-desktop) {
        padding: 8px 0px;
    }
    
    cursor: pointer;
    border-bottom: 2px solid $light0;
}
.wd-browsing-grid-sorter .select-items div:last-child{
    border-bottom: none;
}
.wd-browsing-grid-sorter .select-selected {
    color: $primary0;
    padding: 8px 0px;
    cursor: pointer;
}

/* Style items (options): */
.wd-browsing-grid-sorter .select-items {
    position: absolute;
    background-color: white;
    padding: 0 8px;
    border-radius: $border8;
    box-shadow: $shadow2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(2px);
    @media (min-width:$media-min-desktop) {
        transform: translateY(8px);
    }
}

/* Hide the items when the select box is closed: */
.wd-browsing-grid-sorter .select-hide {
    display: none;
}

.wd-browsing-grid-sorter .select-items div:hover,
.wd-browsing-grid-sorter .same-as-selected {
    color: $primary0 !important;
}

.browsing-grid__sort{
    display: inline-block;
}

.wd-browsing-grid-sorter .sorter-arrow-icon {
    position: absolute;
    transition: all .2s ease;
    top: 0px;
    right: 0px;
    z-index: -1;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    @media (min-width:$media-min-desktop) {
        transform: translateY(-8px);
    }
}
.wd-browsing-grid-sorter .selection-opened .sorter-arrow-icon {
    transition: all .2s ease;
    transform: rotate(180deg) translateY(50%);
    @media (min-width:$media-min-desktop) {
        transform: rotate(180deg) translateY(8px);
    }
}

.wd-browsing-grid-sorter .select-selected {
    display: block;
    width: 164px;
    padding: 0px;
    top: 0px;
    position: relative;
    overflow-y: auto;
    height: auto;
}