/* scss/Moléculas/_Busca_site.scss */ 
.search-wrapper{
    width: 100%;
    position: relative;
    border-bottom: 2px solid $dark0;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
}
.search-icon svg{
    fill: $light1;
    width: 36px;
    height: auto;
    @media (min-width:$media-min-desktop){
        width: 48px;
        height: 48px;
    }
}
.search-box form{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 60px;
    @media (min-width:$media-min-desktop){
        padding-right: 100px;
    } 
}
.search-input{
    width: 100%;
}
.search-btn{
    position: absolute;
    top:0;
    right: 0px;
    padding: 13px 0px;
    @media (min-width:$media-min-desktop){
        padding: 13px 14px;
    }
}
.search-btn-text button{
    @include paragraph-medium($primary0);
    border:none;
    background: none;
    cursor: pointer;
    padding: 1px 0px;
}
.search-input input{
    @include paragraph-regular;
    width: 100%;
    height: 40px;
    border:none;    
    padding: 0px;
    padding-top: 8px;
    @media (min-width:$media-min-desktop){
        height: 48px;
        padding: 0px;
    }               
}
.search-input input::placeholder {
    color: $light1;
}
