/* scss/Moléculas/_buy-button_site.scss */ 
.grid-product-buy > div > button{
    width: 100%;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 0px;
    }
}
.btn.btn-cta.btn-wide.btn-buy{
    width: 100%;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 0px;
    }
}
.message-product-unavailable{
    @include small-bold($primary0);
    margin: 12px 0px 0px 0px;
    @media (min-width:$media-min-desktop) {
        margin: 12px 0px 0px 0px;
    }
}