/* scss/Moléculas/_Card-Benefícios_site.scss */
.card-benefits{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-benefits .separator{
    display: none;
    @media (min-width:$media-min-desktop){
        width: 2px;
        height: 88px;
        display: block;
        background: $light1;
        margin: 0 46px;
    }
}
.card-benefits-icon{
    width: 72px;
    height: 72px;
    background: $white;
    border-radius: 100%;
    box-shadow: $shadow1;
    @media (min-width:$media-min-desktop){
        width: 80px;
        height: 80px;
    }
}
.card-benefits-icon svg{
    fill: $dark0;
}

.card-benefits-title{
    @include header-3-medium($dark0);
    margin-bottom: 4px;
    @media (min-width:$media-min-desktop){
        margin-bottom: 8px;
    }
}

.card-benefits-text{
    @include paragraph-regular($dark0);
}

.card-benefits-text-content{
    max-width: 138px;
    margin: 0px 0px 0px 16px;
    @media (min-width:$media-min-desktop){
        max-width: 170px;
    }
}