/* scss/Moléculas/_Card-review_site.scss */ 
.card-review-wrapper{
    width: 100%;
    margin: 0 auto;
    @media (min-width: $media-min-desktop) {
        width: 570px;
        height: auto;
        min-height: 229px;
        padding: 24px 30px;
        background: $white;
        box-shadow: $shadow3;
        border-radius: $border8;
    }
}
.card-review-wrapper-profile{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    @media (min-width: $media-min-desktop) {
        margin-bottom: 16px;
        justify-content: flex-start;
    }
}
.card-review-wrapper-profile-photo{
    width: 72px;
    height: 72px;
    background: $light-1;
    border-radius: 100%;
    margin-right: 8px;
    @media (min-width: $media-min-desktop) {
        width: 80px;
        height: 80px;
        background: $white;
        box-shadow: $shadow1;
        margin-right: 30px;
    }
}
.card-review-wrapper-profile-photo img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.card-review-wrapper-profile-info-name, .card-review-wrapper-profile-info-location{
    @include paragraph-regular;
    margin-bottom: 4px;
    @media (min-width: $media-min-desktop) {
        margin-bottom: 0px;
    }
}
.card-review-wrapper-profile-info-review{
    width: 120px;
    height: 24px;
    display: flex;
    @media (min-width: $media-min-desktop) {
        width: 160px;
        height: 32px;
    }
}
.card-review-wrapper-testimonial{
    @include quote;
    margin-bottom: 16px;
}
.card-review-wrapper-testimonial span{
    @include small-bold;
}
.card-review-wrapper-date{
    @include small-bold;
}