/* scss/Moléculas/_facet-type-range_site.scss */ 
.wd-facet-type-range .range2h .handler .icon {
    background-color: #9c9c9c;
    box-shadow: none;
    border-radius: 10px;
    width: 13px;
    height: 8px;
    margin-top: 5px;
    margin-left: 1px
}

.wd-facet-group .defined-range {
    background-color: transparent!important;
    box-shadow: none!important;
    height: 10px!important
}

.wd-facet-group .facets .facet-type.wd-facet-type-range .submit {
    background-color: #fff;
    color: grey;
    font-size: 17px;
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    height: 22px;
    width: 104px;
    padding: 0;
    margin-top: 44px;
    margin-right: 24px;
    margin-bottom: 16px
}

.wd-facet-type-range .range2h .defined-range {
    border-radius: 20px
}

.wd-facet-type-range .range2h {
    background: $light0 !important;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: $border8;
    height: 16px
}

.wd-facet-type-range .range2h .max-text, .wd-facet-type-range .range2h .min-text {
    margin: 0;
    padding: 0 8px;
    border-radius: $border1;
    background: $white;
    border: 2px $dark0 solid;
    transform: translate(0px, 20px);
    @include small-bold;
    @media (min-width:$media-min-desktop) {
        border-radius: $border2;
    }
}

.wd-facet-type-range .range2h .min-text:before, .wd-facet-type-range .range2h .max-text:before{
    content: '';
    position: absolute;
    left: 92%;
    transform: translateX(-50%);
    border-width: 0 7px 7px;
    border-style: solid;
    border-color: $dark0 transparent;
    display: block;
    width: 0;
    top: -7px;
    bottom: auto;
    right: 40px;
}
.wd-facet-type-range .range2h .min-text:before{
    left: 10%;
}
.wd-facet-type-range .range2h .min-text:after, .wd-facet-type-range .range2h .max-text:after{
    content: '';
    position: absolute;
    left: 92%;
    transform: translateX(-50%);
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    top: -4px;
    bottom: auto;
    right: 47px;
}
.wd-facet-type-range .range2h .min-text:after{
    left: 10%;
}            
.wd-facet-type-range .range2h .max-text,.wd-facet-type-range .range2h .min-text {
    position: absolute;
    bottom: -20px;
}
.wd-facet-type-range .range2h .min-text {
    left: 0;
}

.wd-facet-type-range .range2h .max-text {
    right: 0;
}

.wd-facet-type-range .range-wrapper {
    position: relative;
    padding: 12px;
    margin: 15px 0px 10px 0px;
    text-align: right;
    padding: 0;
    height: 45px;
}

.wd-facet-type-range .submit {
    display: none;
}

.wd-facet-type-range .range2h {
    position: relative;
    display: flex;
    align-items: center;
}

.wd-facet-type-range .range2h .handler {
    position: absolute;
    top: -5px;
    width: 0;
    height: 0
}
.range-wrapper .range2h .max.handler{
    width: 24px;
    height: 24px;
}
.wd-facet-type-range .range2h .handler .icon {
    position: absolute;
}

.wd-facet-type-range .range2h .handler.min {
    z-index: 1;
    left: 0;
}

.wd-facet-type-range .range2h .handler.max {
    z-index: 1;
    left: 100%
}
.wd-facet-type-range .range2h .handler.max .icon, .wd-facet-type-range .range2h .handler.min .icon {
    width: 24px;
    height: 24px;
    background: $primary0;
    border-radius: 100%;
    border: 2px $white solid;
    margin: 0;
    transform: translateX(-80%);
}

.wd-facet-type-range .range2h .handler.min .icon {
    transform: translateX(-20%);
}

.wd-facet-type-range .range2h .defined-range {
    border-radius: $border20-0-20-0;
    max-width: 97%;
    min-width: 1%;
    height: 12px !important;
    left: 0px;
    position: absolute;
    background: linear-gradient(-90deg, $primary0 0%, $primary-1 100%) !important;
}
