/* scss/Moléculas/_h3-seo-grid_site.scss */
.h3-seo-grid{
    width: 100%;
    display: flex;
    margin: 8px auto 24px auto;
    padding: 0;
    flex-direction: column;
    @media (min-width: $media-min-desktop) {
        padding-bottom: 24px;
        border-bottom: 2px $light0 solid;
        flex-direction: row;
    }
}
.h3-seo-grid-img.mobile{
    display: block;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.h3-seo-grid-img{
    width: 100%;
    height: auto;
    margin: 0 auto 16px auto;
    order: 2;
    display: none;
    @media (min-width: $media-min-desktop) {
        display: block;
        width: 270px;
        min-width: 270px;
        height: 142px;
        margin: 0 30px 0 0;
        order: 1;
    }
}
.h3-seo-grid-img img{
    margin: 0 auto;
    display: block;
    max-height: 142px;
}
.h3-seo-grid div{
    @media (min-width: $media-min-desktop) {
        order: 2;
    }
}
.h3-seo-grid-title{
    margin-bottom: 16px;
    @include paragraph-medium($primary0);
    order: 1;
    @media (min-width: $media-min-desktop) {
        order: 2;
    }
}
.h3-seo-grid-title h3{
    @include header-3-medium;
    margin: 0;
}
.h3-seo-grid-text{
    order: 3;
}
.h3-seo-grid-text p{
    @include paragraph-regular-serif;
}

.h3-seo-grid-text p a{
    @include paragraph-regular-serif;
}

.h3-seo-grid-text p a:hover{
    text-decoration: underline;
}