/* scss/Moléculas/_h3-seo_site.scss */ 
.seo h3, h3.seo{
    @include header-3-medium;
    margin: 0 auto 8px auto;
    @media (min-width: $media-min-desktop) {
        margin: 0 auto 16px auto;
    }
}