/* scss/Moléculas/_HeaderIcone_site.scss */ 
.header-icon-box{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 36px;
    margin: 0 2px;
    @media (min-width:$media-min-desktop){
        width: 64px;
        margin: 0 4px;
        cursor: pointer;
    } 
}
.header-icon-box.hide-mobile{
    display: none;
    @media (min-width:$media-min-desktop){
        display: inline-block;
    }
}
.header-icon-image{
    margin: 0 auto;
    width: 46px;
    @media (min-width:$media-min-desktop){
        width: 48px;
    }
}
.header-icon-image svg{
    fill: $dark0;
}
.header-icon-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: $dark0;
    display: none;
    @media (min-width:$media-min-desktop){
        display: initial;
    }
}
.header-icon-badge{
    position: absolute;
    top: -2px;
    right: 6px;
    background: #FE80A6;
    border: 2px solid white;
    border-radius: 50%;
    display: none;
    @media (min-width:$media-min-desktop){
        display: initial;
    }
}
.header-icon-badge-text{
    font-size: 12px;
    font-weight: 900;
    color: white;
    text-align: center;
    width: 22px;
    line-height: 22px;
}