/* scss/Moléculas/_kit-item_site.scss */ 
.wd-product-bundle .wd-header{
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 0px 16px 0px;
    margin: 0;
    @media (min-width:$media-min-desktop){
        margin: 0px 0px 12px 0px;
        border-bottom: 2px $light1 solid;
        padding: 45px 0px 16px 0px;
    }
}
.wd-product-bundle .wd-header .wd-title{
    @include header-5;
    margin-bottom: 4px;
    text-transform: lowercase;
}
.wd-product-bundle .wd-header .bundle-chooseone{
    @include paragraph-regular;
}
.bundle-items-wrapper ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    @media (min-width:$media-min-desktop){
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.bundle-items-wrapper ul.bundle-list-items > div{
    padding: 0;
    @media (min-width:$media-min-desktop){
        padding-bottom: 16px;
    }
}
.bundle-item.bundle-itemtype-item{
    width: 100%;
    background: $white;
    border-radius: 0px;
    list-style: none;
    padding: 0;
    @media (min-width:$media-min-desktop){
        max-width: 250px;
        border-radius: $border8;
        box-shadow: $shadow2;
        margin: 12px 21px 24px 21px;
    }
}
.bundle-item.bundle-itemtype-item.checked{
    background: rgba($info-1, $opacity30);
    @media (min-width:$media-min-desktop){
        background: $white;
    }
}
li.bundle-item.bundle-itemtype-item:before{
    content: '';
    height: 2px;
    background: $light0;
    width: calc(100% - 32px);
    display:block;
    margin: 0 auto;
    @media (min-width:$media-min-desktop){
        display: none;
    }
}
.bundle-item.bundle-itemtype-item .product-line-flag-off-sale{
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 2px 7px 1px 7px;
    height: 24px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    border-radius: $border0-4;
    background-color: $primary0;
    @include paragraph-medium($color: $white);
    @media (min-width:$media-min-desktop){
        padding: 3px 14px 2px 14px;
        height: 32px;
        display: flex;
    }
}
.bundle-item-cell.bundle-item-select .custom-checkbox{
    z-index: 1;
}

.bundle-item.bundle-itemtype-item .wrapper-photo{
    margin: 16px 8px 19px 48px;
    border-radius: $border8;
    @media (min-width:$media-min-desktop){
        border-radius: $border8-8-0-0;
        margin: 0;
    }
}
.bundle-item.bundle-itemtype-item .wrapper-photo img{
    max-width: 88px;
    height: auto;
    width: 100%;
    border-radius: $border8;     
    @media (min-width:$media-min-desktop){
        width: 100%;
        max-width: 100%;
        border-radius: $border8-8-0-0;
        position: relative;
    }
}
.bundle-item .error-alert-mobile{
    height: auto;
    padding: 0px 16px !important;
    display: flex;
    margin-bottom: 13px;
    @media (min-width:$media-min-desktop){
        display: none;
    }
}
.bundle-item .error-alert-desktop{
    display: none;
    @media (min-width:$media-min-desktop){
        display: inline;
    }    
}
.bundle-item.bundle-itemtype-item .bundle-list-items > div .error-placeholder{
    width: 100%;
    background: $warning0;
    position: relative;
    border-radius: $border1;
    display: none;
    margin-left: 0px;
    padding: 4px 8px;
    transform: translate(0px, 0px);
    @include small-bold;
    @media (min-width:$media-min-desktop){
        transform: translate(0px, -100%);
        margin-left: 16px;
        width: calc(100% - 32px);
        position: absolute;
    }
}
.bundle-item.bundle-itemtype-item .bundle-list-items > div .error-placeholder:after {
    content: '';
	position: absolute;
    top: 0;
    bottom: initial;
	left: 24%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: $warning0;
	border-top: 0;
	margin-left: -6px;
	margin-top: -6px;
    @media (min-width:$media-min-desktop){
        bottom: 0;
        left: 50%;
        top: initial;
        border: 6px solid transparent;
        border-top-color: $warning0;
        border-bottom: 0;
        margin-left: -6px;
        margin-bottom: -6px;
    }
}


.bundle-item.bundle-itemtype-item .wrapper-photo .mobile-color-selected{
    @include small-bold($primary0);
    width: 88px;
    @media (min-width:$media-min-desktop){
        display: none;
    }
}

.bundle-item-cell.bundle-item-description.bundle-item-select{
    display: none;
    @media (min-width:$media-min-desktop){
        display: block;
    }

}


.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section{
    display: flex;
    align-items: center;
    width: calc(100% - 16px);
    margin: 0 auto;
    padding: 8px;
    border-top: none;
    border-bottom: 2px $dark0 solid;
}
.bundle-item-cell.bundle-item-description.bundle-item-select .title-section .title, .bundle-item-cell.bundle-item-description.bundle-item-select .title-section .selected-color{
    @include small-bold;
    text-transform: lowercase;
}

.bundle-items-wrapper > ul > li > ul > .wrapper-info.activated > ul > li > label > ul > .bundle-item-cell.bundle-item-description.bundle-item-select > div > .title-section{
    padding: 8px 8px;
}

.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section .icon{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
}
.bundle-items-wrapper > ul > li > ul > div > .wrapper-info.activated > ul > li > label > ul > .bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section{
    border-bottom: 2px $primary0 solid;
}
.bundle-item.bundle-itemtype-variation .selected-color{
    display: flex;
    align-items: center;
}

.bundle-item.bundle-itemtype-variation .selected-color-icon{
    margin: 0 4px;
    display: flex;
    top: initial;
}

.bundle-items-wrapper > ul > li > ul > div > .wrapper-info.activated > ul > li > label > ul > .bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section .icon{
    transform: rotate(180deg);
}

.bundle-items-wrapper > ul > li > ul > div > .wrapper-info.activated > ul > li > label > ul > .bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section .icon svg{
    fill: $primary0;
}

.bundle-items-wrapper > ul > li > ul > div > .wrapper-info.activated > ul > li > label > ul > .bundle-item-cell.bundle-item-description.bundle-item-select .title-section .title,
.bundle-items-wrapper > ul > li > ul > div > .wrapper-info.activated > ul > li > label > ul > .bundle-item-cell.bundle-item-description.bundle-item-select .title-section .selected-color{
    color: $primary0;
}
    
.bundle-item-cell.bundle-item-description.bundle-item-select .first.bundle-variation-option{
    display: none;
}

.bundle-item.bundle-itemtype-item > .bundle-list-items > div:first-child{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: -10px;
    @media (min-width:$media-min-desktop){
        display: block;
        flex-direction: column;
        justify-content: initial;
        margin-bottom: 0px;
    }
}
.bundle-item.bundle-itemtype-item > .bundle-list-items > div > div.wrapper-info{
    width: calc(100% - 16px);
    margin: 0 auto;
    background: $white;
    display: none;
    min-height: 30px;
    max-height: 30px;
    @media (min-width:$media-min-desktop){
        display: block;
    }

}
.bundle-item.bundle-itemtype-item > .bundle-list-items > div > div.wrapper-info.activated{
    box-shadow: $shadow3;
    border-radius: $border8;
    position: absolute;
    z-index: 2;
    right: 8px;
    max-height: initial;

}
.bundle-item.bundle-itemtype-item > .bundle-list-items > div > div.wrapper-info > ul > li > label > ul > li > div > div.options{
    height: 0;
    overflow: hidden;
    justify-content: space-between;
}
.bundle-item.bundle-itemtype-item > .bundle-list-items > div > div.wrapper-info.activated > ul > li > label > ul > li > div > div.options{
    height: auto;
    overflow: hidden;
    justify-content: space-between;
}

.bundle-item.bundle-itemtype-item > .bundle-list-items > div > div.wrapper-info > ul > li > label > ul > li > div > div.options .option-selected{
    @include small-bold;
    margin-top: 8px;
    padding-left: 16px;
}

.bundle-item.bundle-itemtype-item > .bundle-list-items > div > div.wrapper-info > ul > li > label > ul > li > div > div.options .options-labels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 12px;
}

.bundle-item-cell.bundle-item-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 16px;
    @media (min-width:$media-min-desktop){
        align-items: center;
        margin-top: 0px;
    }
}

.bundle-item-cell.bundle-item-description.bundle-item-label{
    display: none;
}

.bundle-item-cell.bundle-item-description .title.brand{
    @include paragraph-medium;
    margin-top: 0;
    @media (min-width:$media-min-desktop){
        margin-top: 16px;
    }
}
.wrapper-info.activated + .bundle-item-cell.bundle-item-description > span.title.brand{
    @media (min-width:$media-min-desktop){
        margin-top: 46px;
    }
}
.bundle-item-cell.bundle-item-description .kit-product-name{
    @include paragraph-card;
    min-height: auto;
    @media (min-width:$media-min-desktop){
        min-height: 57px;
    }
}
.item-price-description{
    margin: 4px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop){
        margin: 0;
        min-height: 47px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
.item-price-description .list-price{
    text-align: center;
    display: flex;
    color: $primary0;
    @media (min-width:$media-min-desktop){
        display: block;
        color: $dark0;
    }
}
.item-price-description .list-price > em{
    display: block;
    @include small-bold;
    margin-right: 5px;
    color: $primary0;
    text-transform: lowercase;
    @media (min-width:$media-min-desktop){
        display: none;
        margin: 0;
        color: $dark0;
    }
}

.item-price-description .list-price > span{
    @include small-bold($primary0);
    @media (min-width:$media-min-desktop){
        color: $dark0;
    }
    
}
.item-price-description > strong > span{
    color: $primary0;
    font-size: 20px;
    font-weight: 500;
    @media (min-width:$media-min-desktop){
        @include header-4;
    }
    
}

.bundle-item.bundle-itemtype-item .condition, .item-price-description > strong > em, .bundle-item.bundle-itemtype-item .savings{
    display: none;
}
.bundle-price{
    display: flex;
    justify-content: center;
    @media (min-width:$media-min-desktop){
        border-top: 2px $light1 solid;
        padding-top: 16px; 
    }
}
.bundle-price .wd-product-price-description .selected-products{
    @include small-bold;
    text-align: center;
    @media (min-width:$media-min-desktop){
        @include paragraph-regular;
    }
}
.bundle-price .wd-product-price-description .priceContainer .list-price, .bundle-price .wd-product-price-description .priceContainer .condition, .bundle-price .wd-product-price-description .priceContainer .savings{
    display: none;
}

.bundle-price .wd-product-price-description .priceContainer .sale-price{
    @include paragraph-medium;
    text-align: center;
    @media (min-width:$media-min-desktop){
        @include header-3-medium;
    }
}
.bundle-price .wd-product-price-description .priceContainer .sale-price span:before{
    content: 'total: ';
    text-transform: uppercase;    
}
.bundle-buy.wd-buy-button{
    display: none;
}

.bundle-item.bundle-itemtype-item .arrow-see-more{
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    @media (min-width:$media-min-desktop){
        display: none;
    }

}
.bundle-item.bundle-itemtype-item .arrow-see-more-text{
    @include small-bold;
}
.bundle-item.bundle-itemtype-item .arrow-see-more-icon{
    width: 32px;
    height: 32px;
}


//modal

.bundle-items-wrapper div.wrapper-info.a-modal{
    height: auto !important;
    max-height: initial !important;
    border-radius: $border8;
    box-shadow: $shadow3;
    padding: 20px;
}
.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-label{
    @include header-5;
    padding-left: 16px;
    display: block;
}
.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div{
    margin: 0 auto;
    padding: 0px 16px;
}


.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select{
    margin-top: 0px;
    display: block;
}
.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.options{
    display: flex;
    flex-direction: column;
    height: auto;
}

.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.options > div.options-labels{
    margin: 0 auto;
    padding: 0;
}
.wrapper-info.a-modal .options .option-selected, .wrapper-info.a-modal>ul>li>label>ul>li.bundle-item-cell.bundle-item-description.bundle-item-label{
    display: none;
}
.bundle-items-wrapper > ul > li > ul > .wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section{
    display: flex;
    border: none;
    padding: 8px 0px !important;
}


.bundle-items-wrapper > ul > li > ul > div.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section > div.title{
    text-transform: lowercase;
    color: $dark0;
    font-size: 20px;
    line-height: 120%;
}

.bundle-items-wrapper > ul > li > ul > div > div.wrapper-info.a-modal > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section{
    border-bottom: none;
}
.bundle-items-wrapper > ul > li > ul > div.wrapper-info.a-modal.activated > ul > li > label > ul > li.bundle-item-cell.bundle-item-description.bundle-item-select > div > div.title-section > *{
    color: $dark0;
}

.wrapper-info.a-modal .title-section .selected-color {
    display: flex;
    align-items: center;
}

.wrapper-info.a-modal .title-section .selected-color .selected-color-icon{
    display: flex;
    margin: 0px 4px;
    top: initial;
}

.wrapper-info.a-modal .title-section .icon{
    display: none;
}

.wrapper-info .options > .a-modal-close{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}