/* scss/Moléculas/_Menu-Desktop_site.scss */
.menu-wrapper{
    position: relative;
    height: 56px;
    display: none;
    justify-content: center;
    z-index: 2;
    @media (min-width:$media-min-desktop){
        display: flex;
    }
}
.menu{
    margin: 0 auto;
    display: inline-flex;
    list-style: none;
    width: 1170px;
    position: absolute;
    @include small-medium;
    justify-content: space-around;
}
.menu-item{
    padding: 16px;
    height: 56px;
    cursor: pointer;
    text-transform: lowercase;
}
.menu-item:nth-last-child(-n+3){
    text-transform: uppercase;
}
.menu-item:nth-last-child(2).active{
    display: block;
    transform: translateY(7px);
    z-index: 1;
    display: block;
    background: $primary0;
    box-shadow: $shadow3;
    border-radius: $border4;
    color: $white;
    padding: 10px 16px 0px 16px;
    height: 44px;
}
.menu .all-products{
    color: $primary0;
    position: relative;
    cursor: pointer;
    z-index: 2;
    height: 59px;
    border-radius: $border0-0-4-4; 
}
.menu .all-products:before{
    content: '';
    height: 8px;
    position: absolute;
    width: 100%;
    display: block;
    background: inherit;
}
.menu .all-products:before{
    border-radius: $border4-4-0-0;
    transform: translateY(-100%);
}
.menu .all-products.activeNav{
    color: $white;
    background: $primary0;
    box-shadow: $shadow3;
    transition: all .3s ease-in-out;
}
.menu .all-products.activeNav > .menu-all-products-icon{
    fill: $white;
}
.menu-all-products-icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: $primary0;
    display: inline-block;
    margin: 6px 0px 0px 6px;
}
.menu-all-products-title{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(4px);
    padding: 12px 16px 12px 0px;
}
.menu .all-products .all-products-menu{
    list-style: none;
    visibility: hidden;
    height: 0px;
    color: $dark0;
    border: 2px solid $primary0;
    width: -webkit-fill-available;
    background: $white;
    margin-top: 6px;
    padding: 0 14px;
    border-radius: $border4;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.menu .all-products .all-products-menu.active{
    opacity: 1;
    visibility: visible;
    height: auto;
}
.all-products-menu-item:before{
    content: "";
    height: 72px;
    transform: translate(-16px, -16px);
    width: 16px;
    display: block;
    position: absolute;
}
.all-products-menu-item:after{
    content: "";
    height: 72px;
    transform: translate(0px, -56px);
    width: 16px;
    display: block;
    position: absolute;
    right:0;
}
.all-products-menu-item{
    padding: 8px 0px;
    border-top: 2px $primary0 solid;
    text-transform: lowercase;
}
.all-products-menu-item:nth-child(1){
    border: none;
}
li.active a{
    color: $primary0;
}
li.active a > .menu-all-products-menu-item-icon{
    fill: $primary0;
}
.menu-all-products-menu-item-icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: $dark0;
    display: inline-block;
    margin-left: -10px;
}
.menu-level-2{
    position: absolute;
    display: none;
    top: 46px;
    width: 100%;    
    background: $white;
    box-shadow: $shadow2;
    z-index: 1;
    height: auto;
    min-height: 365px;
    padding-top: 16px;
    left: 0;
}
.menu-level-2 div{
    display: none;
    justify-content: flex-start;
    width: 1170px;
    margin: 0 auto;
}
.menu-level-2 div div{
    display: inline-block;
    margin: 0px 15px;
    max-width: 170px;
}
.menu-level-2 div div:first-child{
    margin-left: 220px;
}
.menu-level-2 div .level-2-title{
    text-transform: uppercase;
    @include  paragraph-medium($primary0);
}
.menu-level-2 div .sub-menu{
    list-style: none;
    padding: 0px 32px 0px 0px;
}
.menu-level-2 div .sub-menu li{
    @include small-medium($dark-1);
    margin: 4px 0px;
    text-transform: lowercase;
    cursor: pointer;
}
.menu-level-2 div .sub-menu li:hover{
    text-decoration: underline;
}
.menu-brands-wrapper{
    display: none;
    width: 100px;
    background: $white;
    position: absolute;
    height: auto;
    padding-bottom: 10px;
    top: 46px;
    width: 100%;
    cursor: default;
    left: 0;
    box-shadow: $shadow2;
}
.menu-brands-wrapper-content{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    
}
.menu-brands-wrapper.active {
    display: flex;
}
.menu-brands-wrapper-find{
    padding: 24px 16px 0px 16px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}
.menu-brands-wrapper-find-title{
    @include paragraph-medium($primary0);
    text-align: center;
    width: 310px;
    margin: 0px auto 8px auto;
}
.menu-brands-wrapper-find-content{
    padding: 24px 30px;
    box-shadow: $shadow3;
    border-radius: $border8;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}
.menu-brands-wrapper-find-content .input-group{
    width: 310px;
    margin-bottom: 16px;
}
.menu-brands-wrapper-find-content .input-group-input{
    width: 310px;
}
.menu-brands-wrapper-find-content-list{
    width: 310px;
    height: 220px;
    background: $light-1;
    border-radius: $border4;
    padding: 8px 16px;
    overflow-y: auto;
    border: 8px $light-1 solid;
}
.menu-brands-wrapper-find-content-list::-webkit-scrollbar-track {
    background-color: $light0;
    border-radius: $border8;
}

.menu-brands-wrapper-find-content-list::-webkit-scrollbar {
    width: 16px;
    background-color: $light0;
    border-radius: $border8;
}

.menu-brands-wrapper-find-content-list::-webkit-scrollbar-thumb {
    border-radius: $border8;
    background-color: $light-1;
    border: 3px solid $light0;
}
.wd-browsing-brand p{
    margin: 5px 0px;
}
.menu-brands-wrapper-find-content-list p a{
    margin: 4px 0px;
    @include small-bold($color: $dark-1);
    text-transform: lowercase;
}
.menu-brands-wrapper-find-content-list p a:hover{
    color: $dark0;
    cursor: pointer;
}
.menu-brands-wrapper-find-content-list p a:active{
    color: $primary0;
}
.menu-brands-wrapper-top-brands{
    padding: 24px 16px 0px 0px;
    width: 100%;
}
.menu-brands-wrapper-top-brands-title{
    @include paragraph-medium($primary0);
    text-align: center;
    margin: 0px auto 8px auto;
}
.menu-brands-wrapper-top-brands-content{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.menu-brands-wrapper-top-brands-content div{
    width: 170px;
    height: 100px;
    border-radius: $border8;
    box-shadow: $shadow3;
    background: $white;
    margin-bottom: 13px;
    cursor: pointer;
}
.menu-brands-wrapper-top-brands-content div a img{
    width: 100%;
    height: 100%;
    border-radius: $border8;
    display: block;
}
.menu-brands-wrapper-top-brands-content div:last-child{
    @include small-medium($primary0);
    display: flex;
    text-transform: lowercase;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.activeNav{
    display: block !important;
}
.activeSubNav{
    display: flex !important;
}