/* scss/Moléculas/_menu-cart-item_site.scss */ 
.menu-cart-item{
    padding: 8px 0px 9px 0px;
    border-bottom: 2px $light-1 solid; 
}
.menu-cart-item .basket__item{
    position: relative;
}
.menu-cart-item .basket__item .item__quantity, .menu-cart-item .basket__item .item__subtotal{
    display: none;
}
.menu-cart-item .basket__item > .item__details > a{
    display: flex;
}
.menu-cart-item .basket__item > .item__details > a img{
    width: 80px;
    height: 80px;
    margin-right: 8px;
}
.menu-cart-item .basket__item .item__body{
    display: flex;
    flex-direction: column;
}
.menu-cart-item .basket__item .item__body .item__brand{
    @include paragraph-medium;
    width: 80%;
    @media (min-width:$media-min-desktop){
        width: 100%;
    }
}
.menu-cart-item .basket__item .item__body .item__name{
    @include small-bold;
    width: 80%;
    @media (min-width:$media-min-desktop){
        width: 100%;
    }
}
.menu-cart-item .basket__item .item__body .item__skuoptions li{
    @include tiny;
    margin-bottom: 4px;
    text-align: left;
}
.menu-cart-item .basket__item .item__body .item__price{
    @include paragraph-medium($primary0);
    margin-bottom: 8px;
}
.menu-cart-item .basket__item .item__remove{
    position: absolute;
    right: 0px;
    cursor: pointer;
    top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-cart-item .basket__item .item__remove-icon{
    width: 32px;
    height: 32px;
}
.menu-cart-item .basket__item .item__remove-text{
    @include tiny;
    margin-top: -5px;
}