.my-account-grid .title-row-mobile { 
    display: block;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 0px;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.my-account-grid .title-row-mobile .icon { 
    width: 40px;
    height: 40px;
}

.my-account-grid .title-row-mobile .icon svg { 
    fill: $dark0;
}


.my-account-grid .title-row-mobile .title { 
    @include header-5;
    text-align: center;
}

.my-account-grid .title-row-mobile .exit-button { 
    @include small-bold;
}