/* scss/Moléculas/_Newsletter_site.scss */
.newsletter-row-wrapper{
    background-color: $white;
    padding: 24px 16px;
    box-sizing: border-box;
    @media (min-width:$media-min-desktop){
        padding: 40px 0px;
        position: relative;
        min-width: 1170px;
    }
}
.newsletter-row-wrapper.home:before{
    @media (min-width:$media-min-desktop){
        content: '';
        position: absolute;
        display: block;
        background-image: url('stars.svg');
        background-repeat: no-repeat;
        background-position: left center;
        height: 100%;
        width: 29.69%;
        top: 0;
    }
}
.newsletter-row-wrapper.home:after{
    @media (min-width:$media-min-desktop){
        content: '';
        position: absolute;
        display: block;
        background-image: url('stars.svg');
        background-repeat: no-repeat;
        background-position: right center;
        transform: scaleX(-1);
        height: 100%;
        width: 29.69%;
        top: 0;
        right: 0;
    }
}
.newsletter-row-wrapper-title{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.newsletter-row-wrapper-title-text h2{
    @include header-5;
    margin: 0px;
}
.newsletter-row-wrapper-title-icon{
    width: 40px;
    height: 40px;
    fill: $primary0;
    @media (min-width:$media-min-desktop){
        width: 56px;
        height: 56px;
    }
}
.newsletter-row-wrapper-subtitle{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.newsletter-row-wrapper-subtitle p{
    @include paragraph-regular;
}

.newsletter-row-wrapper-input{
    width: 100%;
    position: relative;
    margin: 0 auto;
    @media (min-width:$media-min-desktop){
        max-width: 552px;
        border-bottom: 2px solid $dark-1;
    }
}
.newsletter-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.newsletter-icon svg{
    fill: $light1;
    width: 36px;
    height: auto;
    @media (min-width:$media-min-desktop){
        width: 48px;
        height: 48px;
    }
}
.newsletter-box form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @media (min-width:$media-min-desktop){
        padding-right: 100px;
        display: inline-flex;
        flex-direction: row;
        padding-right: 60px;
    } 
}
.newsletter-input{
    width: 100%;
}
.input-box-alert{
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: opacity .3s ease-in-out; 
}
.input-box-alert.show{
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity .3s ease-in-out; 
}
.input-box-alert.show.error{
    border: 2px $danger0 solid;
}
.input-box-alert.show.alert{
    border: 2px $warning0 solid;
}
.input-box-alert.show.success{
    border: 2px $success0 solid;
}
.newsletter-btn{
    position: absolute;
    top:0;
    right: 0px;
    padding: 13px 0px;
    @media (min-width:$media-min-desktop){
        padding: 13px 14px;
    }
}
.newsletter-btn-text button{
    @include paragraph-medium($primary0);
    border:none;
    background: none;
    cursor: pointer;
    padding: 1px 0px;
    display: none;
    @media (min-width:$media-min-desktop){
        display: block;
    } 
}
.newsletter-btn-text-mobile{
    display: block;
    margin-top: 24px;
    @media (min-width:$media-min-desktop){
        display: none;
    } 
}
.newsletter-btn-text-mobile button{
    width: 100%;
    border: none;
    background: none;
    padding: 0px;
}
.newsletter-btn-text-mobile .btn.btn-primary{
    width: 100%;
}
.newsletter-input input{
    @include paragraph-regular;
    width: 100%;
    height: 40px;
    border:none;    
    padding: 0px 0px 0px 8px;
    border-bottom: 2px solid $dark-1;
    @media (min-width:$media-min-desktop){
        height: 48px;
        border: none;
    }               
}
.newsletter-input input::placeholder {
    color: $light1;
}