.no-results-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    margin: 0 auto;
    @media (min-width:$media-min-desktop) {
        padding-top: 40px;
    }
}

.no-results-wrapper .title{
    @include header-1;
    margin-bottom: 0px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 8px;
    }
}

.no-results-wrapper .results{
    @include paragraph-regular; 
    text-align: center;
    margin-bottom: 8px;
}

.no-results-wrapper .message{
    @include paragraph-regular; 
    text-align: center;
    margin-bottom: 32px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 48px;
        max-width: 770px;
    }
 } 