/* scss/Moléculas/_order-itens_site.scss */ 
.order-itens { 
    background: $white;
    padding: 32px 16px;
    @media (min-width:$media-min-desktop) {
        background: $light-1;
        padding: 32px 0 0 0;
    }
}


.page-account-orders .order-itens{
    background: $white;
    display: block;
    padding: 8px;
    @media (min-width:$media-min-desktop) {
        background: $light-1;
    }
}


.page-account-orders > .my-orders > .title{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
    }
}

.page-account-orders > .my-orders > .last-order-scale{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}


.order-itens > .title { 
    @include paragraph-medium;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        padding-bottom: 6px;
        border-bottom: 2px $light0 solid;
    }
}

.wd-profile-reorder .buy-all.pull-right{
    display: none;
}

.order-itens > .order-itens-subtitle{
    display: none;
    margin-bottom: 8px;
    @media (min-width:$media-min-desktop) {
        display: flex;  
        justify-content: space-around;
          
    }
}

.order-itens .order-itens-subtitle .subtitle-item { 
    @include small-bold;
}


.grid-order-product-itens{
    @media (min-width:$media-min-desktop) {
        display: block;
        border-radius: $border8;
        background: $white;
        padding: 0 24px;
    }
}



.order-product-item{
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    border-top: 2px solid $light-1;
}

.grid-order-product-itens > a:first-child .order-product-item{
    @media (min-width:$media-min-desktop) {
        border-top: none;
    }
}




.order-product-item > .img{
    width: 88px;
    height: 88px;
    margin-right: 8px;
    @media (min-width:$media-min-desktop) {
        width: 90px;
        height: 90px;
        border: $border4;
        margin-right: 16px;
    }
}

.order-product-item > .img > img{
    height: 100%;
}

.order-product-item-info{
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop) {
        width: 270px;
    }
}

.order-product-item-info > .brand{
    @include paragraph-medium;
}

.order-product-item-info > .name{
    @include small-bold;   
    text-transform: lowercase; 
    @media (min-width:$media-min-desktop) {
        @include paragraph-regular;
        margin-bottom: 4px;
    }
}

.order-product-item-info > .variation{
    @include tiny;
    margin-bottom: 4px;
    text-align: left;
    text-transform: lowercase; 
    @media (min-width:$media-min-desktop) {
        @include small-bold;
        margin-bottom: 0;
    }
}

.order-product-item-info > .quantity{
    display: block;
    @include tiny;
    margin-bottom: 4px;
    text-align: left;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.order-product-item-info > .price{
    display: block;
    @include paragraph-medium($primary0);
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.order-product-quantity.desktop{
    display: none;
    @media (min-width:$media-min-desktop) {
        width: 100px;
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.order-product-quantity.desktop > .order-product-quantity-container{
    width: 48px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include paragraph-regular;
    border-radius: $border4;
    box-shadow: $shadow1;
}

.order-product-price.desktop{
    display: none;
    @media (min-width:$media-min-desktop) {
        margin-left: 162px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include paragraph-medium($primary0);
    }
}

//lulula
.orders-content > div.my-order > div.order-itens > a, #wd11{
    display: none;
}
