/* scss/Moléculas/_order-detail_site.scss */ 
.my-account-grid.order-detail .title-row-mobile{
    margin: 6px 0 16px 0;
}
.my-account-grid.order-detail .title-row-mobile .title-wrapper-mobile{
    width: 100%;
    display: block;
    padding-right: 24px;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}
.my-account-grid .title-row-mobile .title-wrapper-mobile .title{
    @include paragraph-medium;
}
.my-account-grid .title-row-mobile .title-wrapper-mobile .subtitle{
    @include small-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.my-order > .title{
    @include paragraph-medium;
    justify-content: center;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
    }
}

.my-order > .subtitle{
    @include small-bold;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
        padding-bottom: 16px;
        border-bottom: 2px $light0 solid;
    }
}

.my-account-grid .title-row-mobile .title-wrapper-mobile .subtitle.in-progress span:nth-child(1), .my-order > .subtitle.in-progress span:nth-child(1){
    color: $primary0;
}
.my-order > .subtitle.in-progress span:nth-child(1):after{
    content: ' | ';
    color: $dark0;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}


.my-account-grid .title-row-mobile .title-wrapper-mobile .subtitle.finished span:nth-child(1), .my-order > .subtitle.finished span:nth-child(1){
    color: $success0;
}

.my-account-grid .title-row-mobile .title-wrapper-mobile .subtitle.canceled span:nth-child(1), .my-order > .subtitle.canceled span:nth-child(1){
    color: $danger0;
}

.my-account-grid .title-row-mobile .title-wrapper-mobile .subtitle.finished span:nth-child(2), .my-order > .subtitle.finished span:nth-child(2), .my-account-grid .title-row-mobile .title-wrapper-mobile .subtitle.canceled span:nth-child(2), .my-order > .subtitle.canceled span:nth-child(2){
    display: none;
}


.my-account-grid.order-detail .orders-content > div.my-order > div.last-order-scale > a > div.title span:nth-child(2){
    display: none;
}