/* scss/Moléculas/_order-history_site.scss */ 
.order-history { 
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}


.page-account-orders .order-history{
    background: $white;
    display: block;
    padding: 8px;
    @media (min-width:$media-min-desktop) {
        background: $light-1;
    }
}

.page-account-orders .order-history .order-history-subtitle{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;        
    }
}

.page-account-orders > .my-orders > .title{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
    }
}

.page-account-orders > .my-orders > .last-order-scale{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}


.order-history .title { 
    @include paragraph-medium;
    @media (min-width:$media-min-desktop) {
        padding-bottom: 6px;
        border-bottom: 2px $light0 solid;
        margin-bottom: 16px;
    }
}


.order-history .order-history-subtitle { 
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

.order-history .order-history-subtitle .subtitle-item { 
    @include small-bold;
}

