/* scss/Moléculas/_p-seo_site.scss */ 
.seo p, p.seo{
    margin: 0 auto 16px auto;
    @include paragraph-regular-serif;
}

.seo p span, p.seo span{
    @include paragraph-regular-serif($primary0);
}

.seo p a, p.seo a{
    @include paragraph-regular-serif($primary0);
}

.seo p a:hover, p.seo a:hover{
    text-decoration: underline;
    color: $primary1;
}

.seo p a:visited, p.seo a:visited{
    color: $primary1;
}

.seo p span a, p.seo span a{
    @include paragraph-regular-serif($primary0);
}

.seo p span a:hover, p.seo span a:hover{
    text-decoration: underline;
    color: $primary1;
}

.seo p span a:visited, p.seo span a:visited{
    color: $primary1;
}

.seo p .show-more, p.seo .show-more{
    display: inline;
    cursor: pointer;
}

.seo p .show-more span, p.seo .show-more span{
    font-weight: bold;
}

.seo p .hide, p.seo .hide{
    display: inline;
    cursor: pointer;
    font-weight: bold;
}

//vou estilizar aqui por enquanto esse componente


.navigationSEO{
    display: inline-block;
    color: $primary0;
    margin-bottom: 24px;
}

.navigationSEO a{
    text-transform: capitalize;
    @include paragraph-regular($primary0);
}

.navigationSEO a:hover{
    color: $primary1;
}

.navigationSEO a:visited{
    color: $primary1;
}