/* scss/Moléculas/_Painel-do-Cliente-Mobile_site.scss */ 
.client-painel-mobile{
    width: 100%;
    height: 92px;
    background: #FE80A6;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.client-painel-mobile > *{
    color: $white;
    @include small-medium($white);
}
.client-painel-mobile-customer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.client-painel-mobile-options{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.client-painel-mobile-options-account, .client-painel-mobile-options-tickets, .client-painel-mobile-options-favorites{
    display: flex;
    align-items: center;
}
.client-painel-mobile-options-account-text, .client-painel-mobile-options-tickets-text, .client-painel-mobile-options-favorites-text{
    width: 49px;
}
.client-painel-mobile-customer-icon, .client-painel-mobile-options-account-icon, .client-painel-mobile-options-tickets-icon, .client-painel-mobile-options-favorites-icon{
    width: 32px;
    height: 32px;
    fill: $white;
}