/* scss/Moléculas/_price-description_site.scss */ 
.wd-product-price-description{
    color: $primary0;
    text-align: center;
    @media (min-width:900px) {
        text-align: left;
    }
}
.wd-product-price-description .list-price{
    display: block;
    @include small-bold-card($primary0);
}
.wd-product-price-description .sale-price{
    display: block;
    @include header-1($primary0);
}
.wd-product-price-description .condition, .wd-product-price-description .savings{
    display: block;
    @include small-medium();
}
.wd-product-price-description .condition .label:first-child, .wd-product-price-description .condition .label:last-child{
    display: none;
}