/* scss/Moléculas/_product-description_site.scss */ 
.grid-product-decription{
    background: $light-1;
}
.wd-descriptions{
    width: 100%;
    padding: 32px 16px;
    @media (min-width:$media-min-desktop) {
        width: 970px;
        margin: 0 auto;
    }
}
.wd-descriptions .title{
    display: block;
    border-bottom: 2px solid $light0;
    margin-bottom: 16px;
    width: 100%;
}
.wd-descriptions .title .wd-title{
    @include paragraph-medium($primary0);
}
.wd-descriptions .content .wrapper{
    @include paragraph-regular;
}