/* scss/Moléculas/_product-variations_site.scss */
.wd-product-variations{
    margin: 0;
    @media (min-width: $media-min-desktop) {
        margin-bottom: 16px;
    }
}
.wd-product-variations .variation-group .title{
    @include paragraph-medium; 
}
.wd-product-variations .options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 307px;
    @media (min-width: $media-min-desktop) {
        margin: 0;
        width: 100%;
    }
}
.wd-product-variations .title-section {
    padding-top: 8px;
    border-top: 2px solid $light0;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 16px);
    @media (min-width: $media-min-desktop) {
        width: 415px;
        margin: 0;
    }
}
.wd-product-variations .selected-color {
    display: inline-block;
    @include paragraph-medium; 
}

.wd-product-variations .selected-color-icon {
    position: relative;
    top: 4px;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: $shadow1;
}
.wd-product-variations .options label {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 6px solid white;
    margin: 3px;
}

.wd-product-variations .options label.selected:before {
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    position: absolute;
    top: -5px;
    left: -5px;
    background: transparent;
    border: 2px solid $success0;
    border-radius: 50%;
    box-sizing: border-box;
}


.wd-product-variations .options label:after {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: 0 0;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: $shadow1;
}

.wd-product-variations .options .unavailable-icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: -2px;
    left: -1px;
    fill: $danger0;
}
.wd-product-variations .options .unavailable-icon svg{
    width: 32px;
    height: 32px;
}

.wd-product-variations .options .unavailable-icon use{
    transform: scale(1.5);
}

.wd-product-variations .option-text {
    display: none;
}

.wd-product-variations .options label input {
    visibility: hidden;
}

.error.variation-error{
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    height: 25px;
    margin: 0 auto;
    background: $warning0;
    position: relative;
    border-radius: $border2;
    display: block;
    margin-left: 0px;
    padding: 4px 8px;
    transform: translate(0px, 0px);
    @include small-bold;
    @media (min-width: $media-min-desktop) {
        height: 29px;
        border-radius: $border4;
    }
}
.error.variation-error:after {
    content: '';
	position: absolute;
    top: 0;
    bottom: initial;
	left: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: $warning0;
	border-top: 0;
	margin-left: -6px;
	margin-top: -6px;
   
}

.wd-product-variations .variation-group .options label span input:before{
    visibility: hidden;
}