/* scss/Moléculas/_product-notifywhenavailable_site.scss */ 
.wd-product-notifywhenavailable .bt-notifyme {
    width: 100%;
    background: $warning0;
    color: $dark-1;
    border-radius: $border32;
}
.wd-product-notifywhenavailable .bt-notifyme :focus{
    background: $warning1;
    box-shadow: $shadow1;
}
.wd-product-notifywhenavailable .bt-notifyme :hover{
    background: $warning1;
    box-shadow: $shadow2;
}
.wd-product-notifywhenavailable .bt-notifyme :active{
    background: $warning0;
    box-shadow: $shadow3;
}
.wd-product-notifywhenavailable .bt-notifyme .disabled{
    background: $light0;
    box-shadow: none;
}
.modal-wd-product-notifymewhenavailable .hide{
    display:none;
}