/* scss/Moléculas/_wd-product-associations_site.scss */ 
.wd-product-associations{
    width: 100%;
    margin: 32px auto;
    @media (min-width: $media-min-desktop) {
        width: 1170px;
        position: relative;
        margin: 54px auto;
    }
}
.wd-product-associations .wd-header {
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 24px;
    }
}
.wd-product-associations .wd-title{
    @include header-5;
    margin: 0 auto;
    text-align: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 0px 16px;
    background: $white;
    @media (min-width: $media-min-desktop) {
        padding: 0 20px;
    }
}
.wd-product-associations .wd-header:after {
    content: "";
    display: block;
    height: 2px;
    background: $dark0;
    width: 100%;
    position: relative;
    transform: translateY(-11px);
    z-index: -1;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        transform: translateY(-14px);
    }
}
.wd-product-associations .wd-content ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 10px;
}
.wd-product-associations .wd-content ul li{
    width: 50%;
    margin-bottom: 16px;
    padding: 0 4px;
    @media (min-width:$media-min-desktop) {
        width: 250px;
        padding: 0;
        margin: 0px 50px 0px 0px;
    }
}
.wd-product-associations .wd-content ul li:nth-child(4n){
    @media (min-width:$media-min-desktop) {
        margin: 0px 0px 0px 0px;
    }
}
.wd-product-associations .wd-content ul li .wd-product-line{
    width: 100%; 
    margin: 0 auto;
    @media (min-width:$media-min-desktop) {
        margin: 0;
    }
}  