/* scss/Moléculas/_seo-number-icon_site.scss */ 
.seo-number-icon{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: $primary-1;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    @include header-1($white);
}