.shipping-msg-box{
    background: rgba($light-1, $opacity50);
    border: 2px $light-1 solid;
    border-radius: $border4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    margin-top: 48px;
}
.shipping-msg-icon{
    width: 57px;
    min-width: 57px;
    height: 57px;
    border-radius: 100%;
    background: $white;
    box-shadow: $shadow2;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:$media-min-desktop) {
        width: 66px;
        min-width: 66px;
        height: 66px;
        margin-right: 12px;
    }
}
.shipping-msg-icon svg{
    fill: $dark0;
    display: block;
}
.shipping-msg-text{
    @media (min-width:$media-min-desktop) {
        
    }
}
.shipping-msg-box .shipping-msg-text .title{
    @include paragraph-medium;
    color: $success0;
    
}
.shipping-msg-box .shipping-msg-text .msg{
    @include small-bold;
}

.shipping-msg-box.basket{
    padding: 10px;
    margin-top: 24px;
}
.shipping-msg-box.basket .shipping-msg-text .title, .shipping-msg-box.basket .shipping-msg-text .msg{
    text-align: center;
}