/* scss/Moléculas/_toggle-product-view_site.scss */
.toggle-product-view{
    display: flex;
}
.toggle-product-view-item.default{
    width: 40px;
    height: 40px;
}
.toggle-product-view-item.list{
    width: 40px;
    height: 40px;
}
.toggle-product-view-item.activated svg{
    fill: $primary0;
}