<!-- coda aqui! depois salva o que foi feito em components 
o SCSS salva na pasta Moláculas, Organismos, Átomos... Dependendo do que foi feito aqui.
-->

<head>
    <meta name="viewport" content="width=device-width,user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="css/main_site.min.css">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<svg style="display:none;">
	<defs>
		<symbol id="icon-arrow-down">
			<path xmlns="http://www.w3.org/2000/svg" d="M33.1733 24.3867L28 29.56L22.8266 24.3867C22.3066 23.8667 21.4666 23.8667 20.9466 24.3867C20.4266 24.9067 20.4266 25.7467 20.9466 26.2667L27.0666 32.3867C27.5866 32.9067 28.4266 32.9067 28.9466 32.3867L35.0666 26.2667C35.5866 25.7467 35.5866 24.9067 35.0666 24.3867C34.5466 23.88 33.6933 23.8667 33.1733 24.3867Z"/>
		</symbol>
		<symbol id="icon-arrow-left">
			<path xmlns="http://www.w3.org/2000/svg" d="M31.6131 20.9466C31.0931 20.4266 30.2531 20.4266 29.7331 20.9466L23.6131 27.0666C23.0931 27.5866 23.0931 28.4266 23.6131 28.9466L29.7331 35.0666C30.2531 35.5866 31.0931 35.5866 31.6131 35.0666C32.1331 34.5466 32.1331 33.7066 31.6131 33.1866L26.4398 28L31.6131 22.8266C32.1331 22.3066 32.1198 21.4533 31.6131 20.9466Z"/>
		</symbol>
		<symbol id="icon-arrow-right">
			<path xmlns="http://www.w3.org/2000/svg" d="M24.3866 20.9467C23.8666 21.4667 23.8666 22.3067 24.3866 22.8267L29.5599 28.0001L24.3866 33.1734C23.8666 33.6934 23.8666 34.5334 24.3866 35.0534C24.9066 35.5734 25.7466 35.5734 26.2666 35.0534L32.3866 28.9334C32.9066 28.4134 32.9066 27.5734 32.3866 27.0534L26.2666 20.9334C25.7599 20.4267 24.9066 20.4267 24.3866 20.9467Z"/>
		</symbol>
		<symbol id="icon-arrow-up">
			<path xmlns="http://www.w3.org/2000/svg" d="M27.0535 23.6133L20.9335 29.7333C20.4135 30.2533 20.4135 31.0933 20.9335 31.6133C21.4535 32.1333 22.2935 32.1333 22.8135 31.6133L28.0001 26.4399L33.1735 31.6133C33.6935 32.1333 34.5335 32.1333 35.0535 31.6133C35.5735 31.0933 35.5735 30.2533 35.0535 29.7333L28.9335 23.6133C28.4268 23.0933 27.5735 23.0933 27.0535 23.6133Z"/>
		</symbol>
		<symbol id="icon-bag">
			<path xmlns="http://www.w3.org/2000/svg" d="M37.3333 20H34.6667C34.6667 16.32 31.68 13.3334 28 13.3334C24.32 13.3334 21.3333 16.32 21.3333 20H18.6667C17.2 20 16 21.2 16 22.6667V38.6667C16 40.1334 17.2 41.3334 18.6667 41.3334H37.3333C38.8 41.3334 40 40.1334 40 38.6667V22.6667C40 21.2 38.8 20 37.3333 20ZM28 16C30.2133 16 32 17.7867 32 20H24C24 17.7867 25.7867 16 28 16ZM28 29.3334C24.8933 29.3334 22.28 27.2134 21.5467 24.3334C21.32 23.4934 21.9733 22.6667 22.84 22.6667C23.4667 22.6667 23.9733 23.12 24.1467 23.7334C24.6133 25.4267 26.16 26.6667 28 26.6667C29.84 26.6667 31.3867 25.4267 31.8533 23.7334C32.0267 23.12 32.5333 22.6667 33.16 22.6667C34.0267 22.6667 34.6667 23.4934 34.4533 24.3334C33.72 27.2134 31.1067 29.3334 28 29.3334Z"/>
		</symbol>
		<symbol id="icon-bag-outline">
			<path xmlns="http://www.w3.org/2000/svg" d="M37.3333 20H34.6667C34.6667 16.32 31.68 13.3334 28 13.3334C24.32 13.3334 21.3333 16.32 21.3333 20H18.6667C17.2 20 16 21.2 16 22.6667V38.6667C16 40.1334 17.2 41.3334 18.6667 41.3334H37.3333C38.8 41.3334 40 40.1334 40 38.6667V22.6667C40 21.2 38.8 20 37.3333 20ZM28 16C30.2133 16 32 17.7867 32 20H24C24 17.7867 25.7867 16 28 16ZM37.3333 38.6667H18.6667V22.6667H37.3333V38.6667ZM28 28C25.7867 28 24 26.2134 24 24H21.3333C21.3333 27.68 24.32 30.6667 28 30.6667C31.68 30.6667 34.6667 27.68 34.6667 24H32C32 26.2134 30.2133 28 28 28Z"/>
		</symbol>
		<symbol id="icon-card">
			<path xmlns="http://www.w3.org/2000/svg" d="M38.6665 17.3334H17.3332C15.8532 17.3334 14.6798 18.52 14.6798 20L14.6665 36C14.6665 37.48 15.8532 38.6667 17.3332 38.6667H38.6665C40.1465 38.6667 41.3332 37.48 41.3332 36V20C41.3332 18.52 40.1465 17.3334 38.6665 17.3334ZM37.3332 36H18.6665C17.9332 36 17.3332 35.4 17.3332 34.6667V28H38.6665V34.6667C38.6665 35.4 38.0665 36 37.3332 36ZM38.6665 22.6667H17.3332V20H38.6665V22.6667Z"/>
		</symbol>
		<symbol id="icon-full-star">
			<path d="M40.7499 23.0667L32.6832 22.3667L29.5332 14.95C28.9665 13.6 27.0332 13.6 26.4665 14.95L23.3165 22.3833L15.2665 23.0667C13.7999 23.1833 13.1999 25.0167 14.3165 25.9833L20.4332 31.2833L18.5999 39.15C18.2665 40.5833 19.8165 41.7167 21.0832 40.95L27.9999 36.7833L34.9165 40.9667C36.1832 41.7333 37.7332 40.6 37.3999 39.1667L35.5665 31.2833L41.6832 25.9833C42.7999 25.0167 42.2165 23.1833 40.7499 23.0667Z"/>
		</symbol>
		<symbol id="icon-half-star">
			<path xmlns="http://www.w3.org/2000/svg" d="M40.7499 23.0667L32.6832 22.3667L29.5332 14.95C28.9665 13.6 27.0332 13.6 26.4665 14.95L23.3165 22.3833L15.2665 23.0667C13.7999 23.1833 13.1999 25.0167 14.3165 25.9833L20.4332 31.2833L18.5999 39.15C18.2665 40.5833 19.8165 41.7167 21.0832 40.95L27.9999 36.7833L34.9165 40.9667C36.1832 41.7333 37.7332 40.6 37.3999 39.1667L35.5665 31.2833L41.6832 25.9833C42.7999 25.0167 42.2165 23.1833 40.7499 23.0667ZM27.9999 33.6667V18.1667L30.8499 24.9L38.1499 25.5333L32.6165 30.3333L34.2832 37.4667L27.9999 33.6667Z"/>
		</symbol>
		<symbol id="icon-menu">
			<path xmlns="http://www.w3.org/2000/svg" d="M17.3333 36H38.6667C39.4 36 40 35.4 40 34.6667C40 33.9333 39.4 33.3333 38.6667 33.3333H17.3333C16.6 33.3333 16 33.9333 16 34.6667C16 35.4 16.6 36 17.3333 36ZM17.3333 29.3333H38.6667C39.4 29.3333 40 28.7333 40 28C40 27.2667 39.4 26.6667 38.6667 26.6667H17.3333C16.6 26.6667 16 27.2667 16 28C16 28.7333 16.6 29.3333 17.3333 29.3333ZM16 21.3333C16 22.0667 16.6 22.6667 17.3333 22.6667H38.6667C39.4 22.6667 40 22.0667 40 21.3333C40 20.6 39.4 20 38.6667 20H17.3333C16.6 20 16 20.6 16 21.3333Z"/>
		</symbol>
		<symbol id="icon-right">
			<path xmlns="http://www.w3.org/2000/svg" d="M24 33.5999L19.3333 28.9332C18.8133 28.4132 17.9867 28.4132 17.4667 28.9332C16.9467 29.4532 16.9467 30.2799 17.4667 30.7999L23.0533 36.3866C23.5733 36.9066 24.4133 36.9066 24.9333 36.3866L39.0667 22.2666C39.5867 21.7466 39.5867 20.9199 39.0667 20.3999C38.5467 19.8799 37.72 19.8799 37.2 20.3999L24 33.5999Z"/>
		</symbol>
		<symbol id="icon-empty-heart">
			<path xmlns="http://www.w3.org/2000/svg" d="M38.2133 17.32C34.6933 14.92 30.3466 16.04 28 18.7867C25.6533 16.04 21.3066 14.9067 17.7866 17.32C15.92 18.6 14.7466 20.76 14.6666 23.04C14.48 28.2134 19.0666 32.36 26.0666 38.72L26.2 38.84C27.2133 39.76 28.7733 39.76 29.7866 38.8267L29.9333 38.6934C36.9333 32.3467 41.5066 28.2 41.3333 23.0267C41.2533 20.76 40.08 18.6 38.2133 17.32V17.32ZM28.1333 36.7334L28 36.8667L27.8666 36.7334C21.52 30.9867 17.3333 27.1867 17.3333 23.3334C17.3333 20.6667 19.3333 18.6667 22 18.6667C24.0533 18.6667 26.0533 19.9867 26.76 21.8134H29.2533C29.9466 19.9867 31.9466 18.6667 34 18.6667C36.6666 18.6667 38.6666 20.6667 38.6666 23.3334C38.6666 27.1867 34.48 30.9867 28.1333 36.7334Z"/>
		</symbol>
		<symbol id="icon-empty-star">
			<path xmlns="http://www.w3.org/2000/svg" d="M40.7501 23.0667L32.6835 22.3667L29.5335 14.95C28.9668 13.6 27.0335 13.6 26.4668 14.95L23.3168 22.3833L15.2668 23.0667C13.8001 23.1833 13.2001 25.0167 14.3168 25.9833L20.4335 31.2833L18.6001 39.15C18.2668 40.5833 19.8168 41.7167 21.0835 40.95L28.0001 36.7833L34.9168 40.9667C36.1835 41.7333 37.7335 40.6 37.4001 39.1667L35.5668 31.2833L41.6835 25.9833C42.8001 25.0167 42.2168 23.1833 40.7501 23.0667ZM28.0001 33.6667L21.7335 37.45L23.4001 30.3167L17.8668 25.5167L25.1668 24.8833L28.0001 18.1667L30.8501 24.9L38.1501 25.5333L32.6168 30.3333L34.2835 37.4667L28.0001 33.6667Z"/>
		</symbol>
		<symbol id="icon-full-heart">
			<path xmlns="http://www.w3.org/2000/svg" d="M29.8 38.84C28.7866 39.76 27.2266 39.76 26.2133 38.8267L26.0666 38.6934C19.0666 32.36 14.4933 28.2134 14.6666 23.04C14.7466 20.7734 15.9066 18.6 17.7866 17.32C21.3066 14.92 25.6533 16.04 28 18.7867C30.3466 16.04 34.6933 14.9067 38.2133 17.32C40.0933 18.6 41.2533 20.7734 41.3333 23.04C41.52 28.2134 36.9333 32.36 29.9333 38.72L29.8 38.84Z"/>
		</symbol>
		<symbol id="icon-profile">
			<path xmlns="http://www.w3.org/2000/svg" d="M28.0002 28C30.9468 28 33.3335 25.6134 33.3335 22.6667C33.3335 19.72 30.9468 17.3334 28.0002 17.3334C25.0535 17.3334 22.6668 19.72 22.6668 22.6667C22.6668 25.6134 25.0535 28 28.0002 28ZM28.0002 30.6667C24.4402 30.6667 17.3335 32.4534 17.3335 36V37.3334C17.3335 38.0667 17.9335 38.6667 18.6668 38.6667H37.3335C38.0668 38.6667 38.6668 38.0667 38.6668 37.3334V36C38.6668 32.4534 31.5602 30.6667 28.0002 30.6667Z"/>
		</symbol>
		<symbol id="icon-search">
			<path xmlns="http://www.w3.org/2000/svg" d="M32.6665 30.6666H31.6132L31.2399 30.3066C32.8399 28.44 33.6665 25.8933 33.2132 23.1866C32.5865 19.48 29.4932 16.52 25.7599 16.0666C20.1199 15.3733 15.3732 20.12 16.0665 25.76C16.5199 29.4933 19.4799 32.5866 23.1865 33.2133C25.8932 33.6666 28.4399 32.84 30.3065 31.24L30.6665 31.6133V32.6666L36.3465 38.3333C36.8932 38.88 37.7732 38.88 38.3199 38.3333L38.3332 38.32C38.8799 37.7733 38.8799 36.8933 38.3332 36.3466L32.6665 30.6666ZM24.6665 30.6666C21.3465 30.6666 18.6665 27.9866 18.6665 24.6666C18.6665 21.3466 21.3465 18.6666 24.6665 18.6666C27.9865 18.6666 30.6665 21.3466 30.6665 24.6666C30.6665 27.9866 27.9865 30.6666 24.6665 30.6666Z"/>
		</symbol>
		<symbol id="icon-shipping">
			<path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" d="M34.6666 22.6666H37.9999C38.4133 22.6666 38.8133 22.8666 39.0666 23.1999L42.1333 27.2933C42.4799 27.7599 42.6666 28.3199 42.6666 28.8933V33.3333C42.6666 34.0666 42.0666 34.6666 41.3333 34.6666H39.9999C39.9999 36.8799 38.2133 38.6666 35.9999 38.6666C33.7866 38.6666 31.9999 36.8799 31.9999 34.6666H23.9999C23.9999 36.8799 22.2133 38.6666 19.9999 38.6666C17.7866 38.6666 15.9999 36.8799 15.9999 34.6666C14.5333 34.6666 13.3333 33.4666 13.3333 31.9999V19.9999C13.3333 18.5333 14.5333 17.3333 15.9999 17.3333H31.9999C33.4666 17.3333 34.6666 18.5333 34.6666 19.9999V22.6666ZM18.6666 34.6666C18.6666 35.3999 19.2666 35.9999 19.9999 35.9999C20.7333 35.9999 21.3333 35.3999 21.3333 34.6666C21.3333 33.9333 20.7333 33.3333 19.9999 33.3333C19.2666 33.3333 18.6666 33.9333 18.6666 34.6666ZM40.6133 27.9999L37.9999 24.6666H34.6666V27.9999H40.6133ZM34.6666 34.6666C34.6666 35.3999 35.2666 35.9999 35.9999 35.9999C36.7333 35.9999 37.3333 35.3999 37.3333 34.6666C37.3333 33.9333 36.7333 33.3333 35.9999 33.3333C35.2666 33.3333 34.6666 33.9333 34.6666 34.6666ZM23.3747 29.0749C23.7293 29.4187 24.2751 29.4187 24.6296 29.0798L24.6762 29.0356L24.7044 29.0087C27.1376 26.6813 28.7298 25.1583 28.6647 23.2601C28.6367 22.4252 28.2309 21.6247 27.5731 21.1532C26.3416 20.2643 24.8209 20.6818 23.9998 21.6935C23.1788 20.6818 21.6581 20.2692 20.4265 21.1532C19.7688 21.6247 19.363 22.4252 19.335 23.2601C19.2743 25.1656 20.8744 26.693 23.3234 29.0258L23.3747 29.0749Z" clip-rule="evenodd"/>
		</symbol>
		<symbol id="icon-x">
			<path xmlns="http://www.w3.org/2000/svg" d="M30.52 23.6L28 26.12L25.48 23.6C24.96 23.08 24.12 23.08 23.6 23.6C23.08 24.12 23.08 24.96 23.6 25.48L26.12 28L23.6 30.52C23.08 31.04 23.08 31.88 23.6 32.4C24.12 32.92 24.96 32.92 25.48 32.4L28 29.88L30.52 32.4C31.04 32.92 31.88 32.92 32.4 32.4C32.92 31.88 32.92 31.04 32.4 30.52L29.88 28L32.4 25.48C32.92 24.96 32.92 24.12 32.4 23.6C31.88 23.0933 31.0266 23.0933 30.52 23.6ZM28 14.6666C20.6266 14.6666 14.6666 20.6266 14.6666 28C14.6666 35.3733 20.6266 41.3333 28 41.3333C35.3733 41.3333 41.3333 35.3733 41.3333 28C41.3333 20.6266 35.3733 14.6666 28 14.6666ZM28 38.6666C22.12 38.6666 17.3333 33.88 17.3333 28C17.3333 22.12 22.12 17.3333 28 17.3333C33.88 17.3333 38.6666 22.12 38.6666 28C38.6666 33.88 33.88 38.6666 28 38.6666Z"/>
        </symbol>
        <symbol id="icon-flower">
            <path d="M28 44.6667C35.6 44.6667 41.8833 39.0001 42.8667 31.6667C43.0167 30.6001 42.0667 29.6501 41 29.8001C33.6667 30.7834 28 37.0667 28 44.6667ZM17.3333 25.0834C17.3333 27.3834 19.2 29.2501 21.5 29.2501C22.3833 29.2501 23.1833 28.9834 23.8667 28.5167L23.8333 28.8334C23.8333 31.1334 25.7 33.0001 28 33.0001C30.3 33.0001 32.1667 31.1334 32.1667 28.8334L32.1333 28.5167C32.8 28.9834 33.6167 29.2501 34.5 29.2501C36.8 29.2501 38.6667 27.3834 38.6667 25.0834C38.6667 23.4167 37.6833 22.0001 36.2833 21.3334C37.6833 20.6667 38.6667 19.2501 38.6667 17.5834C38.6667 15.2834 36.8 13.4167 34.5 13.4167C33.6167 13.4167 32.8167 13.6834 32.1333 14.1501L32.1667 13.8334C32.1667 11.5334 30.3 9.66675 28 9.66675C25.7 9.66675 23.8333 11.5334 23.8333 13.8334L23.8667 14.1501C23.2 13.6834 22.3833 13.4167 21.5 13.4167C19.2 13.4167 17.3333 15.2834 17.3333 17.5834C17.3333 19.2501 18.3167 20.6667 19.7167 21.3334C18.3167 22.0001 17.3333 23.4167 17.3333 25.0834ZM28 17.1667C30.3 17.1667 32.1667 19.0334 32.1667 21.3334C32.1667 23.6334 30.3 25.5001 28 25.5001C25.7 25.5001 23.8333 23.6334 23.8333 21.3334C23.8333 19.0334 25.7 17.1667 28 17.1667ZM13.1333 31.6667C14.1167 39.0001 20.4 44.6667 28 44.6667C28 37.0667 22.3333 30.7834 15 29.8001C13.9333 29.6501 12.9833 30.6001 13.1333 31.6667Z"/>                
		</symbol>

		<symbol id="icon-checked">
			<path d="M28.0001 14.6666C20.6401 14.6666 14.6667 20.64 14.6667 28C14.6667 35.36 20.6401 41.3333 28.0001 41.3333C35.3601 41.3333 41.3334 35.36 41.3334 28C41.3334 20.64 35.3601 14.6666 28.0001 14.6666ZM28.0001 38.6666C22.1067 38.6666 17.3334 33.8933 17.3334 28C17.3334 22.1066 22.1067 17.3333 28.0001 17.3333C33.8934 17.3333 38.6667 22.1066 38.6667 28C38.6667 33.8933 33.8934 38.6666 28.0001 38.6666Z"/>
			<path d="M27.9999 34.6667C31.6818 34.6667 34.6666 31.6819 34.6666 28C34.6666 24.3181 31.6818 21.3334 27.9999 21.3334C24.318 21.3334 21.3333 24.3181 21.3333 28C21.3333 31.6819 24.318 34.6667 27.9999 34.6667Z"/>
		</symbol>

		<symbol id="icon-unchecked">
			<path d="M28.0001 14.6666C20.6401 14.6666 14.6667 20.64 14.6667 28C14.6667 35.36 20.6401 41.3333 28.0001 41.3333C35.3601 41.3333 41.3334 35.36 41.3334 28C41.3334 20.64 35.3601 14.6666 28.0001 14.6666ZM28.0001 38.6666C22.1067 38.6666 17.3334 33.8933 17.3334 28C17.3334 22.1066 22.1067 17.3333 28.0001 17.3333C33.8934 17.3333 38.6667 22.1066 38.6667 28C38.6667 33.8933 33.8934 38.6666 28.0001 38.6666Z"/>				
		</symbol>
		
		<symbol id="icon-wrong">
			<path d="M36.4 19.6133C35.88 19.0933 35.04 19.0933 34.52 19.6133L28 26.12L21.48 19.6C20.96 19.08 20.12 19.08 19.6 19.6C19.08 20.12 19.08 20.96 19.6 21.48L26.12 28L19.6 34.52C19.08 35.04 19.08 35.88 19.6 36.4C20.12 36.92 20.96 36.92 21.48 36.4L28 29.88L34.52 36.4C35.04 36.92 35.88 36.92 36.4 36.4C36.92 35.88 36.92 35.04 36.4 34.52L29.88 28L36.4 21.48C36.9066 20.9733 36.9066 20.12 36.4 19.6133Z"/>
		</symbol>

		<symbol id="icon-youtube">
			<path d="M41 24.9325C41 21.6456 38.3923 19 35.2478 19H20.6755C17.531 19 15 21.6456 15 24.9325V32.0675C15 35.3544 17.531 38 20.6755 38H35.3245C38.469 38 41 35.3544 41 32.0675V24.9325ZM31.7198 28.8608L25.8909 32.2278C25.6608 32.3882 25.4307 32.1477 25.4307 31.9072V25.0127C25.4307 24.692 25.6608 24.5316 25.8909 24.692L31.7965 28.2194C32.0265 28.2996 31.9499 28.7004 31.7198 28.8608Z"/>				
		</symbol>

		<symbol id="icon-facebook">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M24.6582 28.0819V41.6725C24.6582 41.8363 24.8101 42 24.962 42H29.6709C29.8228 42 29.9747 41.8363 29.9747 41.6725V27.9181H33.3924C33.5443 27.9181 33.6962 27.7544 33.6962 27.5906L34 23.4152C34 23.1696 33.8481 23.0058 33.6962 23.0058H29.9747V20.0585C29.9747 19.4035 30.5063 18.8304 31.1139 18.8304H33.6962C33.8481 18.8304 34 18.6667 34 18.5029V14.3275C34 14.1637 33.8481 14 33.6962 14H29.3671C26.7848 14 24.6582 16.2924 24.6582 19.076V23.0877H22.3038C22.1519 23.0877 22 23.2515 22 23.4152V27.5088C22 27.6725 22.1519 27.8363 22.3038 27.8363H24.6582V28.0819Z"/>
		</symbol>	
		
		<symbol id="icon-instagram">
			<path d="M35.352 19.162C34.4134 19.162 33.7095 19.8659 33.7095 20.8045C33.7095 21.743 34.4134 22.4469 35.352 22.4469C36.2905 22.4469 36.9944 21.743 36.9944 20.8045C36.9944 19.8659 36.2905 19.162 35.352 19.162ZM28 21.2737C24.1676 21.2737 21.1173 24.4022 21.1173 28.1564C21.1173 31.9106 24.2458 35.0391 28 35.0391C31.8324 35.0391 34.8827 31.9106 34.8827 28.1564C34.8827 24.4022 31.8324 21.2737 28 21.2737ZM28 32.6145C25.5754 32.6145 23.5419 30.6592 23.5419 28.1564C23.5419 25.7318 25.4972 23.6983 28 23.6983C30.4246 23.6983 32.4581 25.6536 32.4581 28.1564C32.4581 30.6592 30.5028 32.6145 28 32.6145ZM42 22.4469C42 17.7542 38.2458 14 33.5531 14H22.4469C17.7542 14 14 17.7542 14 22.4469V33.5531C14 38.2458 17.7542 42 22.4469 42H33.5531C38.2458 42 42 38.2458 42 33.5531V22.4469ZM39.3408 33.5531C39.3408 36.7598 36.7598 39.3408 33.5531 39.3408H22.4469C19.2402 39.3408 16.6592 36.7598 16.6592 33.5531V22.4469C16.6592 19.2402 19.2402 16.6592 22.4469 16.6592H33.5531C36.7598 16.6592 39.3408 19.2402 39.3408 22.4469V33.5531Z"/>				
		</symbol>

		<symbol id="icon-linkedin">
			<path d="M40 29.9158V38.5177C40 38.7588 39.8389 38.9196 39.5973 38.9196H35.1678C34.9262 38.9196 34.7651 38.7588 34.7651 38.5177V30.5589C34.7651 28.4687 34.0403 27.0217 32.1074 27.0217C30.6577 27.0217 29.8523 27.9864 29.4497 28.9511C29.2886 29.2726 29.2886 29.755 29.2886 30.2373V38.598C29.2886 38.8392 29.1275 39 28.8859 39H24.4564C24.2148 39 24.0537 38.8392 24.0537 38.598C24.0537 36.5079 24.1342 26.1373 24.0537 23.7256C24.0537 23.4844 24.2148 23.3236 24.4564 23.3236H28.8859C29.1275 23.3236 29.2886 23.4844 29.2886 23.7256V25.5746C29.2886 25.5746 29.2886 25.5746 29.2886 25.655V25.5746C30.0134 24.5295 31.2215 23.0021 33.9597 23.0021C37.4228 22.9217 40 25.1727 40 29.9158ZM16.4027 38.9196H20.8322C21.0738 38.9196 21.2349 38.7588 21.2349 38.5177V23.6452C21.2349 23.404 21.0738 23.2433 20.8322 23.2433H16.4027C16.1611 23.2433 16 23.404 16 23.6452V38.5177C16 38.7588 16.1611 38.9196 16.4027 38.9196Z"/>
			<path d="M19 22C20.6569 22 22 20.6569 22 19C22 17.3431 20.6569 16 19 16C17.3431 16 16 17.3431 16 19C16 20.6569 17.3431 22 19 22Z"/>				
		</symbol>

		<symbol id="icon-pinterest">
			<path d="M29.8767 35.2854C28.1944 35.1193 27.4373 34.2884 26.0915 33.5407C25.5027 36.6979 24.7456 39.689 23.0633 41.683C22.5586 42.2646 21.5492 42.0154 21.5492 41.1845C21.2968 36.1994 23.0633 32.2944 23.9045 28.1401C22.3062 25.4814 24.0727 19.9977 27.5215 21.3271C31.7273 22.9888 23.9044 31.3804 29.1197 32.3775C34.5873 33.4576 36.8584 22.9888 33.4938 19.4992C28.5309 14.5972 19.1098 19.4161 20.2874 26.4784C20.5398 27.8078 21.6333 28.4724 21.4651 29.8018C21.3809 30.6327 20.5398 31.1312 19.7827 30.7158C17.5957 29.7187 16.9228 27.4754 17.0069 24.7336C17.1751 19.333 21.8856 15.5942 26.5962 15.0957C32.5685 14.431 38.1202 17.2559 38.8772 22.7395C39.7184 28.971 36.1855 35.7009 29.8767 35.2854Z"/>			
		</symbol>

		<symbol id="icon-twitter">
			<path d="M41.9121 19.7139C41.0327 20.1516 40.0654 20.3267 39.0981 20.5018C39.5378 20.5018 40.2413 19.6264 40.5051 19.3637C40.9448 18.8385 41.2965 18.3132 41.4724 17.7004C41.4724 17.6128 41.4724 17.6128 41.4724 17.5253C41.3845 17.5253 41.3845 17.5253 41.2965 17.5253C40.2413 18.1381 39.0981 18.4883 37.955 18.8385C37.867 18.8385 37.7791 18.8385 37.6911 18.7509C37.6032 18.6634 37.5153 18.5758 37.4273 18.4883C36.8997 18.0505 36.3721 17.7004 35.8445 17.5253C34.9651 17.0875 34.0858 17 33.2944 17C32.5029 17.0875 31.6236 17.2626 30.9201 17.7004C30.2166 18.0505 29.5131 18.5758 28.9855 19.2762C28.4579 19.9765 28.0182 20.6769 27.8423 21.5524C27.6665 22.3403 27.6665 23.1282 27.7544 23.9161C27.7544 24.0912 27.7544 24.0912 27.6665 24.0912C23.0938 23.3908 19.2246 21.7275 16.1469 18.2256C15.971 18.0505 15.8831 18.0505 15.7951 18.2256C14.4761 20.2392 15.0917 23.4784 16.7624 25.1417C17.0262 25.3168 17.29 25.4919 17.5539 25.667C17.4659 25.667 16.3228 25.5795 15.3555 25.0542C15.1796 24.9666 15.1796 25.0542 15.1796 25.1417C15.1796 25.3168 15.1796 25.5795 15.1796 25.8421C15.4434 27.8556 16.8504 29.7816 18.785 30.5696C19.0488 30.6571 19.3126 30.7446 19.4884 30.8322C19.0488 30.9197 18.6091 31.0073 17.29 30.9197C17.1142 30.9197 17.0262 31.0073 17.1142 31.0948C18.0815 33.7212 20.1919 34.5091 21.6868 34.9468C21.8627 34.9468 22.1265 34.9468 22.3024 35.0344C21.7748 35.8223 20.0161 36.4351 19.1367 36.6977C17.6418 37.223 15.971 37.4857 14.3882 37.3106C14.1244 37.3106 14.0364 37.3106 14.0364 37.3106C13.9485 37.3106 14.0364 37.3981 14.1244 37.4857C14.4761 37.6607 14.7399 37.9234 15.0917 38.0985C16.1469 38.6237 17.2021 39.0615 18.2573 39.3241C23.9732 40.8999 30.3925 39.7618 34.7013 35.4721C38.0429 32.1454 39.274 27.5055 39.274 22.9531C39.274 22.778 39.4499 22.6905 39.6257 22.6029C40.5051 21.9901 41.2086 21.2022 41.8241 20.3267C42 20.1516 42 19.9765 42 19.889C42 19.7139 42 19.7139 41.9121 19.7139Z"/>
		</symbol>
		<symbol id="icon-5-off">
			<path d="M16.7337 18.6239L17.5075 11.9397H25.0245V14.1166H19.6908L19.3591 16.9438C19.9917 16.6126 20.6642 16.447 21.3766 16.447C22.654 16.447 23.655 16.8354 24.3797 17.6122C25.1044 18.389 25.4667 19.4759 25.4667 20.873C25.4667 21.7221 25.2825 22.4838 24.914 23.1583C24.5516 23.8267 24.0296 24.3476 23.3479 24.7209C22.6662 25.0882 21.8617 25.2719 20.9344 25.2719C20.1237 25.2719 19.3714 25.1123 18.6774 24.7932C17.9835 24.468 17.4338 24.0133 17.0285 23.4292C16.6293 22.8451 16.4174 22.1797 16.3929 21.433H19.0275C19.0828 21.981 19.2762 22.4085 19.6079 22.7157C19.9456 23.0167 20.3847 23.1673 20.9252 23.1673C21.527 23.1673 21.9907 22.9565 22.3162 22.535C22.6417 22.1075 22.8044 21.5053 22.8044 20.7285C22.8044 19.9818 22.6171 19.4097 22.2425 19.0123C21.8679 18.6148 21.3366 18.4161 20.6488 18.4161C20.0163 18.4161 19.5034 18.5787 19.1104 18.9039L18.8525 19.1387L16.7337 18.6239Z"/>
			<path d="M27.1341 14.4688C27.1341 13.6619 27.4012 13.0086 27.9355 12.5087C28.4698 12.0029 29.1699 11.75 30.0359 11.75C30.9141 11.75 31.6203 11.9999 32.1546 12.4997C32.6889 12.9935 32.9561 13.6649 32.9561 14.514V15.1643C32.9561 15.9773 32.6889 16.6306 32.1546 17.1244C31.6203 17.6182 30.9202 17.8651 30.0543 17.8651C29.1822 17.8651 28.476 17.6182 27.9355 17.1244C27.4012 16.6246 27.1341 15.9532 27.1341 15.1102V14.4688ZM28.9028 15.1643C28.9028 15.5257 29.0072 15.8177 29.216 16.0405C29.4309 16.2573 29.7104 16.3657 30.0543 16.3657C30.3982 16.3657 30.6715 16.2543 30.8741 16.0315C31.0768 15.8087 31.1781 15.5106 31.1781 15.1372V14.4688C31.1781 14.1075 31.0768 13.8155 30.8741 13.5927C30.6715 13.3699 30.3921 13.2585 30.0359 13.2585C29.6981 13.2585 29.4248 13.3699 29.216 13.5927C29.0072 13.8094 28.9028 14.1135 28.9028 14.505V15.1643ZM33.5456 21.8666C33.5456 21.0536 33.8159 20.4003 34.3563 19.9065C34.8967 19.4067 35.5968 19.1568 36.4566 19.1568C37.3287 19.1568 38.0319 19.4037 38.5662 19.8975C39.1066 20.3852 39.3768 21.0597 39.3768 21.9208V22.5711C39.3768 23.378 39.1128 24.0314 38.5846 24.5312C38.0565 25.025 37.3533 25.2719 36.4751 25.2719C35.5907 25.2719 34.8814 25.022 34.3471 24.5222C33.8128 24.0224 33.5456 23.36 33.5456 22.535V21.8666ZM35.3143 22.5711C35.3143 22.9023 35.4249 23.1854 35.646 23.4202C35.8671 23.655 36.1434 23.7725 36.4751 23.7725C37.2243 23.7725 37.5989 23.366 37.5989 22.5531V21.8666C37.5989 21.5053 37.4945 21.2162 37.2857 20.9994C37.0769 20.7766 36.8005 20.6652 36.4566 20.6652C36.1127 20.6652 35.8364 20.7766 35.6276 20.9994C35.4187 21.2162 35.3143 21.5143 35.3143 21.8937V22.5711ZM30.5794 24.1067L29.2805 23.4202L35.8302 13.141L37.1291 13.8275L30.5794 24.1067Z"/>
			<path d="M23.1729 36.5416C23.1729 37.8363 22.9395 38.9714 22.4728 39.947C22.006 40.9225 21.3366 41.6752 20.4646 42.2051C19.5986 42.735 18.6037 43 17.4799 43C16.3683 43 15.3765 42.7381 14.5044 42.2142C13.6323 41.6903 12.9568 40.9436 12.4777 39.9741C11.9987 38.9985 11.7561 37.8785 11.75 36.6139V35.9636C11.75 34.6689 11.9864 33.5308 12.4593 32.5492C12.9384 31.5616 13.6108 30.8059 14.4768 30.282C15.3488 29.7521 16.3437 29.4871 17.4615 29.4871C18.5792 29.4871 19.571 29.7521 20.4369 30.282C21.309 30.8059 21.9815 31.5616 22.4544 32.5492C22.9334 33.5308 23.1729 34.6659 23.1729 35.9545V36.5416ZM20.3724 35.9455C20.3724 34.5665 20.1207 33.5187 19.6171 32.8021C19.1135 32.0855 18.3949 31.7272 17.4615 31.7272C16.5341 31.7272 15.8186 32.0825 15.3151 32.7931C14.8115 33.4976 14.5566 34.5334 14.5505 35.9003V36.5416C14.5505 37.8845 14.8022 38.9263 15.3058 39.6669C15.8094 40.4076 16.5341 40.778 17.4799 40.778C18.4072 40.778 19.1196 40.4227 19.6171 39.7121C20.1145 38.9955 20.3663 37.9538 20.3724 36.5868V35.9455Z"/>
			<path d="M33.2509 37.4449H27.9447V42.8193H25.1811V29.6678H33.9141V31.8627H27.9447V35.259H33.2509V37.4449Z"/>
			<path d="M43.5867 37.4449H38.2806V42.8193H35.517V29.6678H44.25V31.8627H38.2806V35.259H43.5867V37.4449Z"/>
		</symbol>	
		<symbol id="icon-dont-see">
			<path d="M28 20.6667C31.68 20.6667 34.6667 23.6534 34.6667 27.3334C34.6667 28.0134 34.5334 28.6667 34.3467 29.28L38.4267 33.36C40.28 31.72 41.7467 29.6667 42.6667 27.32C40.36 21.48 34.6667 17.3334 28 17.3334C26.3067 17.3334 24.68 17.6 23.1467 18.0934L26.04 20.9867C26.6667 20.8 27.32 20.6667 28 20.6667ZM15.6134 16.2134C15.0934 16.7334 15.0934 17.5734 15.6134 18.0934L18.24 20.72C16.08 22.44 14.36 24.7067 13.3334 27.3334C15.64 33.1867 21.3334 37.3334 28 37.3334C30.0267 37.3334 31.96 36.9334 33.7467 36.24L37.3734 39.8667C37.8934 40.3867 38.7334 40.3867 39.2534 39.8667C39.7734 39.3467 39.7734 38.5067 39.2534 37.9867L17.5067 16.2134C16.9867 15.6934 16.1334 15.6934 15.6134 16.2134ZM28 34C24.32 34 21.3334 31.0134 21.3334 27.3334C21.3334 26.3067 21.5734 25.3334 21.9867 24.48L24.08 26.5734C24.04 26.8134 24 27.0667 24 27.3334C24 29.5467 25.7867 31.3334 28 31.3334C28.2667 31.3334 28.5067 31.2934 28.76 31.24L30.8534 33.3334C29.9867 33.76 29.0267 34 28 34ZM31.96 26.8934C31.76 25.0267 30.2934 23.5734 28.44 23.3734L31.96 26.8934Z"/>
		</symbol>					
		<symbol id="icon-see">
			<path d="M28 17.3334C21.3334 17.3334 15.64 21.48 13.3334 27.3334C15.64 33.1867 21.3334 37.3334 28 37.3334C34.6667 37.3334 40.36 33.1867 42.6667 27.3334C40.36 21.48 34.6667 17.3334 28 17.3334ZM28 34C24.32 34 21.3334 31.0134 21.3334 27.3334C21.3334 23.6534 24.32 20.6667 28 20.6667C31.68 20.6667 34.6667 23.6534 34.6667 27.3334C34.6667 31.0134 31.68 34 28 34ZM28 23.3334C25.7867 23.3334 24 25.12 24 27.3334C24 29.5467 25.7867 31.3334 28 31.3334C30.2134 31.3334 32 29.5467 32 27.3334C32 25.12 30.2134 23.3334 28 23.3334Z"/>
		</symbol>			
		<symbol id="icon-spotify">
			<path d="M28 14C20.2667 14 14 20.2667 14 28C14 35.7333 20.2667 42 28 42C35.7333 42 42 35.7333 42 28C41.9333 20.2667 35.6667 14 28 14ZM34.4 34.2C34.1333 34.6 33.6 34.7333 33.2 34.4667C29.9333 32.4667 25.8 32 20.8667 33.1333C20.4 33.2667 19.9333 32.9333 19.8 32.5333C19.6667 32.0667 20 31.6 20.4 31.4667C25.7333 30.2667 30.3333 30.8 33.9333 33C34.5333 33.2 34.6 33.8 34.4 34.2ZM36.0667 30.4C35.7333 30.8667 35.0667 31.0667 34.6 30.7333C30.8 28.4 25.0667 27.7333 20.6667 29.1333C20.1333 29.2667 19.4667 29 19.3333 28.4667C19.2 27.9333 19.4667 27.2667 20 27.1333C25.1333 25.6 31.4 26.3333 35.7333 29C36.2 29.2 36.4 29.8667 36.0667 30.4ZM36.2 26.4667C31.7333 23.8 24.2667 23.5333 20 24.8667C19.3333 25.0667 18.6 24.6667 18.4 24C18.2 23.3333 18.6 22.6 19.2667 22.4C24.2 20.9333 32.4 21.2 37.6 24.2667C38.2 24.6 38.4667 25.4667 38.0667 26.0667C37.6667 26.6 36.8667 26.8 36.2 26.4667Z"/>
		</symbol>	
		<symbol id="icon-tag">
			<path d="M40.5467 27.44L28.5467 15.44C28.0667 14.96 27.4001 14.6666 26.6667 14.6666H17.3334C15.8667 14.6666 14.6667 15.8666 14.6667 17.3333V26.6666C14.6667 27.4 14.9601 28.0666 15.4534 28.56L27.4534 40.56C27.9334 41.04 28.6001 41.3333 29.3334 41.3333C30.0667 41.3333 30.7334 41.04 31.2134 40.5466L40.5467 31.2133C41.0401 30.7333 41.3334 30.0666 41.3334 29.3333C41.3334 28.6 41.0267 27.92 40.5467 27.44ZM19.3334 21.3333C18.2267 21.3333 17.3334 20.44 17.3334 19.3333C17.3334 18.2266 18.2267 17.3333 19.3334 17.3333C20.4401 17.3333 21.3334 18.2266 21.3334 19.3333C21.3334 20.44 20.4401 21.3333 19.3334 21.3333ZM35.0267 32.36L29.8001 37.5866C29.5334 37.8533 29.1201 37.8533 28.8534 37.5866L23.6267 32.36C22.8667 31.5866 22.4667 30.4533 22.7334 29.24C22.9867 28.0666 23.9201 27.0933 25.0801 26.7866C26.3334 26.4533 27.5467 26.84 28.3334 27.6533L29.3334 28.6133L30.3067 27.64C30.9067 27.04 31.7467 26.6666 32.6667 26.6666C34.5067 26.6666 36.0001 28.16 36.0001 30C36.0001 30.92 35.6267 31.76 35.0267 32.36Z"/>
		</symbol>		
		<symbol id="icon-group">
			<path d="M33.3333 26.6666C35.5466 26.6666 37.3199 24.88 37.3199 22.6666C37.3199 20.4533 35.5466 18.6666 33.3333 18.6666C31.1199 18.6666 29.3333 20.4533 29.3333 22.6666C29.3333 24.88 31.1199 26.6666 33.3333 26.6666ZM22.6666 26.6666C24.8799 26.6666 26.6533 24.88 26.6533 22.6666C26.6533 20.4533 24.8799 18.6666 22.6666 18.6666C20.4533 18.6666 18.6666 20.4533 18.6666 22.6666C18.6666 24.88 20.4533 26.6666 22.6666 26.6666ZM22.6666 29.3333C19.5599 29.3333 13.3333 30.8933 13.3333 34V36C13.3333 36.7333 13.9333 37.3333 14.6666 37.3333H30.6666C31.3999 37.3333 31.9999 36.7333 31.9999 36V34C31.9999 30.8933 25.7733 29.3333 22.6666 29.3333ZM33.3333 29.3333C32.9466 29.3333 32.5066 29.36 32.0399 29.4C32.0666 29.4133 32.0799 29.44 32.0933 29.4533C33.6133 30.56 34.6666 32.04 34.6666 34V36C34.6666 36.4666 34.5733 36.92 34.4266 37.3333H41.3333C42.0666 37.3333 42.6666 36.7333 42.6666 36V34C42.6666 30.8933 36.4399 29.3333 33.3333 29.3333Z"/>
		</symbol>
		<symbol id="icon-mail">
			<path d="M38.6667 17.3334H17.3334C15.8667 17.3334 14.6801 18.5334 14.6801 20L14.6667 36C14.6667 37.4667 15.8667 38.6667 17.3334 38.6667H38.6667C40.1334 38.6667 41.3334 37.4667 41.3334 36V20C41.3334 18.5334 40.1334 17.3334 38.6667 17.3334ZM37.3334 36H18.6667C17.9334 36 17.3334 35.4 17.3334 34.6667V22.6667L26.5867 28.4534C27.4534 29 28.5467 29 29.4134 28.4534L38.6667 22.6667V34.6667C38.6667 35.4 38.0667 36 37.3334 36ZM28.0001 26.6667L17.3334 20H38.6667L28.0001 26.6667Z"/>				
		</symbol>
		<symbol id="icon-profile-outline">
			<path d="M27.9999 28C30.9466 28 33.3333 25.6134 33.3333 22.6667C33.3333 19.72 30.9466 17.3334 27.9999 17.3334C25.0533 17.3334 22.6666 19.72 22.6666 22.6667C22.6666 25.6134 25.0533 28 27.9999 28ZM27.9999 20C29.4666 20 30.6666 21.2 30.6666 22.6667C30.6666 24.1334 29.4666 25.3334 27.9999 25.3334C26.5333 25.3334 25.3333 24.1334 25.3333 22.6667C25.3333 21.2 26.5333 20 27.9999 20ZM27.9999 29.3334C24.4399 29.3334 17.3333 31.12 17.3333 34.6667V37.3334C17.3333 38.0667 17.9333 38.6667 18.6666 38.6667H37.3333C38.0666 38.6667 38.6666 38.0667 38.6666 37.3334V34.6667C38.6666 31.12 31.5599 29.3334 27.9999 29.3334ZM35.9999 36H19.9999V34.68C20.2666 33.72 24.3999 32 27.9999 32C31.5999 32 35.7333 33.72 35.9999 34.6667V36Z"/>
		</symbol>
		<symbol id="icon-place">
			<style type="text/css">
				.st0{fill-rule:evenodd;clip-rule:evenodd;}
			</style>
			<path xmlns="http://www.w3.org/2000/svg" class="st0" d="M28,29c2.8,0,5-2.2,5-5c0-2.8-2.2-5-5-5s-5,2.2-5,5C23,26.8,25.2,29,28,29z M28,26.5c1.4,0,2.5-1.1,2.5-2.5  c0-1.4-1.1-2.5-2.5-2.5c-1.4,0-2.5,1.1-2.5,2.5C25.5,25.4,26.6,26.5,28,26.5z"/>
			<path xmlns="http://www.w3.org/2000/svg" class="st0" d="M27,40.1c-2.4-2.9-8.3-10.6-8.3-16.1c0-5.2,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3c0,5.6-5.9,13.2-8.3,16.1  C28.5,40.8,27.5,40.8,27,40.1z M28,17.2c-3.8,0-6.8,3.1-6.8,6.8c0,2.1,1.2,4.9,2.9,7.8c1.3,2.2,2.8,4.2,3.9,5.7  c1.1-1.5,2.6-3.5,3.9-5.6c1.7-2.9,2.9-5.7,2.9-7.8C34.8,20.2,31.8,17.2,28,17.2z"/>
		</symbol>
		<symbol id="logo">
			<style>
				.cls-1 {
					fill: #444;
				}
	
				.cls-2 {
					fill: #f280a5;
				}
	
				.cls-3 {
					fill: #fff;
				}
			</style>
			<path class="cls-1"
				d="M87.4,27.5a34.6,34.6,0,0,1-5.3,6.8,17.8,17.8,0,0,1-3.6,2.5,5.8,5.8,0,0,1-1.8.4A2.7,2.7,0,0,1,74,34.4a9.5,9.5,0,0,1,.8-3.7c1.5-4.2,3.3-8.3,6.4-11.8,1.7-1.9,3.6-3.6,6.2-4.2a5.7,5.7,0,0,1,6,1.8,2.7,2.7,0,0,1,.6,1.2,1.4,1.4,0,0,1-.7,1.7,1.3,1.3,0,0,1-1.7-.5,2.7,2.7,0,0,0-3.5-1.3,9.7,9.7,0,0,0-4.5,3,38.8,38.8,0,0,0-5.7,8.2l-1.8,3.7a4.6,4.6,0,0,0-.5,2A1.3,1.3,0,0,0,77.3,36a7.9,7.9,0,0,0,4-2.2A28.2,28.2,0,0,0,87.2,26a14.6,14.6,0,0,0,1.6-3.9,5,5,0,0,1,.5-1.3,1.4,1.4,0,0,1,1.8-.7,1.3,1.3,0,0,1,.7,1.7C91,25,90,28.1,89.3,31.3a14.6,14.6,0,0,0-.3,3.6c.1,1.1.5,1.4,1.5.9a13.1,13.1,0,0,0,3.1-2.7,50.7,50.7,0,0,0,3.6-4.5A6,6,0,0,0,98,27a27.6,27.6,0,0,1,6.1-9,11.7,11.7,0,0,1,5.1-2.8,5.5,5.5,0,0,1,6.3,2.8,1.7,1.7,0,0,1-.3,1.7,1.2,1.2,0,0,1-1.5.2c-.3-.1-.5-.2-.6-.5a2.7,2.7,0,0,0-3.3-1.3,8.1,8.1,0,0,0-3.8,2.2,27.2,27.2,0,0,0-5.1,6.5c-1.2,2-2.2,4-3.2,6.1a4.6,4.6,0,0,0-.6,2.3,1.3,1.3,0,0,0,1.6,1.4,5.4,5.4,0,0,0,2.6-1.1,22.2,22.2,0,0,0,5.4-5.6,40.7,40.7,0,0,0,2.8-5.5c.6-1.2,1.2-2.2,1.7-3.3a1.4,1.4,0,0,1,1.9-.6,1.3,1.3,0,0,1,.6,1.8c-1.1,2.4-2.3,4.9-3.4,7.4s-1.8,3.8-2.6,5.8c.2.1.3,0,.5-.1a21.4,21.4,0,0,0,9.2-7.4,3,3,0,0,0,.4-1,51.1,51.1,0,0,1,4.7-10.4l.7-1.2a1.3,1.3,0,0,1,1.9-.4,1.3,1.3,0,0,1,.4,1.8c-1.8,3.5-3.5,7.1-5.2,10.8-.8,2-1.6,4-2.2,6s-.4,1.3.1,1.8,1.2.1,1.8-.1a14.7,14.7,0,0,0,4.6-3.2,70.2,70.2,0,0,0,6.9-8.6l.6-1.4q1.2-3,2.7-6l.6-1a1.3,1.3,0,0,1,1.8-.4,1.3,1.3,0,0,1,.6,1.8L134.2,24a77,77,0,0,0-3.6,8.3,8.8,8.8,0,0,0-.6,2.8c0,.8.2.9.9.7a9.2,9.2,0,0,0,2.8-1.9,28.9,28.9,0,0,0,2.9-3.2.9.9,0,0,0,.3-.6,57.6,57.6,0,0,1,5.4-14.3l.3-.5a1.5,1.5,0,0,1,1.9-.6,1.3,1.3,0,0,1,.5,1.9c-1.4,3.3-2.9,6.5-4.3,9.8a34.2,34.2,0,0,0-2.2,6.1,6.6,6.6,0,0,0-.3,2.4c.1,1,.5,1.3,1.5,1.1a7.8,7.8,0,0,0,3.5-2.1,31.8,31.8,0,0,0,5.2-5.8.5.5,0,0,1,.8-.2v.6a35.7,35.7,0,0,1-4.4,5.2,20.7,20.7,0,0,1-4.2,3.1c-2,1.1-3.7.2-4-2a22.5,22.5,0,0,1,0-2.6,36.9,36.9,0,0,1-3.5,3.4,8.6,8.6,0,0,1-2,1.3,1.7,1.7,0,0,1-2.5-1.3,11.8,11.8,0,0,1,.4-4.2c.2-1.2.6-2.3.9-3.5a.6.6,0,0,0,.1-.6c-.3.1-.4.4-.5.6a47.4,47.4,0,0,1-6.5,6.9,9.1,9.1,0,0,1-2.9,1.9c-2.4,1.1-4-.1-4-2.7a12.7,12.7,0,0,1,.4-2.6.8.8,0,0,0,.1-.7c-.2-.1-.3.1-.4.2a21.4,21.4,0,0,1-8.3,5.6c-.5.3-.5.5-.4,1a14.5,14.5,0,0,1,1,6.2,4.9,4.9,0,0,1-2.1,3.8,2.9,2.9,0,0,1-3.3.2,2.7,2.7,0,0,1-1.1-2.9,33.2,33.2,0,0,1,1.4-4.9c.7-2.1,1.4-4.3,2.3-6.4l.3-.8c0-.1.1-.2,0-.3s-.1.1-.2.2a21.6,21.6,0,0,1-3.8,3.6,9.7,9.7,0,0,1-2.9,1.4c-2,.6-3.6-.6-3.6-2.8a14.7,14.7,0,0,1,.5-2.9c.1,0,.2-.1.1-.2h-.2a31.2,31.2,0,0,1-4.4,4.5,4.8,4.8,0,0,1-1.6.8c-1.1.2-1.9-.3-2.3-1.7a15,15,0,0,1-.3-5.6,15,15,0,0,0,.2-2.2c.1-.1.1-.1,0-.2Zm19.2,10.4-1.9,3.9a20.2,20.2,0,0,0-1.4,3.4,1.4,1.4,0,0,0,1.8,1.8,2.8,2.8,0,0,0,2.1-2c.8-2.5.2-4.8-.6-7.1Zm23.5-10.8h0Zm-13.5,3.5c.1,0,.1,0,.1-.1h-.1Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M7.3,14.2c-.5-.7-.1-1.1.5-1.4h0c.6-.5,1-.5,1.5.1l.7.8h.1c.1-.3-.2-.4-.2-.6s-.4-.6-.1-.8a.9.9,0,0,1,1.1,0l.9,1,1.5,1.9c-.1-.6-.6-1-.8-1.5l-.4-.9c-.1-.3-.3-.6,0-.8s.5.1.7.4a2.7,2.7,0,0,1,.7.8l2.6,3a.5.5,0,0,0,.5.3l-1.5-2-1.2-1.9c-.2-.4-.2-.7.4-.7h1.4a2.6,2.6,0,0,1,2.1,1.1,1.3,1.3,0,0,0,.5.6.5.5,0,0,0,.3.4h0c.1-.2-.1-.4-.2-.5L17.8,12c-.1-.2-.3-.5,0-.7a.5.5,0,0,1,.8.2,6.4,6.4,0,0,0,1,1.3l-.4-.8-.3-.6c-.1-.4-.2-.9.2-1.2s.4.4.7.5v.2a.2.2,0,0,0,0-.3c-.5-.9,0-1.5.6-2.1a.5.5,0,0,0,.2-.4c.1-.9.2-.9.9-.4l.2.3h0c0-.1,0-.2-.1-.2s-.3-1.7.7-2.4.4-.3.4-.6.3-.6.6-.8.6.2.8.5.4.7.8,1a1.3,1.3,0,0,0-.3-1.1c-.1-.4-.3-.6-.4-1a.5.5,0,0,1,.2-.6c.3-.2.5,0,.6.2l.2.3h.1c.1-.1.1-.1,0-.2s.2-1.7,1.4-2A3.8,3.8,0,0,0,28.1.5,1.4,1.4,0,0,1,29.5.2a1,1,0,0,0,.9-.2c.4-.3.8,0,.7.3s.7.3.4.7h-.8l-.3.2c1-.1,1.6.1,1.9,1s0,.2.1.1,0-.1,0-.2-.3-.7-.1-.7a1.1,1.1,0,0,1,1.3.4l.3,2c.1.4.1.6-.4.5h-.9c-.2,0-.3,0-.3.2s.1.2.2.2a5.5,5.5,0,0,0,2.2.2c-.6-.3-.5-.8-.6-1.3a2.6,2.6,0,0,0-.5-1.7c0-.2.1-.2.3-.2s1.1.1,1.5.6.1,0,.2,0a.7.7,0,0,1,.8.8c0,.2-.1.2-.3.2a1.4,1.4,0,0,0-.9-.3l.9.5c.1.1.3.1.3.2s.4.3.7.3h.2c0,.1.1.1.2.1s-.1-.1-.2-.2a.1.1,0,0,0-.1-.1,1.1,1.1,0,0,1-.5-1.4c.1-.2-.2-.6-.3-.9s0-.5.2-.5.3.1.4.3a4.3,4.3,0,0,1,1.1,1.9,1.6,1.6,0,0,0,0-1c0-.3.1-.5.3-.3a1.6,1.6,0,0,1,.7.9.6.6,0,0,0,.4.6.7.7,0,0,1,.2.8c-.3.3-.2.7-.3,1s-.3.5-.6.3a4.2,4.2,0,0,0-1.3-.7c-.1,0-.2-.1-.2,0s0,.1.1.1.9.6,1.2,1.1h-.4c.3.3.6.5.3.9v.4c-.1,0-.1,0,0,.1h.2V7c.2-.1.4-.3.7-.1s.1-.4.4-.2.8.7.5,1.3l-.3.6c0,.1-.1.1,0,.2H40c.2-.4.6-.6.8-1l1,.8c.6.6.6.9.1,1.5s-.4.4-.4.8a2.3,2.3,0,0,0,1-.7c.1-.1.2-.2.4-.1s.1.2.1.4A2.9,2.9,0,0,0,43,12c.1.3-.2.4-.4.6l-2.2,1.5c.8.1,1.3-.6,2.1-.6s-.4.3-.5.4a.7.7,0,0,0-.6.8c0,.3-.3.4-.6.4l-1.6.2c-.6.1-.7-.1-.7-.7a.8.8,0,0,0,0-.7c-.3.1-.5.5-.7.7s-.2.3-.4.2-.1-.3,0-.5.6-2.2.8-3.3.3-.9,1.1-.4l.8.4a.5.5,0,0,0,.4.2h.4c0,.1,0,.2.1.1h-.2l-.3-.2c0-.2-.2-.2-.3-.3s-.7-.5-1.2-.8-.5-.3-.5-.8-.4.5-.7.3h-.4c-.5,0-.5-.2-.4-.6A8.6,8.6,0,0,0,37.3,6c0-.2.1-.4-.2-.6a38,38,0,0,1-1.4,6.7h0a4.7,4.7,0,0,0,1-2c.1-.2-.1-.6.4-.5s1.2.4,1,.9a9.6,9.6,0,0,1-1.2,3.2c-.1.2-.1.9-.7.5h-.1c-.1.2-.2.4-.4.3s-.1-.3-.1-.5a3.1,3.1,0,0,0,.1-1c-.4.2-.4.6-.5.8s-.4,1.1-.9,1.1-.2-.8-.3-1.2a3.2,3.2,0,0,0-.2-1.3,6.8,6.8,0,0,1-.2,2.1,1.3,1.3,0,0,1-.8,1l-.4.4c-.1.2-.1.4-.4.3s-.2-.2-.2-.3a11.1,11.1,0,0,0-.7-2.2c-.1.5.1.9,0,1.3a3.2,3.2,0,0,1-.1,1.4c-.1.2-.2.4-.4.4s-.3-.2-.4-.4l-.3-.8c-.1-.1-.1-.3-.2-.2s-.2.1-.2.2v1.2a1.1,1.1,0,0,1-.5.9c-.5.2-.8.1-1-.3s.2-.4.4-.8-.9-.2-1.1-.6a3.9,3.9,0,0,0-.6-1.1h0c-.1.6.3,1.1.4,1.7s.1.4-.2.4a2.8,2.8,0,0,1-1.3.4,2.9,2.9,0,0,0-1.2.7c.1.2.3.1.4.1s.5,0,.5.4.1.6-.3.7-.3-.3-.5-.5-.1-.3-.3-.3,0,.5-.2.8-.6-1-1-1.4a.1.1,0,0,1-.1-.1c-.1.1,0,.1,0,.2s.4.6-.2.8.6-.1.7.3.2.6,0,.7-.6.5-1,.2l-.9-.6a.5.5,0,0,0-.5-.3c.2.6.8,1,1.1,1.7a7.5,7.5,0,0,1-2.6-2,11.4,11.4,0,0,0,1.8,2.5c-.5.1-.8-.3-1.2-.3s.4.5.5.8-.5.1-2.3-1v-.3c.1,0,.2,0,.2-.2h0l-.3.2h-.4a.1.1,0,0,1-.1-.1h-.2c0-.1,0-.2-.1-.1s0,.1.1.1.1.1.1.2a.1.1,0,0,1,.1.1.3.3,0,0,1,0,.4v.2c-.1,0-.1,0-.1.1h0a.1.1,0,0,0,.1-.1h.2c.1-.1.2-.2.4-.1s.8.7,1,1.3a11.7,11.7,0,0,1-2-.6,15.4,15.4,0,0,1-5.3-4.2,1.1,1.1,0,0,0-.5-.4.5.5,0,0,0-.4-.5c0-.1,0-.2-.1-.2s0-.2-.1-.1h.1c0,.1,0,.2.1.2s.2.4.4.6a16.5,16.5,0,0,0,4.7,4.4,17.5,17.5,0,0,0,2.8,1.3c-.2.3-.9.1-.6.8h-.4a21.8,21.8,0,0,1-2.3-.9s-.1-.1-.1,0h0A15.3,15.3,0,0,1,17.1,24c-.5.1-.9-.2-1.4-.3s.6.5.9.9a1.3,1.3,0,0,1-1.1-.3,32.1,32.1,0,0,1-5-3.1l-.4-.3H9.9c0-.1-.1-.1-.2,0h.1l.3.2a11.7,11.7,0,0,0,3,2.4,12,12,0,0,0,3.4,1.7c-.5.5-.9.9-1.6.7s.5.2.3.5-.7.1-1.1.2l.4.2c-.7.7-1.6-.1-2.4.2s.5.3.2.6a.8.8,0,0,1-.7,0A21.7,21.7,0,0,1,8.1,26l-.8-.2a3.7,3.7,0,0,0,1.2.7L11,27.7c.2.1.6.1.5.4s-.5.1-.7.1l-1.5-.4c.3.4.6.4.9.6s.3.1.2.3h-.2a2.6,2.6,0,0,1-1.5.1c.6.5,1.5.3,2.1.6-1,1-2.2.7-3.4.5.6.4,1.4.3,2.1.7s-1.1.2-1.8.3,1,0,1.4.3-1.4.5-2,.9a17.1,17.1,0,0,0,3-.9h0a11.2,11.2,0,0,1-2.4,1.3,5.3,5.3,0,0,0,2.9-1.4H11c-.1.8-.8,1-1.4,1.3s-.5.1-.7.4.5-.2.7,0-2,.7-2.9.4a14.8,14.8,0,0,1-2.1-1.3c-.2-.2-.3-.3-.1-.5s0-.4-.3-.5-.9,0-.9-.4.6-.4,1-.6l1-.2a7.4,7.4,0,0,0-2.1.1c-.3-.1-.9.2-.5-.6s-.2-.2-.4-.3a1.8,1.8,0,0,1-1-1.1c-.1-.1-.2-.2,0-.4s.2,0,.3.1a4.3,4.3,0,0,0,1.6.5,2,2,0,0,0,1.3.4,2.1,2.1,0,0,0-1.2-.4A5.9,5.9,0,0,1,.4,25.7a1,1,0,0,1-.2-.8c.5.1.7.7,1.2.8s.2-1.2.4-2-.2,1.1-.5,1.5a4.5,4.5,0,0,1-1-1.3c-.2-.2.1-.4.3-.4s.2-.2.1-.3a3.4,3.4,0,0,1-.6-2.6c.6.4.9,1.3,1.7,1.4s.1.2.2.3h.2c0,.1.1.1.1,0h0L2,22.2c0-.1-.1-.1-.1-.2l-.4-.4c-.3-.3-.3-.6.1-.8s.1-.4,0-.5-.4-.2-.3-.4.3,0,.5,0,.2.2.4.2,0,.2.1.1,0-.1,0-.1-.2-.3-.4-.3L1,18.7c-.1-.2-.3-.5,0-.6s.2-.6.5-.3.7.2.6.6-.1.1-.1.2-.3.1-.2.3h.1a.4.4,0,0,0,.1-.3h.2c.4-.3.5.4.9.4h.1c.1.1.1.1.2,0H3.3c0-.1-.1-.1-.1-.2L3,18.5c-.2-.2-.5-.4-.2-.7a.5.5,0,0,1,.9-.2c0-.3-.3-.4-.1-.7s.5-.5.9-.2.2.1.3.1h0c0-.2.1-.3.1-.5h.2a.3.3,0,0,0,.1-.2c.3,0,.4.4.7.5s.1.1.2.2a.1.1,0,0,0,.1.1h.1c0,.1.1.2.2.1v.2h.1c-.1-.1-.1-.1-.1-.2s-.1,0-.1-.1H6.2c0-.1,0-.1-.1-.2a.3.3,0,0,1-.1-.2,8.6,8.6,0,0,0-1-1.6.9.9,0,0,1-.3-.7c0-.2,0-.3.2-.4s.3,0,.4.1a2.3,2.3,0,0,1,.9,1.4c-.1-.1-.2,0-.3.1s-.1,0,0,.1H6l.2-.2c.1,0,.3.2.3.1a.2.2,0,0,0-.1-.4.8.8,0,0,1-.1-.9h0c.1,0,.1-.1.1-.2s.5.5.9.6,0,.2.1.1,0-.2-.1-.2ZM41.1,8.5h0V8.3a.1.1,0,0,0-.1-.1h-.1v.2ZM17.8,17.6l.2.2h0a.2.2,0,0,0-.2-.2.1.1,0,0,0-.1-.1h-.1c0-.1-.1-.1-.1-.2h-.3c0-.1,0-.1-.1-.2H17c-.1-.1-.1-.1-.1-.2s0,.2,0,.3h.4v.2h.3a.1.1,0,0,1,.1.1ZM7.3,16.2h.1c.3-.1.6-.3.6-.6s.2-.1.3-.2.2,0,.2-.1h0c-.1.1-.2.1-.2.2l-.3.2a.9.9,0,0,0-.6.6ZM2,26.1H1.8c0-.1-.1-.1-.2-.2h0c0,.1.1.1.2.2h.1s.1.1.1,0,0,0,0-.1ZM13.8,15.6h.1c0,.1,0,.2.1.2s-.1-.1-.1-.2Zm-2.2-.5h-.1l-.2-.2h-.2v-.2a2.7,2.7,0,0,0-.7-.8c.1.3.2.7.7.8s0,.2.1.2h.4ZM1,23.9h.1c.1,0,0,0,0-.1s0-.1-.1-.1H.9Zm2.9-4.2a.1.1,0,0,0,.1.1c0,.1.1.2,0,.4a15.5,15.5,0,0,0-1.2,2.2,5.9,5.9,0,0,0-.5,2.3c.2-.2.2-.5.5-.4h.4c.1.2.2.3.1.5a4.4,4.4,0,0,1-.8,1.5h0v.7a5.6,5.6,0,0,0,.9-1.7c.2-.4.4-.6.8-.3h.1c.2.1.3.3.5.2s-.2-.2-.4-.3H4.3c-.4-.2-.5-.4-.3-.8a.4.4,0,0,0,.1-.3l-.2.2c-.2.2-.3.5-.7.3s-.1-.1-.2-.1-.1-.1-.1-.2a.5.5,0,0,1-.1-.6,11.4,11.4,0,0,1,1.6-3.1l1.8,1.6a11.6,11.6,0,0,0,4.4,2.3c0,.1.1.2.2.1s-.1-.1-.2-.1l-.8-.5a16.8,16.8,0,0,1-4.5-3c-.7-.6-.7-.6-.2-1.4v-.2c-.5.1-.6.6-1.1.5a.1.1,0,0,0-.1-.1c-.1-.1-.1-.1-.1-.2h0c0,.1,0,.1.1.2Zm33.2-17h.2a.1.1,0,0,1-.1-.1c-.1,0-.2,0-.2-.1h-.1C37,2.6,37.1,2.6,37.1,2.7Zm-25.3,24h.1c-.1-.1-.1-.1-.2,0ZM6.9,25.5c0,.1.1.2.2.1H6.9c0-.1-.1-.2-.2-.1ZM38.3,3.7a1.3,1.3,0,0,0-.1-.5c0,.4-.3.2-.3.4s.2.2.3.2.6.5,1,.7a1.8,1.8,0,0,0-.9-.8ZM7.4,26.7h0l-2-.9c-.1,0-.1.1-.1.2a6.6,6.6,0,0,0,2.1.8ZM16,17.4h0A3.8,3.8,0,0,0,17.2,19c.1,0,.2.1.3,0a.1.1,0,0,0,0-.2c-.5-.5-.8-1.1-1.5-1.4ZM8.3,17c0-.1,0-.1-.1-.1a.1.1,0,0,0,.1.1,1.5,1.5,0,0,0,.4.9,11.1,11.1,0,0,0,4.5,3.8,3.5,3.5,0,0,0,1.1.3.8.8,0,0,0-.5-.5l-1.6-1A25.7,25.7,0,0,1,8.3,17Zm22.4-4.6h0a1.3,1.3,0,0,0-.1-.6,20.9,20.9,0,0,0-3.1-7.4c-.2-.2-.3-.5-.7-.6s0,.3.1.4A35.4,35.4,0,0,1,30,10.7,5.1,5.1,0,0,0,30.7,12.4Zm1.6-4.2a18.2,18.2,0,0,0-3.2-6.9,18.7,18.7,0,0,0,1.5,3.2c-1.1.1-1.1.1-1.4.4h1c.4-.1.6,0,.7.4a9,9,0,0,1,1,4.9,6.6,6.6,0,0,0,.8-4.1,9.8,9.8,0,0,0-.4,2.1Zm-9,4.7a4.7,4.7,0,0,0-1.1-2.1.3.3,0,0,0-.4,0c-.1.1,0,.3,0,.4A6.1,6.1,0,0,0,23.3,12.9ZM26.1,14h.2a11.3,11.3,0,0,0-1.6-3.3h-.1L26.1,14Zm7.7-5a3.1,3.1,0,0,0,.6-1.6c0-.2,0-.4-.2-.4s-.3.1-.3.3A4.9,4.9,0,0,0,33.8,9ZM6.6,18.7a3.2,3.2,0,0,0,1-1.3c0-.1.1-.3-.1-.4l-.3.2A2.8,2.8,0,0,0,6.6,18.7ZM27,12.3a3.2,3.2,0,0,0-.6-1.7c-.1-.1-.2-.3-.3-.2s-.1.3-.1.4a6.5,6.5,0,0,0,1,1.5Zm8.1-5.5a1,1,0,0,0,.5-1c0-.2,0-.4-.2-.4s-.2.2-.2.3A4.5,4.5,0,0,0,35.1,6.8ZM9.7,14.7c-.3-.3-.5-.1-.6.1ZM.9,21.5c-.3.4-.4.6-.3,1A1.5,1.5,0,0,0,.9,21.5ZM39.6,7.1c.1.2.2.3.4.2S39.8,7,39.6,7.1ZM5.1,28.6Zm8.5-13.4h-.2a.1.1,0,0,1,.1.1A.1.1,0,0,0,13.6,15.2ZM7.3,30.9H7A.2.2,0,0,0,7.3,30.9Zm1.5-16h0ZM5.1,25.7h0Zm9.5,0h0Zm-6.2,3H8.2a.1.1,0,0,1,.1.1A.1.1,0,0,0,8.4,28.7ZM20.3,14.4Zm.5,4.6a.1.1,0,0,0-.1-.1h.1ZM39.7,9h0Zm1.4,2.6h0ZM19.6,13.1h0Zm.2.3Zm.1.2Zm.1.3h0Zm.2.3h0ZM6.6,15.4Zm16.2,2.3h0ZM37.5,2.8h0Zm.6,4.8ZM22,8.3Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M37.5,35.8a1.2,1.2,0,0,1-.3,1.7.2.2,0,0,0-.2.2c-.2.4-.3.4-.6.1s-.2-.3-.4-.1,0,.2,0,.3.5.8.1,1-.5-.4-.8-.6a1,1,0,0,0-.4-.5c0-.1-.1-.1-.2-.2h0c-.1.1,0,.1,0,.1a.4.4,0,0,0,.1.3,3.7,3.7,0,0,1,.5,1.1c.3.7.1,1-.7,1a.9.9,0,0,0-.7.1c-.2.2-.6,0-.8-.3a5.2,5.2,0,0,1-1-1.1c0-.1,0-.2-.1-.1s0,.1,0,.2l.6,1.2c.1.2.3.4.1.6s-.4-.1-.7-.2.1.6-.3.4a.9.9,0,0,0-1,0c-.3.3-.7.1-.9-.2l-1.1-1.3a.1.1,0,0,0-.1-.1.1.1,0,0,0,0,.2c.1.4.3.8.4,1.1a5.9,5.9,0,0,1-2.6-3.9,8.2,8.2,0,0,0,.6,2.6.8.8,0,0,1,.2.5c.1.2.3.4.1.6s-.4-.1-.6-.2h-.2c-.8.3-1-.3-1.3-.8a10.4,10.4,0,0,1-1.1-3.4,6.4,6.4,0,0,0-.2-.7,25.7,25.7,0,0,0,.7,4h.1c0,.2.1.5-.1.7s-.4-.2-.6-.4-.1-.3-.3-.4-.1.1-.2.2.3.5,0,.6-.4-.2-.6-.4a18.6,18.6,0,0,1-1-2v-.3h-.1a.4.4,0,0,0,.1.3,5,5,0,0,0,.2,1.2c0,.3.2.7-.1.8a1.4,1.4,0,0,1-1.1,0l-.6-.6h0c0-.2.1-.2.3-.3s-2.5-.1-3.1-1.5.3-.2.4-.2a3.9,3.9,0,0,0,1.5.2c-.7-.5-1.6-.1-2.2-.8s.7.1,1.1,0A31.6,31.6,0,0,1,14,34.8h0c0,.3.3.4.5.5l1.9.8c.2.1,1-.1.5.6s.1.1.1.2.3.2.4.3-.1.4-.3.4-.3-.2-.5-.3-1.1-.1-.9-1.1-.2.8-.3,1-.6-.2-.8.1h0c.1.1.4.1.4.4s-.1.1-.2.1-.4-.2-.4-.5-.3-1-.4-1.6-.6.3-.7-.1a6,6,0,0,0-.2-1.2v1.8c0,.1.2.3-.1.4s-.3-.1-.4-.2A15.8,15.8,0,0,1,11.4,35a1.1,1.1,0,0,1-.2-1.2h0c-.2,0-.4,0-.4-.3s.3-2.4,1.3-3.3h0c.2.2,0,.5.2.7s.3-.8.4-1.2,1.2-1.2,1.9-1.7.3.2.3.4a8.7,8.7,0,0,0-.1,2.3,12.7,12.7,0,0,1,.6-2.8,1,1,0,0,1,1.4-.7c.2.1.3.1.3-.1a.7.7,0,0,1,.5-.4c.4,0,.1.5.4.7s.5-1,1.1-.9a1.3,1.3,0,0,1,1.2,1.3,1.5,1.5,0,0,1,.1-.7c.1-.4.3-.5.6-.4a.4.4,0,0,1,.3.6,2.9,2.9,0,0,0-.2.9c-.1,0-.2.1-.1.2s.1-.1.1-.2l.6-.8c.1-.2.2-.5.5-.4s.1.4.2.6.1-.5.3-.5.3.3.3.5.2.4.4.1.4.2.6.2.1-.2.1-.4.2.7.3.9,0-.4.2-.5a3,3,0,0,1,.5,1.5c.1.2,0,.3-.2.2s-.8.1-1-.1-.8.1-1.2,0c1.2.4.5,1.3.6,2s-.2.3-.3.2h-.9c-.2,0-.2-.2-.2-.4s.1-.6,0-.8,0-.4-.2-.4-.3.2-.3.3-.1.5,0,.6-.1.6-.5.5L19.3,31a1.9,1.9,0,0,0,1,.5c.6.1,1.3.1,1.3,1.1a1.1,1.1,0,0,1,1.5-.6c.3.2.2.5.2.7s.1.8.2,1.2.1.1.2.3a8.5,8.5,0,0,0,0-1.6c-.1-.6.2-.6.6-.6h.9c.4,0,.5.1.6.5a15.6,15.6,0,0,0,1.5,4.1,3.1,3.1,0,0,0,.7.9c0,.1.1.2.1.1s0-.1,0-.1a30.7,30.7,0,0,1-1.7-4.2,28.6,28.6,0,0,0-.7-2.8c0-.4.1-.4.3-.4a8.6,8.6,0,0,0,2.8-.3c.3-.1.4.1.5.3l3,4.3.5.6.2.2h.1c0,.1,0,.1.1.2h0a.1.1,0,0,0-.1-.1c0-.1,0-.1-.1-.2a.3.3,0,0,1-.1-.2C32,33.4,31,31.9,30,30.4s-.5-1,.4-1.4h.1a3.8,3.8,0,0,1,.5-2.1,18.2,18.2,0,0,0,.7-2.5,23.1,23.1,0,0,0-1.8,3.5c-.5-.7-1.1-1.2-1.1-2.1s.3-.3.6-.3.2.3.3.1a8.4,8.4,0,0,0,1.5-3.9,3.4,3.4,0,0,0-.7,1.5c-.2.6-.5.7-1,.2s-.1-.1-.1-.2.6-.5.4-1,.5-.2.2-.5,0-.2,0-.3.8-.2.5-.8.3-.7.5-1.1a3.4,3.4,0,0,1,.8-.9,3.2,3.2,0,0,1,2.9-1H35c-.3-.3-.8-.1-1.2-.6s.9-.5,1.3-.7a4.7,4.7,0,0,1,3.1-.6c.2.1.3.2.5.1s1.6.5,2.4,1-1,0-1.6.2a3.4,3.4,0,0,1,2.4.9c.2.2.5.3.3.6s-.4,0-.6-.1h-.2a1.2,1.2,0,0,1,.5.5c.2.1.2.3.1.5s-.2-.1-.4,0,0-.1-.1-.1h.1c0,.2.2.3.3.4s.3.4-.1.4A5.7,5.7,0,0,0,38,17.9a17.6,17.6,0,0,1,3.7,2.3c.3.6.3.8-.2,1h0c.2.2.2.5.2.9h0c-.5.3-.4.6.1.9l.2.3c.1.2.2.3.1.5s-.3,0-.4-.1h-.4c0,.3.3.4.4.7s.2.2.1.3-.2,0-.3-.1-.5-.5-.9-.4a.5.5,0,0,0-.5-.5h0c.3.5,0,.8-.2,1.3a14.3,14.3,0,0,0-2.3-2c-.1-.1-.2-.3-.4-.3s.2.3.3.4l1.4,1.3c1,1,1,1,.3,2.3h-.1c-.3-.2-.5-.5-.9-.5s.4.5.6.8-.3.5-.2.9.2-.1.2-.2a6.4,6.4,0,0,0,1-1.8c.1-.3.2-.3.4,0s.2.7.2,1.1h0l-.3.4A12.8,12.8,0,0,1,39,29.8c-.2.4-.4.4-.7,0a18.6,18.6,0,0,0-3.7-4.2,1.5,1.5,0,0,0-1.1-.6,12.1,12.1,0,0,0,1.6,1.6,21,21,0,0,1,3.1,3.5.9.9,0,0,1,.1,1c.3-.3.4-.1.6.1H39a.1.1,0,0,0-.1-.1,1.4,1.4,0,0,1,.2-1.1,10.9,10.9,0,0,0,.8-1.5c.2-.3.2-.7.5-1h0c.3.6.6,1.1-.3,1.5s-.1.2-.1.2-.2,1.5-.2,2.2-.6.8-.6,1.4-.2,0-.3-.1-.3-.4-.6-.5.4,1,.4,1.5.1.5-.1.7-.4-.2-.6-.3-.2-.1-.2,0-.1.2-.1.3.3.6.2.9-.2.4-.5.3-.2-.1-.2,0Zm2.4-13h0a5.1,5.1,0,0,0-2.5-1.6,9.4,9.4,0,0,0,1.2.9c.5.3.8.7,1.3.7ZM19.1,35.7h0A1.5,1.5,0,0,0,19,35a18.9,18.9,0,0,1-.3-5.8,4.3,4.3,0,0,0,0-1.6,2.4,2.4,0,0,0-.5,1,8.9,8.9,0,0,0,0,4.3,5.8,5.8,0,0,0,.9,2.8Zm16-2.1c-.2-1.2-2.3-3.8-3.1-3.8C33.1,31,33.8,32.4,35.1,33.6Zm.2-13.5a3.2,3.2,0,0,0-2.2-.8h-.3c-.1.2.1.2.2.3A5.9,5.9,0,0,0,35.3,20.1ZM28.4,30.9a9.9,9.9,0,0,0,1.7,3.4,9.8,9.8,0,0,0-1.7-3.4Zm6-1.1a.2.2,0,0,0-.2.2c-.1.1,0,.2.1.3l1.1.9c.1,0,.3.1.3-.2A3.8,3.8,0,0,0,34.4,29.8Zm-6,3.9a6.9,6.9,0,0,0-.5-1.7l-.3-.2a.4.4,0,0,0-.1.3A2.4,2.4,0,0,0,28.4,33.7ZM14,33.2a11.1,11.1,0,0,1,.1-2.6A3.3,3.3,0,0,0,14,33.2ZM36.2,18.7a1.6,1.6,0,0,0-1.2-.5c-.1-.1-.2-.1-.3.1s.1.3.2.3A5.3,5.3,0,0,0,36.2,18.7Zm3.4,2.5a2,2,0,0,0-1-.8c-.1-.1-.2-.2-.3,0s.1.2.2.3ZM13.1,31.9a2.3,2.3,0,0,0,.1-1.4A1.4,1.4,0,0,0,13.1,31.9Zm11.1,2.6a1.5,1.5,0,0,0,.4,1.5A2.8,2.8,0,0,0,24.2,34.5Zm7.7-12.9c-.3.2-.3.6-.3,1S32,22,31.9,21.6Zm4.9.8c0,.1,0,.1.1.2h.2C37.1,22.5,37,22.4,36.8,22.4Zm-.3-.3h-.1a.1.1,0,0,1,.1.1.1.1,0,0,0,.1-.1Zm1.8,9.3h0c0,.1-.1.1-.1.2ZM36.2,22Zm2.4,6.1Zm-7.9,1.1h.1A.1.1,0,0,0,30.7,29.2Z"
				transform="translate(0 0.2)" />
			<path class="cls-1"
				d="M59.3,10.4,56,17.8a97.1,97.1,0,0,1-9,15.6,22,22,0,0,1-2.8,3.4,1.2,1.2,0,0,1-1.9.1,1.3,1.3,0,0,1-.1-1.9A56.1,56.1,0,0,0,50,23.4,152.5,152.5,0,0,0,57.9,6.5l.4-.9A1.4,1.4,0,0,1,60,5a1.3,1.3,0,0,1,.8,1.5c-.7,7.4-2,14.8-3,22.2a.6.6,0,0,0,0,.6l.9-1.8c3.7-6.9,7.4-13.8,11.2-20.7l1.7-2.7a1.3,1.3,0,0,1,1.8-.7c.7.2,1,.7.9,1.6l-.6,6.2c-.5,4.5-.9,9.1-1,13.7A65,65,0,0,0,73,35.7a17.4,17.4,0,0,0,2,7.4,3.3,3.3,0,0,0,4.4,1.5,10.2,10.2,0,0,0,3.4-2.3c.6-.5,1.2-.5,1.5,0s.4.9,0,1.2a11.8,11.8,0,0,1-5.4,2.6c-2,.4-3.7-.7-4.8-2.7a20.3,20.3,0,0,1-2-7.3,99.5,99.5,0,0,1,.1-18.9c.3-3.4.6-6.7,1-10.1V6.6L71.8,9.1c-4.3,7.7-8.5,15.4-12.5,23.3a5.4,5.4,0,0,0-.5,1.1,1.4,1.4,0,0,1-1.6.9,1.5,1.5,0,0,1-1.1-1.7c.3-1.5.5-3.1.8-4.6.8-5.1,1.5-10.1,2.2-15.2l.3-2.4a.2.2,0,0,0,0-.3.3.3,0,0,1-.1.2Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M206.7,34.3a17.5,17.5,0,0,1,.5-4,2.7,2.7,0,0,0-.9-2.9,1.1,1.1,0,0,1,.1-1.8c1.2-.5,1.3-1.5,1.3-2.6s.1-3.4.1-5.1h0c-.6-1.2-.1-2.5-.3-3.7a2.3,2.3,0,0,1,.3-1.8,4.5,4.5,0,0,1,4.2-2.1,21,21,0,0,1,7,2.1,6.8,6.8,0,0,1,3.1,2.7,3.8,3.8,0,0,1-.4,4.3,13,13,0,0,1-3.9,2.7,12.5,12.5,0,0,0-1.2.8,34.2,34.2,0,0,1-4.3,2.1c-1,.4-1.1.7-.4,1.6a26.7,26.7,0,0,0,3.6,3.1l7,5.2a2.7,2.7,0,0,1,.9,2.4c-.1.3-.3.6-.6.4-2.1-1.2-4.5-1.8-6.4-3.3s-4-2.6-5.8-4.1-.9-.5-1.1.4l-.9,4.7c-.1.4,0,.9-.6.9a1.2,1.2,0,0,1-1.3-1,3.3,3.3,0,0,1,0-1Zm5.2-20.4c-2.2,0-2.8.6-2.7,2.2s0,.5.2.6.4-.1.5-.2.9-.6,1.3-.3a1.2,1.2,0,0,1,.6,1.5c-.4,1.7-.8,3.5-1.1,5.3,0,.2-.2.4,0,.6s.4-.1.6-.1a38.5,38.5,0,0,0,6.2-3.6,4.4,4.4,0,0,0,1.1-.9,1.7,1.7,0,0,0-.3-2.9,16.3,16.3,0,0,0-6.4-2.2Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M178.4,32.5l3.1-.8a6.4,6.4,0,0,0,2.6-1c.1,0,.2-.2.3-.1A5.9,5.9,0,0,1,185,32c.1.3-.2.4-.4.5a10.2,10.2,0,0,1-3.7,1.3l-2.3.2c-.3,0-.5.3-.8.4a14,14,0,0,1-5.4,2.8l-2.1.4a1.2,1.2,0,0,1-.9-.4q-.5-.3,0-.9a4.9,4.9,0,0,1,3.1-2.1,6,6,0,0,0,3.1-1.9,16.3,16.3,0,0,0,4.2-5.2l.3-.4c1.3-1.3,1.3-3,1.1-4.6a5.3,5.3,0,0,0-1.3-2.7,10.7,10.7,0,0,0-4.1-3.2l-1.3-.8c-.4-.2-.6-.2-.8.3-.6,2.4-1.1,4.8-1.6,7.2s-.9,6.1-1.6,9a7.1,7.1,0,0,1-1.6,2.8c-.3.3-.6.3-.7-.2a.4.4,0,0,1-.1-.5c.3-3.5.3-7,1.1-10.5v-.4a28,28,0,0,1,.8-6.4c0-.2.2-.4.4-.6s.8-1.2,1.6-1.4.2-.1.1-.3-.2-.2-.4-.2a7.2,7.2,0,0,1-2.9-1c-.6-.3-1.2-.6-.9-1.5s-.1-.6-.1-.9-.1-.6.4-.5a2.6,2.6,0,0,0,1.5-.2h.8c1.7.7,3.6.8,5.2,1.6a23.6,23.6,0,0,1,4.8,2.9,8.1,8.1,0,0,1,3.6,5.2,9.8,9.8,0,0,1-.9,5.6,23.5,23.5,0,0,1-4.4,6.4c-.1.2-.3.3-.4.6Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M187,25c-.3.1-.4.4-.5.5s-.4.4-.6.3-.4-.3-.4-.5a6.4,6.4,0,0,1,.7-2.7,19.2,19.2,0,0,0,2.4-5c.7-1.8,1.1-3.8,2.3-5.5s.5-.6.9-.7.4-.3.6-.1.5.4.4.8-.5,1.1-.6,1.7-.3.3-.1.5.4-.1.5-.2l1.5-1.4a4,4,0,0,1,1.8-1,2.5,2.5,0,0,0,1.5-.6h.5a6.8,6.8,0,0,1,5.1,3.9,13.3,13.3,0,0,1,0,11.7,15.9,15.9,0,0,1-1.5,2.1,27.8,27.8,0,0,1-4.9,4.8,11,11,0,0,1-4.4,2.3c-2.7.5-4.8-.6-5.3-3.4a11.4,11.4,0,0,1-.3-4.1c.1-1,.2-2,.4-3s0-.2,0-.3Zm5.7,8a2,2,0,0,0,1.3-.2,10.6,10.6,0,0,0,4.3-3.3,15.8,15.8,0,0,0,2-3.6,9.3,9.3,0,0,0,.5-7.3,9.1,9.1,0,0,0-1.1-2.2,3.2,3.2,0,0,0-2.9-1.5c-2.7.3-5.1,1.6-6,4.4a13.7,13.7,0,0,0-.5,2.8c-.3,2-.4,4-.5,6a7,7,0,0,0,.6,3.5,2.2,2.2,0,0,0,2.3,1.4Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M242,20.4a14.4,14.4,0,0,1-1.5,6.5,10.5,10.5,0,0,1-.8,1.1,28.9,28.9,0,0,1-6.1,6,8.9,8.9,0,0,1-4.6,1.9,4,4,0,0,1-4.5-3.6,13.5,13.5,0,0,1-.3-4c.2-1,.3-1.9.4-2.8s.1-.4-.1-.4-.2.1-.3.2l-.2.3a.4.4,0,0,1-.5.2c-.3-.1-.4-.3-.3-.5a5.3,5.3,0,0,1,.6-2.7,23.4,23.4,0,0,0,2.5-5c.7-1.9,1-3.8,2.3-5.4a2,2,0,0,1,.8-.8.5.5,0,0,1,.7-.1,1,1,0,0,1,.4.8,8.4,8.4,0,0,1-.6,1.4c-.1.2-.4.6-.2.8s.6-.3.8-.4a6,6,0,0,0,.8-.8,4.9,4.9,0,0,1,2.6-1.5h.3c1.1-.9,2.2-.3,3.2.1a5.7,5.7,0,0,1,2.5,2.1,11.6,11.6,0,0,1,2.1,6.7ZM230.3,33a4,4,0,0,0,1.5-.3,9.5,9.5,0,0,0,3.1-2.1c2-1.9,2.9-4.5,3.8-7.1a6.8,6.8,0,0,0,0-4,8.8,8.8,0,0,0-1.3-3,3.2,3.2,0,0,0-3.7-1.5,6.6,6.6,0,0,0-3.5,1.6,7.4,7.4,0,0,0-2.2,4.7,53.6,53.6,0,0,0-.6,6.9,7.5,7.5,0,0,0,.6,3.3,2.2,2.2,0,0,0,2.3,1.5Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M149.2,28.5v-.6a2.3,2.3,0,0,1,1.8-2c.5-.1.7-.5.9-.9,1.3-2.8,1.8-5.9,3-8.8a12.9,12.9,0,0,1,.9-1.6c.2-.3.4-.5.1-.9a.9.9,0,0,1,.6-1.4,2,2,0,0,0,1.5-1c.5-1,1.6-1.4,2.4-2a.9.9,0,0,1,1.1.1c.3.3.2.7.1,1.1l-.6,1.3a.8.8,0,0,0,.4,1.1l1.5.8a1.4,1.4,0,0,1,.9,1.2,10.4,10.4,0,0,1,.2,4.3,2,2,0,0,0,.1,1.3,6.5,6.5,0,0,1,0,3.1c0,.3,0,.4.3.6a.7.7,0,0,1,.1,1.3.9.9,0,0,0-.4,1.2,7.6,7.6,0,0,1-.2,2.6c-.1,1.2-.3,2.3-.5,3.4a25.1,25.1,0,0,1-.4,2.7,1.7,1.7,0,0,1-.7,1.3.8.8,0,0,1-.8.2.5.5,0,0,1-.3-.7c.2-1.3-.1-2.7.2-4s-.2-1.8-.1-2.8a5.4,5.4,0,0,0,.1-2.2c-.1-.5-.2-.6-.7-.4a4.6,4.6,0,0,1-2,.5c-.5,0-.8.3-1.3.4s-2.5,1-3.9,1.3-.4.3-.5.6-1.2,3.1-1.7,4.7-.4,2.2-1,3.1a1.1,1.1,0,0,1-.8.7c-.7.2-1-.1-1.1-.8a8.5,8.5,0,0,1,.4-2.2l1.3-4.6c.2-.4.2-.6-.4-.5s-.5-.3-.5-.7.3-.5,0-.8Zm12-7.7a4.7,4.7,0,0,0-1.3-3.8c-.6-.7-1.3-.7-1.8.1a3.6,3.6,0,0,0-.4.9,11.5,11.5,0,0,1-1.2,2.5c-.1,0-.1.1-.1.2a14.8,14.8,0,0,1-1.7,4.1c-.3.5-.1.7.4.7s3.8-.4,5.6-.8a.7.7,0,0,0,.6-.7,16.9,16.9,0,0,0-.1-3.2Z"
				transform="translate(0 0.2)" />
			<path class="cls-1" d="M146.2,10.8c.7,0,1,.4.9,1.1a2.6,2.6,0,0,1-2.3,1.9.9.9,0,0,1-.9-1.3A2.5,2.5,0,0,1,146.2,10.8Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M27.4,28v-.2c.1-.3,1.4-.6,1.6-.4l.7.6c.4.4.2.7-.1,1s-.5.2-.6-.1l-.3-.3c-.1-.1-.1-.2-.3-.1s0,.2,0,.3.4.4,0,.6-.6,0-.8-.4a3,3,0,0,1-.2-1Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M34.3.8c-.3-.2-1-.1-.8-.7s.7-.1,1-.1S35.6,1.2,36,1.9s-.6-.1-.6-.6,0-.2-.1-.2-.3,0-.3.2-.2.3-.4.3l-2.2-.5A.4.4,0,0,1,32,.7c0-.2.3-.1.4-.1h.3c.4.5,1,.3,1.5.3a.3.3,0,0,0,.5,0Zm.6,0Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M24.7,31.9c-.3-.1-.8.1-.9-.2s-.1-1.1-.1-1.6h0l1.5.2c.3,0,.2.3.3.5V31c.2.9.2.9-.8.9Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M40.7,24.2l1,1.4a.9.9,0,0,1-.1,1.1c-.1.2-.3.3-.2.5s-.3.7-.8.5V27h0c.1,0,.1-.6.5-.2h0c0-.5-.4-.8-.7-1.2a1,1,0,0,1,.3-1.4Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M26.6,28.8V28a3.4,3.4,0,0,1,.9,1.3c.1.2,0,.3-.2.3h-.8c-1.1.1-1.5-.3-1.2-1.4s0-.4.2-.5.3.2.4.3a2.7,2.7,0,0,0,.7.8h0Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M41,5.3a5,5,0,0,1-.2,1.2c0,.3-.1.5-.5.2s-.7-.4-.8-.7.4-.6.6-.9.3-.7.6-.6S41,5,41,5.3Zm-.5.4h0V5.5h-.1A.2.2,0,0,0,40.5,5.7Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M27.3,17.9a.9.9,0,0,1-1,.9c-.4,0-.7-.5-.6-.7s.8-.6,1.3-.7S27.2,17.7,27.3,17.9Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M42.3,8.5l-.7-.6c-.8-.7-.8-.8.3-1.7-.4,1,.5,1.4.5,2.2Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M4.9,16.2c-.5.2-.7-.2-.9-.5s.1-.4.3-.6.3.1.4.2.5.4.4.7-.1,0-.1.1H4.9Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M42.3,20.1c.6.5.3,1.1.5,1.6a.2.2,0,0,1-.3.1c-.2-.1-.4-.2-.4-.5A2.3,2.3,0,0,0,42.3,20.1Z"
				transform="translate(0 0.2)" />
			<path class="cls-2"
				d="M3.6,16.3c-.2.3-.3.6-.5.5s-.4-.4-.6-.7.1-.4.2-.6a.3.3,0,0,1,.5,0c.2.1.1.2,0,.4H3.1c0,.2-.2.3,0,.5s.2-.2.5-.2Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M2,16.6c.2.1.7.1.5.4s.2.7-.1.7-.5-.5-.6-.8,0-.3.2-.3Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M17.1,37.6c.1.3.7,0,.5.4s-.4,0-.7-.1a1.1,1.1,0,0,1-1-.4C16.4,37.4,16.7,37.7,17.1,37.6Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M29.8,23.8c.2.1.5,0,.4.3s-.1.6-.4.5-.3-.3-.4-.5S29.7,23.9,29.8,23.8Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M32.9.5c-.5-.1-.8.1-1-.3A.2.2,0,0,1,32-.1C32.4-.2,32.6,0,32.9.5Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M41.8,22.1c.2-.1.3-.2.5,0s.2.3.2.5-.2.2-.3.2S41.9,22.3,41.8,22.1Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M3.7,15.2a.4.4,0,0,1-.2-.4.3.3,0,0,1,.3-.3c.1.1.3.1.3.3S3.9,15.1,3.7,15.2Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M6.3,13.8c-.3,0-.5-.1-.5-.4s0-.2.2-.2a.5.5,0,0,1,.4.5C6.3,13.7,6.3,13.7,6.3,13.8Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M20.2,39c0,.1.1.3-.1.3s-.3-.2-.4-.4-.1-.1,0-.2S20.1,38.9,20.2,39Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M18.5,38.6c.5,0,.8-.1,1,.2a1,1,0,0,1-.1.3C19.1,39.1,18.9,38.8,18.5,38.6Z"
				transform="translate(0 0.2)" />
			<path class="cls-2" d="M39.3,6.5h0Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M38.6,6c.1.1.2.1.2.2h-.2Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M10.6,31.1h0Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M10.1,31.3h0Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M7.8,12.7c-.1-.1-.1-.1,0-.2h0Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M11,31.2h0Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M38.8,6.2Z" transform="translate(0 0.2)" />
			<path class="cls-2" d="M10.6,31.1h0C10.7,31.1,10.6,31.1,10.6,31.1Z" transform="translate(0 0.2)" />
			<path class="cls-3" d="M30.7,12.4Z" transform="translate(0 0.2)" />
			<path class="cls-3" d="M41.1,26.8Z" transform="translate(0 0.2)" />
		</symbol>	
		<symbol id="icon-package">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M40.8 18.7368H37.312C37.488 18.2147 37.6 17.6421 37.6 17.0526C37.6 14.2568 35.456 12 32.8 12C31.12 12 29.664 12.9095 28.8 14.2737L28 15.4021L27.2 14.2568C26.336 12.9095 24.88 12 23.2 12C20.544 12 18.4 14.2568 18.4 17.0526C18.4 17.6421 18.512 18.2147 18.688 18.7368H15.2C13.424 18.7368 12.016 20.2358 12.016 22.1053L12 40.6316C12 42.5011 13.424 44 15.2 44H40.8C42.576 44 44 42.5011 44 40.6316V22.1053C44 20.2358 42.576 18.7368 40.8 18.7368ZM32.8 15.3684C33.68 15.3684 34.4 16.1263 34.4 17.0526C34.4 17.9789 33.68 18.7368 32.8 18.7368C31.92 18.7368 31.2 17.9789 31.2 17.0526C31.2 16.1263 31.92 15.3684 32.8 15.3684ZM23.2 15.3684C24.08 15.3684 24.8 16.1263 24.8 17.0526C24.8 17.9789 24.08 18.7368 23.2 18.7368C22.32 18.7368 21.6 17.9789 21.6 17.0526C21.6 16.1263 22.32 15.3684 23.2 15.3684ZM27.1961 35.672C27.652 36.1083 28.3537 36.1083 28.8095 35.6782L28.8695 35.6221L28.9057 35.5879C32.0341 32.6339 34.0812 30.7009 33.9975 28.2916C33.9615 27.232 33.4397 26.2159 32.5941 25.6175C31.0107 24.4893 29.0554 25.0191 27.9998 26.3032C26.9442 25.0191 24.989 24.4955 23.4056 25.6175C22.5599 26.2159 22.0381 27.232 22.0021 28.2916C21.9242 30.7102 23.9814 32.6488 27.1302 35.6096L27.1961 35.672Z"/>
		</symbol>	
		<symbol id="icon-group">
			<path d="M33.8182 26.5714C36.2327 26.5714 38.1673 24.6571 38.1673 22.2857C38.1673 19.9143 36.2327 18 33.8182 18C31.4036 18 29.4545 19.9143 29.4545 22.2857C29.4545 24.6571 31.4036 26.5714 33.8182 26.5714ZM22.1818 26.5714C24.5964 26.5714 26.5309 24.6571 26.5309 22.2857C26.5309 19.9143 24.5964 18 22.1818 18C19.7673 18 17.8182 19.9143 17.8182 22.2857C17.8182 24.6571 19.7673 26.5714 22.1818 26.5714ZM22.1818 29.4286C18.7927 29.4286 12 31.1 12 34.4286V36.5714C12 37.3571 12.6545 38 13.4545 38H30.9091C31.7091 38 32.3636 37.3571 32.3636 36.5714V34.4286C32.3636 31.1 25.5709 29.4286 22.1818 29.4286ZM33.8182 29.4286C33.3964 29.4286 32.9164 29.4571 32.4073 29.5C32.4364 29.5143 32.4509 29.5429 32.4655 29.5571C34.1236 30.7429 35.2727 32.3286 35.2727 34.4286V36.5714C35.2727 37.0714 35.1709 37.5571 35.0109 38H42.5455C43.3455 38 44 37.3571 44 36.5714V34.4286C44 31.1 37.2073 29.4286 33.8182 29.4286Z"/>
		</symbol>
		<symbol id="icon-comment">
			<path d="M35.4172 14.857C35.4172 13.5999 34.4001 12.5713 33.143 12.5713H14.8572C13.6001 12.5713 12.5715 13.5999 12.5715 14.857V28.5713C12.5715 29.8284 13.6001 30.857 14.8572 30.857H30.8572L35.4287 35.4284L35.4172 14.857ZM29.7144 26.2856H18.2858C17.6572 26.2856 17.143 25.7713 17.143 25.1427C17.143 24.5141 17.6572 23.9999 18.2858 23.9999H29.7144C30.343 23.9999 30.8572 24.5141 30.8572 25.1427C30.8572 25.7713 30.343 26.2856 29.7144 26.2856ZM29.7144 22.857H18.2858C17.6572 22.857 17.143 22.3427 17.143 21.7141C17.143 21.0856 17.6572 20.5713 18.2858 20.5713H29.7144C30.343 20.5713 30.8572 21.0856 30.8572 21.7141C30.8572 22.3427 30.343 22.857 29.7144 22.857ZM29.7144 19.4284H18.2858C17.6572 19.4284 17.143 18.9141 17.143 18.2856C17.143 17.657 17.6572 17.1427 18.2858 17.1427H29.7144C30.343 17.1427 30.8572 17.657 30.8572 18.2856C30.8572 18.9141 30.343 19.4284 29.7144 19.4284Z"/>
		</symbol>	
		<symbol id="icon-share">
			<path d="M30.928 29.0152C30.0558 29.0152 29.2754 29.3595 28.6787 29.8989L20.4964 25.1364C20.5537 24.8724 20.5997 24.6085 20.5997 24.3331C20.5997 24.0577 20.5537 23.7937 20.4964 23.5298L28.5869 18.8132C29.2066 19.387 30.0214 19.7427 30.928 19.7427C32.833 19.7427 34.3707 18.2049 34.3707 16.2999C34.3707 14.3949 32.833 12.8572 30.928 12.8572C29.023 12.8572 27.4852 14.3949 27.4852 16.2999C27.4852 16.5754 27.5311 16.8393 27.5885 17.1033L19.498 21.8199C18.8783 21.2461 18.0635 20.8903 17.1569 20.8903C15.2519 20.8903 13.7141 22.4281 13.7141 24.3331C13.7141 26.2381 15.2519 27.7759 17.1569 27.7759C18.0635 27.7759 18.8783 27.4201 19.498 26.8463L27.6688 31.6203C27.6114 31.8613 27.577 32.1137 27.577 32.3662C27.577 34.2138 29.0803 35.7172 30.928 35.7172C32.7756 35.7172 34.2789 34.2138 34.2789 32.3662C34.2789 30.5186 32.7756 29.0152 30.928 29.0152Z"/>
		</symbol>	
		<symbol id="icon-view-default">
			<path d="M19.0476 26.391L19.0476 13.6091C19.0476 13.1955 18.619 12.8572 18.0952 12.8572L12.3809 12.8572C11.8571 12.8572 11.4286 13.1955 11.4286 13.6091L11.4286 26.391C11.4286 26.8045 11.8571 27.1429 12.3809 27.1429L18.0952 27.1429C18.619 27.1429 19.0476 26.8045 19.0476 26.391ZM28.5714 26.391L28.5714 13.6091C28.5714 13.1955 28.1428 12.8572 27.619 12.8572L21.9047 12.8572C21.3809 12.8572 20.9524 13.1955 20.9524 13.6091L20.9524 26.391C20.9524 26.8045 21.3809 27.1429 21.9047 27.1429L27.619 27.1429C28.1428 27.1429 28.5714 26.8045 28.5714 26.391Z"/>
		</symbol>	
		<symbol id="icon-view-list">
			<path d="M12.437 22.0409H14.4538C15.0084 22.0409 15.4622 21.5817 15.4622 21.0204V18.9796C15.4622 18.4184 15.0084 17.9592 14.4538 17.9592H12.437C11.8824 17.9592 11.4286 18.4184 11.4286 18.9796V21.0204C11.4286 21.5817 11.8824 22.0409 12.437 22.0409ZM12.437 27.1429H14.4538C15.0084 27.1429 15.4622 26.6837 15.4622 26.1225V24.0817C15.4622 23.5204 15.0084 23.0613 14.4538 23.0613H12.437C11.8824 23.0613 11.4286 23.5204 11.4286 24.0817V26.1225C11.4286 26.6837 11.8824 27.1429 12.437 27.1429ZM12.437 16.9388H14.4538C15.0084 16.9388 15.4622 16.4796 15.4622 15.9184V13.8776C15.4622 13.3164 15.0084 12.8572 14.4538 12.8572H12.437C11.8824 12.8572 11.4286 13.3164 11.4286 13.8776V15.9184C11.4286 16.4796 11.8824 16.9388 12.437 16.9388ZM17.479 22.0409H27.563C28.1177 22.0409 28.5714 21.5817 28.5714 21.0204V18.9796C28.5714 18.4184 28.1177 17.9592 27.563 17.9592H17.479C16.9244 17.9592 16.4706 18.4184 16.4706 18.9796V21.0204C16.4706 21.5817 16.9244 22.0409 17.479 22.0409ZM17.479 27.1429H27.563C28.1177 27.1429 28.5714 26.6837 28.5714 26.1225V24.0817C28.5714 23.5204 28.1177 23.0613 27.563 23.0613H17.479C16.9244 23.0613 16.4706 23.5204 16.4706 24.0817V26.1225C16.4706 26.6837 16.9244 27.1429 17.479 27.1429ZM16.4706 13.8776V15.9184C16.4706 16.4796 16.9244 16.9388 17.479 16.9388H27.563C28.1177 16.9388 28.5714 16.4796 28.5714 15.9184V13.8776C28.5714 13.3164 28.1177 12.8572 27.563 12.8572H17.479C16.9244 12.8572 16.4706 13.3164 16.4706 13.8776Z"/>
		</symbol>
		<symbol id="icon-remove">
			<path d="M20.5715 16.7618H11.4287C11.0096 16.7618 10.6667 16.419 10.6667 15.9999C10.6667 15.5809 11.0096 15.238 11.4287 15.238H20.5715C20.9906 15.238 21.3334 15.5809 21.3334 15.9999C21.3334 16.419 20.9906 16.7618 20.5715 16.7618Z"/>
		</symbol>
		<symbol id="icon-add">
			<path d="M20.5715 16.762H16.762V20.5715C16.762 20.9906 16.4191 21.3334 16.0001 21.3334C15.581 21.3334 15.2382 20.9906 15.2382 20.5715V16.762H11.4287C11.0096 16.762 10.6667 16.4191 10.6667 16.0001C10.6667 15.581 11.0096 15.2382 11.4287 15.2382H15.2382V11.4287C15.2382 11.0096 15.581 10.6667 16.0001 10.6667C16.4191 10.6667 16.762 11.0096 16.762 11.4287V15.2382H20.5715C20.9906 15.2382 21.3334 15.581 21.3334 16.0001C21.3334 16.4191 20.9906 16.762 20.5715 16.762Z"/>
		</symbol>	
		<symbol id="icon-not-image">
			<path d="M38.3931 35.4167V14.5834C38.3931 12.9465 37.0538 11.6072 35.4169 11.6072H14.5836C12.9467 11.6072 11.6074 12.9465 11.6074 14.5834V35.4167C11.6074 37.0536 12.9467 38.3929 14.5836 38.3929H35.4169C37.0538 38.3929 38.3931 37.0536 38.3931 35.4167ZM20.3872 27.9465L23.5122 31.7113L28.1253 25.7738C28.4229 25.3869 29.0181 25.3869 29.3158 25.7887L34.539 32.753C34.911 33.2441 34.5538 33.9435 33.9437 33.9435H16.1015C15.4765 33.9435 15.1342 33.2292 15.5211 32.7381L19.2265 27.9762C19.5092 27.5893 20.0747 27.5744 20.3872 27.9465V27.9465Z"/>
		</symbol>
		<symbol id="icon-loading">
			<circle cx="12.6657" cy="3.55561" r="2.60284" transform="rotate(120 12.6657 3.55561)" />
			<circle opacity="0.9" cx="6.88984" cy="6.89007" r="2.60284" transform="rotate(90 6.88984 6.89007)"/>
			<circle opacity="0.85" cx="3.5556" cy="12.6656" r="2.60284" transform="rotate(60 3.5556 12.6656)"/>
			<circle opacity="0.8" cx="3.55573" cy="19.3346" r="2.60284" transform="rotate(30 3.55573 19.3346)"/>
			<circle opacity="0.75" cx="6.89033" cy="25.1101" r="2.60284" transform="rotate(-180 6.89033 25.1101)"/>
			<circle opacity="0.7" cx="12.6657" cy="28.4443" r="2.60284" transform="rotate(150 12.6657 28.4443)"/>
			<circle opacity="0.6" cx="19.3346" cy="28.4444" r="2.60284" transform="rotate(120 19.3346 28.4444)"/>
			<circle opacity="0.5" cx="25.1096" cy="25.11" r="2.60284" transform="rotate(90 25.1096 25.11)"/>
			<circle opacity="0.4" cx="28.4443" cy="19.3346" r="2.60284" transform="rotate(60 28.4443 19.3346)"/>
			<circle opacity="0.3" cx="28.4444" cy="12.6656" r="2.60284" transform="rotate(30 28.4444 12.6656)"/>
			<circle opacity="0.2" cx="25.1096" cy="6.89008" r="2.60284" transform="rotate(-180 25.1096 6.89008)"/>
			<circle opacity="0.1" cx="19.3346" cy="3.55547" r="2.60284" transform="rotate(150 19.3346 3.55547)"/>
		</symbol>
	</defs>
</svg>

<div class="my-account-grid">
    <div class="title-row-mobile">
        <a href="#" href="#" onclick="history.go(-1)" title="voltar">
            <div class="icon">
                <svg width='100%' height='100%' viewBox='0 0 56 56' xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='xMinYMin'>
                    <use href='#icon-arrow-left'></use>
                </svg>
            </div>
        </a>
        <div class="title">
            meus dados
        </div>
        <a href="{{ Urls.Profile.Login.SignOut }}">
            <div class="exit-button">sair</div>
        </a>
    </div>

    <div class="personal-info-content">
        <div class="input-group name">
            <input class="input-group-input" type="text">
            <label class="input-group-label">nome completo</label>
            <span class="input-group-bar"></span>
        </div>

        <div class="input-group date-birth">
            <input class="input-group-input" type="text">
            <label class="input-group-label">data de nascimento</label>
            <span class="input-group-bar"></span>
        </div>

        <div class="radio-group gender">
            <div class="radio-group-title">sexo</div>
            <div class="radio-group">
                <input class="radio-group-radio" type="radio" name="gender" id="masc"><label for="masc" class="radio-group-label">masculino</label>
                <input class="radio-group-radio" checked type="radio" name="gender" id="fem"><label for="fem" class="radio-group-label">feminino</label>
            </div>
        </div>

        <div class="input-group ssn">
            <input class="input-group-input" type="text">
            <label class="input-group-label">cpf</label>
            <span class="input-group-bar"></span>
        </div>

        <div class="input-group phone">
            <input class="input-group-input" type="text">
            <label class="input-group-label">celular</label>
            <span class="input-group-bar"></span>
        </div>

        <div class="input-group email">
            <input class="input-group-input" type="email">
            <label class="input-group-label">email</label>
            <span class="input-group-bar"></span>
        </div>

        <div class="input-group password">
            <input class="input-group-input" type="password">
            <label class="input-group-label">senha</label>
            <span class="input-group-bar"></span>
        </div>
    </div>
</div>

<div class="btn btn-secondary save">salvar alterações</div>

