/* scss/Átomos/_Bordas.scss */ 
@import "Bordas_site.scss";

.content{
    display: flex;
    justify-content: flex-start;
}
div.border-8, div.border-4, div.border-0-4, div.border-32{
    background: $light0;
    width: 150px;
    height: 150px;
    display: inline-flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    color: $dark0;
    font-size: 24px;
    font-weight: bold;
}

.border-8{
    border-radius: $border8; 
}
.border-4{
    border-radius: $border4; 
}
.border-2{
    border-radius: $border2; 
}
.border-0-4{
    border-radius: $border0-4; 
}
.border-32{
    border-radius: $border32; 
}