/* scss/Átomos/_Botões.scss */
@import "_Botões_site.scss";

.btn-table-mobile tbody tr th, .btn-table-desktop tbody tr th{
    width: 200px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $light1;
}

.btn-table-mobile tbody tr td, .btn-table-desktop tbody tr td{
    width: 200px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $light1;
}
.btn-table-mobile tbody tr td .btn{
    font-size: 20px !important;
}
.btn-table-desktop tbody tr td .btn{
    font-size: 24px !important;
}
.btn.btn-primary.focused{
    background: $primary1;
    box-shadow: $shadow1;
}
.btn.btn-primary.hover{
    background: $primary1;
    box-shadow: $shadow2;
}
.btn.btn-primary.pressed{
    background: $primary0;
    box-shadow: $shadow3;
}

.btn.btn-secondary.focused{
    background: $white;
    color: $primary1;
    border: 2px solid $primary1;
}
.btn.btn-secondary.hover{
    color: $primary1;
    background: $white;
    border: 2px solid $primary1;
}
.btn.btn-secondary.pressed{
    background: $primary0;
    box-shadow: $shadow3;
    color: $white;
    border: 2px solid $primary0;
}

.btn.btn-info.focused{
    background: $info1;
    box-shadow: $shadow1;
}
.btn.btn-info.hover{
    background: $info1;
    box-shadow: $shadow2;
}
.btn.btn-info.pressed{
    background: $info0;
    box-shadow: $shadow3;
}

.btn.btn-warning.focused{
    background: $warning1;
    box-shadow: $shadow1;
}
.btn.btn-warning.hover{
    background: $warning1;
    box-shadow: $shadow2;
}
.btn.btn-warning.pressed{
    background: $warning0;
    box-shadow: $shadow3;
}

.btn.btn-danger.focused{
    background: $danger1;
    box-shadow: $shadow1;
}
.btn.btn-danger.hover{
    background: $danger1;
    box-shadow: $shadow2;
}
.btn.btn-danger.pressed{
    background: $danger0;
    box-shadow: $shadow3;
}

.btn.btn-cta.focused{
    background: $success1;
    box-shadow: $shadow1;
}
.btn.btn-cta.hover{
    background: $success1;
    box-shadow: $shadow2;
}
.btn.btn-cta.pressed{
    background: $success0;
    box-shadow: $shadow3;
}