/* scss/Átomos/_Tipografia_site.scss */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');
@mixin header-0($color: $dark0){
    color: $color;
    font-weight: bold;
    font-size: 48px;
    line-height: 110%;
    @media (min-width:$media-min-desktop) {
        font-size: 56px;
    }
}
@mixin header-1($color: $dark0){
    color: $color;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    @media (min-width:$media-min-desktop) {
        font-size: 40px;
    }
}
@mixin header-2($color: $dark0){
    color: $color;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    @media (min-width:$media-min-desktop) {
        font-size: 32px;
    }
}
@mixin header-3($color: $dark0){
    color: $color;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    @media (min-width:$media-min-desktop) {
        font-size: 24px;
    }
}
@mixin header-3-medium($color: $dark0){
    color: $color;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    @media (min-width:$media-min-desktop) {
        font-size: 22px;
    }
}
@mixin header-4($color: $dark0){
    color: $color;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    @media (min-width:$media-min-desktop) {
        font-size: 22px;
    }
}
@mixin header-5($color: $dark0){
    color: $color;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    @media (min-width:$media-min-desktop) {
        font-size: 24px;
    }
}
@mixin quote($color: $dark0){
    color: $color;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    @media (min-width:$media-min-desktop) {
        font-size: 16px;
    }
}
@mixin paragraph-regular($color: $dark0){
    color: $color;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    @media (min-width:$media-min-desktop) {
        font-size: 16px;
    }
}
@mixin paragraph-medium($color: $dark0){
    color: $color;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    @media (min-width:$media-min-desktop) {
        font-size: 16px;
    }
}
@mixin paragraph-regular-serif($color: $dark0){
    color: $color;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    @media (min-width:$media-min-desktop) {
        font-size: 16px;
    }
}
@mixin small-medium($color: $dark0){
    color: $color;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    @media (min-width:$media-min-desktop) {
        font-size: 14px;
    }
}
@mixin paragraph-card($color: $dark0){
    color: $color;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        font-size: 16px;
    }
}
@mixin small-bold-card($color: $dark0){
    color: $color;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-decoration-line: line-through;
    @media (min-width:$media-min-desktop) {
        font-size: 14px;
    }
}
@mixin small-bold($color: $dark0){
    color: $color;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    @media (min-width:$media-min-desktop) {
        font-size: 14px;
    }
}
@mixin tiny($color: $dark0){
    color: $color;
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 110%;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        font-size: 11px;
        line-height: 120%;
    }
}
