/* scss/Organismos/_Brands-list_site.scss */ 
.brands-list-wrapper{
    background: $light-1;
    padding: 24px 0px 24px 16px;
    z-index: 0;
    position: relative;
    @media (min-width: $media-min-desktop) {
        padding: 20px 0px 0px 0px;
    }
}
.brands-list .tns-outer .tns-inner{
    padding: 40px 0px;
}
.brands-list{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    @media (min-width: $media-min-desktop) {
        position: relative;
    }
    
}
.brands-list-title{
    padding: 0;
}
.brands-list-title:after {
    content: "";
    display: block;
    height: 2px;
    background: $dark0;
    width: 100%;
    position: relative;
    transform: translateY(-11px);
    z-index: 1;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        transform: translateY(-14px);
    }
}
.brands-list-title-text {
    margin: 0 auto;
    text-align: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 0px 16px;
    position: relative;
    z-index: 2;
    background: $light-1;
}

.brands-list-title-text.see-more{
    position: relative;
    transform: translate(0px, 0px);
    width: 100%;
    z-index: 2;
    padding: 0 5px;
    @media (min-width: $media-min-desktop) {
        position: absolute;
        transform: translateY(4px);
        right: 0;
        top: 0;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
        padding: 0px;
    }
}
.brands-list-title-text.see-more-text{
    display: none;
    @media (min-width: $media-min-desktop) {
        display: block;
        @include paragraph-medium($primary0);
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 16px;
    }   
}
.brands-list-title-text.see-more .btn.btn-secondary{
    display: block;
    background: $light-1;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.brands-list-title-text.see-more .btn.btn-secondary p{
    display: block;
    @include header-3-medium(inherit);
    @media (min-width: $media-min-desktop) {
        display: none;
    }    
}
.brands-list-title-text h2{
    margin: 0;
    @include header-5;
}
.brands-list-container-item-img{
    width: 112px;
    height: 112px;
    background: $white;
    border-radius: 100%;
    box-shadow: $shadow1;
    @media (min-width: $media-min-desktop){
        width: 150px;
        height: 150px;
    }
}
.brands-list-container-item-img img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
}