/* scss/Organismos/_Card-product_site.scss */
@import "_Card-product_site.scss";

.content{
    display: flex;
    align-items: flex-start;
}

.content-mobile{
    transform: scale(.8);
}
.content-mobile.wd-product-line{
    width: 49%;
    padding: 8px;
    margin-right: 10px;
}

.content-mobile.wd-product-line .card-product-flag-like{
    width: 44px;
    height: 44px;
}
.content-mobile.wd-product-line .card-product-flag-off-sale{
    padding: 1px 7px;
    height: 24px;
    font-size: 14px;
}
.content-mobile.wd-product-line .card-product-flag{
    padding: 0px 16px;
    margin: 8px auto 3px auto;
    height: 16px;
    font-size: 12px;
}
.content-mobile.wd-product-line .card-product-text{
    margin: 0px auto 4px auto;
}
.content-mobile.wd-product-line .card-product-brand{
    height: 21px;
    font-size: 14px;
}
.content-mobile.wd-product-line .card-product-description{
    min-height: 51px;
    max-height: 51px;
    font-size: 14px;
}
.content-mobile.wd-product-line .card-product-price{
    margin: 0px auto 8px auto;
}
.content-mobile.wd-product-line .card-product-price .list-price{
    height: 18px;
    font-size: 12px;
}
.content-mobile.wd-product-line .card-product-price .sell-price{
    height: 24px;
    font-size: 20px;
}
.content-mobile.wd-product-line .btn-cta.buy{
    font-size: 20px;
}