/* scss/Organismos/_dúvidas_site.scss */ 
.doubts-wrapper{
    background: $light-1;
    padding: 32px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-width: $media-min-desktop) {
        padding: 40px 0px;
    }    
}
.doubts-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    @media (min-width: $media-min-desktop) {
        max-width: 1170px;
        margin: 0 auto;
    }
}
.doubts-content-title{
    padding: 0px 16px;
    margin-bottom: 8px;
    @media (min-width: $media-min-desktop) {
        padding: 0px;
        margin-bottom: 24px;
        max-width: 1170px;
    }    
}
.doubts-content-title:after {
    content: "";
    display: block;
    height: 2px;
    background: $dark0;
    width: 100%;
    position: relative;
    transform: translateY(-11px);
    z-index: 0;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        transform: translateY(-14px);
    }
}
.doubts-content-title-text {
    margin: 0 auto;
    text-align: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 0px 16px;
    background: $light-1;
    z-index: 2;
    position: relative;
}
.doubts-content-title-text h2{
    margin: 0;
    @include header-5;
}
.doubts-content-items{
    display: flex;
    max-width: 1170px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: $media-min-desktop) {
        flex-wrap: nowrap;
    }
}
.doubts-content-item{
    margin: 8px 0px;
    width: 50%;
    @media (min-width: $media-min-desktop) {
        margin: 0 25px;
        width: auto;
    }
}

.doubts-content-item > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doubts-content-item p{
    margin-top: 8px;
    text-align: center;
    @include paragraph-medium;
    @media (min-width: $media-min-desktop) {
        margin-top: 16px;
    }
}
.doubts-content-item-circle{
    width: 112px;
    height: 112px;
    box-shadow: $shadow1;
    border-radius: 100%;
    background: $white;
    @media (min-width: $media-min-desktop) {
        width: 100px;
        height: 100px;
    }
}
.doubts-content-item-circle-icon{
    width: 112px;
    height: 112px;
    @media (min-width: $media-min-desktop) {
        width: 100px;
        height: 100px;
    }
}
.doubts-content-item-circle-icon svg{
    fill: $dark0;
}
