/* scss/Organismos/_Footer_site.scss */ 
footer{
    background: $light-1;
    width: 100%;
    @media (min-width:$media-min-desktop){
        min-width: 1170px;
    }
}
.know-more{
    width: 100%;
    margin: 0 auto;
    padding: 32px 16px 0px 16px;
    background: $light-1;
    @media (min-width:$media-min-desktop){
        padding: 0;
        max-width: 1170px;
        min-width: 1170px;
    }

}
.know-more-title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    border-bottom: 2px $light1 solid;
    padding-bottom: 16px;
    @media (min-width:$media-min-desktop){
        padding: 0;
    }
}
.know-more-title.active > .know-more-title-icon{
    transform: rotate(180deg);
}
.know-more-title-text{
    @media (min-width:$media-min-desktop){
        margin-left: 40px;
    }
}
.know-more-title-text h2{
    @include header-3-medium;
    margin: 0;
}
.know-more-title-icon{
    width: 40px;
    height: 40px;
    fill: $dark0;
    display: none;
    @media (min-width:$media-min-desktop){
        display: block;
    }
}
.know-more-content{
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop){
        height: 0px;
        overflow: hidden;
    }
}
.know-more-content.active{
    @media (min-width:$media-min-desktop){
        padding: 12px 0px;
        display: flex;
        height: 405px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: space-between;
        justify-content: flex-start;
    }
}
.know-more-content-item{
    border-bottom: 2px $light1 solid;
    @media (min-width:$media-min-desktop){
        border-bottom: 0px;
        background: $light0;
        box-shadow: $shadow1;
        border-radius: $border8;
        padding: 24px 30px;
        max-width: 370px;
        min-width: 370px;
        margin: 12px 0px;
    }
}
.know-more-content-item:nth-child(1){
    order: 1; 
}
.know-more-content-item:nth-child(2){
    order: 3;
    @media (min-width:$media-min-desktop){
        order: 4;
    }    
}
.know-more-content-item:nth-child(3){
    order: 6;
    @media (min-width:$media-min-desktop){
        min-height: 352px;
    }    
}
.know-more-content-item:nth-child(4){
    order: 2;
    @media (min-width:$media-min-desktop){
        margin: 10.5px 0px;
    }    
}
.know-more-content-item:nth-child(5){
    order: 4;
    @media (min-width:$media-min-desktop){
        order: 3;
    }    
}
.know-more-content-item:nth-child(6){
    order: 5;
}
.know-more-content-item ul{
    list-style: none;
}
.know-more-content-item-title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    position: relative;
    @media (min-width:$media-min-desktop){
        border-bottom: 2px $dark0 solid;
        height: auto;
    }
}
.know-more-content-item-title.no-list{    
    border-bottom: none;
}
.know-more-content-item-title.no-list > .know-more-content-item-title-text{
    padding: 0px;
    width: 100%;
}
.know-more-content-item-title.no-list > .know-more-content-item-title-text a{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    @media (min-width:$media-min-desktop){
        padding: 0px;
    }
}
.know-more-content-item-title.active > .know-more-content-item-title-icon{
    transform: rotate(180deg);
}
.know-more-content-item-title-text{
    @include paragraph-medium;
    @media (min-width:$media-min-desktop){
        padding-bottom: 16px;
    }
}
.know-more-content-item-title-text a:hover{
    @media (min-width:$media-min-desktop){
        text-decoration: underline;
    }
}
.know-more-content-item-title-icon{
    width: 40px;
    height: 40px;
    fill: $dark0;
    position: absolute;
    right: 0;
    @media (min-width:$media-min-desktop){
        display: none;
    }
}
.know-more-content-item-list{
    overflow: hidden;
    height: 0px;
    @media (min-width:$media-min-desktop){
        height: auto;
        border-radius: $border0-0-8-8;
    }
}
.know-more-content-item-list.active{
    height: auto;
}
.know-more-content-item-list li{
    width: 100%;
    height: 40px;
    background: $light0;
    margin: 2px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width:$media-min-desktop){
        margin: 8px auto;
        height: 24px;
    }
}
.know-more-content-item-list div{
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 310px;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: $light0;
    @media (min-width:$media-min-desktop){
        justify-content: flex-start;
        max-width: auto;
    }
}
.know-more-content-item-list div li{
    width: auto;
    height: auto;
}
.know-more-content-item-list div li a{
    padding: 0px;
}
.know-more-content-item-list li:last-child{
    margin: 0px;
}
.know-more-content-item-list li a{
    width: 100%;
    padding: 10px;
    @include paragraph-regular;
}
.know-more-content-item-list li a:hover{
    @media (min-width:$media-min-desktop){
        text-decoration: underline;
    }
}
.know-more-content-item-list.prizes{
    background: $light0;
    display: flex;
    padding: 0px;
}
.know-more-content-item-list.active.prizes{
    padding: 15px 0px;
}