/* scss/Organismos/_maquiadoro-omnistore_site.scss */ 
.omnistore-wrapper{
    background: $light-1;
    padding: 24px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-width: $media-min-desktop) {
        padding: 40px 0px;
    }    
}
.omnistore-content-title{
    margin: 0px auto 16px auto;
    width: 100%;
    padding: 0px 16px;
    @media (min-width: $media-min-desktop) {
        margin: 0px auto 24px auto;
        max-width: 1170px;
        padding: 0px;
    }
}
.omnistore-content-title:after {
    content: "";
    display: block;
    height: 2px;
    background: $dark0;
    width: 100%;
    position: relative;
    transform: translateY(-11px);
    z-index: 0;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        transform: translateY(-14px);
    }
}
.omnistore-content-title-text{
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-align: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 0px 16px;
    background: $light-1;
}
.omnistore-content-title-text h2{
    margin: 0;
    @include header-5;
}
.omnistore-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    @media (min-width: $media-min-desktop) {
        flex-direction: row;
        max-width: 1170px;
        margin: 0 auto;
    }

}
.omnistore-content-img{
    margin-bottom: 16px;
    height: 200px;
    box-shadow: $shadow2;
    position: relative;
    @media (min-width: $media-min-desktop) {
        border-radius: $border8;
        width: 670px; 
        height: 240px;
        margin-bottom: 0px;
    }
}
.omnistore-content-img > img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: $border8;
}
.omnistore-content-img-flag{
    display: block;
    position: absolute;
    top: 9px;
    right: 9px;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.omnistore-content-text-flag{
    display: none;
    @media (min-width: $media-min-desktop) {
        display: block;
        transform: translate(-30px, -80px);
        position: absolute;
    }
}
.omnistore-content-text{
    width: 100%;
    @media (min-width: $media-min-desktop) {
        width: 250px;
        margin-left: 50px;
    }
}
.omnistore-content-text > p{
    @include paragraph-regular;
    text-align: center;
    @media (min-width: $media-min-desktop) {
        text-align: left;
    }
}
.omnistore-content-text > p:nth-child(2){
    @media (min-width: $media-min-desktop) {
        margin-bottom: 16px;
        margin-top: 50px;
    }
}
.omnistore-content-button{
    margin: 16px auto 0px auto;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    @media (min-width: $media-min-desktop) {
        margin: 24px 0px 0px 0px;
    }
}