/* scss/Organismos/_menu-cart_site.scss */ 
.menu-cart{
    width: 85%;
    background: $white;
    height: 100vh;
    right: 0;
    top: 0;
    position: fixed;
    transform: translateX(100%);
    will-change: transform;
    transition: all .2s ease-in;
    z-index: 11;
    visibility: hidden;
    @media (min-width:$media-min-desktop){
        width: 380px;
    }
}

.wd-checkout-basket-summaryheader.menu-cart > div > div.wd-header > div {
    display: none;
}
.menu-cart.active + body{ 
    overflow-y: hidden;
}
.menu-cart.active{
    transform: translateX(0%);
    transition: all .2s ease-in;
    visibility: visible;
}
.menu-cart-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu-cart-title-text p{
    @include header-5;
    padding: 16px 0px 8px 16px;
}
.menu-cart-title-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
}
.menu-cart-banner{
    width: 100%;
    height: 80px;
    background: $light0;
}
.menu-cart-content{
    padding: 0px 16px;
}
.menu-cart-summary{
    width: 100%;
    padding: 8px 16px 16px 16px;
}
.menu-cart-summary-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.menu-cart-summary-text-title{
    @include header-3-medium;
}
.menu-cart-summary-text-value{
    @include header-5;
}
.menu-cart-summary-info{
    @include small-bold($primary0);
    text-align: center;
    margin-bottom: 8px;
}
.menu-cart-summary-btn{
    display: flex;
}
.menu-cart-summary-btn div{
    width: 100%;
    cursor: pointer;
}

.menu-cart-summary-basketSize{
    display: none;
}