.my-account-grid .orders-content{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop) {
        flex-direction: row;
    }
}


.my-account-grid .orders-content .navigation { 
    order: 2;
    width: 100%;
    @media (min-width:$media-min-desktop) {
        order: 1;
        max-width: 270px;
    }
}

.my-account-grid .orders-content .my-orders { 
    order: 1;
    background: $light-1;
    width: 100%;
    padding: 0px;
    min-height: 142px;
    @media (min-width:$media-min-desktop) {
        order: 2;
        max-width: 900px;
        padding: 39px 48px 48px 48px;
        display: block;
    }
}

.my-account-grid .orders-content .my-order{ 
    order: 1;
    background: $light-1;
    width: 100%;
    padding: 0px;
    min-height: 142px;
    @media (min-width:$media-min-desktop) {
        order: 2;
        max-width: 900px;
        padding: 39px 48px 48px 48px;
        display: block;
    }
}


.my-account-grid .orders-content .my-orders > .title{
    display: none;
    width: 100%;
    @include header-5;
    padding-bottom: 16px;
    text-align: center;
    border-bottom: 2px  $light0 solid;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.page-account-orderdetail .last-order-scale{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}