/* scss/Organismos/_seo-grid_site.scss */ 
.row.text-category-footer.justify-content-center{
    padding: 0;
    border-top: 2px $light1 solid;
    border-bottom: 2px $light1 solid;
    @media (min-width:$media-min-desktop) {
        padding: 0px 100px 2px 100px;
    }
}

.row.text-category-footer.justify-content-center .col-10{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

div.seo{
    background: $light-1;
    padding: 32px 16px;
    @media (min-width:$media-min-desktop) {
        padding: 47px 100px 50px 100px;
    }
}

.seo-list div:last-child{
    border-bottom: none;
}

