* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

div,
button:focus {
    outline: none;
}

p, figure {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

svg path {
    fill: inherit;
}

input:focus {
    outline: none;
}
.custom-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 19px;
    left: 19px;
    border-radius: $border2;
    height: 20px;
    width: 20px;
    background-color: $white;
    border: $dark0 solid 2px;
    @media (min-width:$media-min-desktop) {
        top: 13px;
        left: 13px;
    }
  }
  
  .custom-checkbox:hover input ~ .checkmark {
    background-color: $light0;
  }
  
  
  .custom-checkbox input:checked ~ .checkmark {
    background-color: $primary0;
    border: none;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid $white;
    border-width: 0px 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

img.hidden-lazyload {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in;
}

img.hidden-lazyload.loaded {
    visibility: visible;
    opacity: 1;
}

input[type="radio"] {
    position: relative;
    visibility: hidden;

    &:before {
        content: '';
        background: transparent;
        border-radius: 100%;
        border: 2px solid $dark0;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
        visibility: visible;
        transform: translate(-6px, -4px);

        @media (min-width:$media-min-desktop) {
            width: 20px;
            height: 20px;
        }
    }

    &:checked {
        &:before {
            background-color: $primary0;
            box-shadow: inset 0 0 0 3px rgba($white, $opacity70);
            border-color: $primary0;

            @media (min-width:$media-min-desktop) {
                box-shadow: inset 0 0 0 3px rgba($white, $opacity70);
            }
        }
    }

    &:focus {
        &:before {
            outline: none;
            border-color: $primary0;
            box-shadow: inset 0 0 0 3px rgba($white, $opacity70);

            @media (min-width:$media-min-desktop) {
                box-shadow: inset 0 0 0 3px rgba($white, $opacity70);
            }
        }
    }

    &:disabled {
        &:before {
            box-shadow: inset 0 0 0 3px $dark0;
            border-color: darken($dark0, 25%);
            background: darken($white, 25%);

            @media (min-width:$media-min-desktop) {
                box-shadow: inset 0 0 0 4px $dark0;
            }
        }
    }
}

.bg-yourviews {
    width: 93px;
    height: 96px;
    background: url('reconhecimentos.png') -2px -121px;
}

.bg-ebit {
    width: 93px;
    height: 115px;
    background: url('reconhecimentos.png') -2px -2px;
}

.bg-reclameaqui {
    width: 144px;
    height: 65px;
    background: url('reconhecimentos.png') -99px -2px;
}

.bg-google {
    width: 146px;
    height: 50px;
    background: url('reconhecimentos.png') -247px -2px;
}

.bg-gptw {
    width: 70px;
    height: 103px;
    background: url('reconhecimentos.png') -247px -56px;
}

.tns-outer {
    padding: 0 !important
}

.tns-outer [hidden] {
    display: none !important
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer
}

.tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s
}

.tns-slider>.tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.tns-horizontal.tns-subpixel {
    white-space: nowrap
}

.tns-horizontal.tns-subpixel>.tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.tns-horizontal.tns-no-subpixel:after {
    content: '';
    display: table;
    clear: both
}

.tns-horizontal.tns-no-subpixel>.tns-item {
    float: left
}

.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item {
    margin-right: -100%
}

.tns-no-calc {
    position: relative;
    left: 0
}

.tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px
}

.tns-gallery>.tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s
}

.tns-gallery>.tns-slide-active {
    position: relative;
    left: auto !important
}

.tns-gallery>.tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s
}

.tns-autowidth {
    display: inline-block
}

.tns-lazy-img {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0.6
}

.tns-lazy-img.tns-complete {
    opacity: 1
}

.tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s
}

.tns-ovh {
    overflow: hidden
}

.tns-visually-hidden {
    display: none;
}

.tns-transparent {
    opacity: 0;
    visibility: hidden
}

.tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0
}

.tns-normal,
.tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1
}

.tns-vpfix {
    white-space: nowrap
}

.tns-vpfix>div,
.tns-vpfix>li {
    display: inline-block
}

.tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden
}

.tns-t-ct {
    width: 2333.3333333%;
    width: -webkit-calc(100% * 70 / 3);
    width: -moz-calc(100% * 70 / 3);
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0
}

.tns-t-ct:after {
    content: '';
    display: table;
    clear: both
}

.tns-t-ct>div {
    width: 1.4285714%;
    width: -webkit-calc(100% / 70);
    width: -moz-calc(100% / 70);
    width: calc(100% / 70);
    height: 10px;
    float: left
}
#cboxOverlay {    
    opacity: 0.5;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}