/* scss/Átomos/_Botões.scss_site */
@mixin btn{
    background: $primary0;
    border-radius: $border4;
    margin: 0 auto;
    padding: 8px 16px;
    display: inline-block;
    color: $white;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    box-shadow: $shadow1;
    @media (min-width: $media-min-desktop) {
        font-size: 22px;
    }
}
.btn{
    @include btn;
}
.btn::selection{
    background-color: transparent;
}
.btn-primary{
    background: $primary0;
}
.btn-primary:focus{
    background: $primary1;
    box-shadow: $shadow1;
}
.btn-primary:hover{
    background: $primary1;
    box-shadow: $shadow2;
}
.btn-primary:active{
    background: $primary0;
    box-shadow: $shadow3;
}
.btn-primary.disabled{
    background: $light0;
    box-shadow: none;
}
.btn-secondary{
    padding: 7px 15px;
    background: $white;
    color: $primary0;
    border: 2px solid $primary0;
    box-sizing: border-box;
    box-shadow: none;
}
.btn-secondary:focus{
    color: $primary1;
    border: 2px solid $primary1;
    box-shadow: none;
}
.btn-secondary:hover{
    color: $primary1;
    border: 2px solid $primary1;
    box-shadow: none;
}
.btn-secondary:active{
    background: $primary0;
    color: $white;
    box-shadow: $shadow3;
    border: 2px solid $primary0;
}
.btn-secondary.disabled{
    background: $white;
    box-shadow: none;
    border: 2px solid $light0;
    color: $light0;
}
.btn-info{
    background: $info0;
}
.btn-info:focus{
    background: $info1;
    box-shadow: $shadow1;
}
.btn-info:hover{
    background: $info1;
    box-shadow: $shadow2;
}
.btn-info:active{
    background: $info0;
    box-shadow: $shadow3;
}
.btn-info.disabled{
    background: $light0;
    box-shadow: none;
}
.btn-warning{
    background: $warning0;
}
.btn-warning:focus{
    background: $warning1;
    box-shadow: $shadow1;
}
.btn-warning:hover{
    background: $warning1;
    box-shadow: $shadow2;
}
.btn-warning:active{
    background: $warning0;
    box-shadow: $shadow3;
}
.btn-warning.disabled{
    background: $light0;
    box-shadow: none;
}
.btn-danger{
    background: $danger0;
}
.btn-danger:focus{
    background: $danger1;
    box-shadow: $shadow1;
}
.btn-danger:hover{
    background: $danger1;
    box-shadow: $shadow2;
}
.btn-danger:active{
    background: $danger0;
    box-shadow: $shadow3;
}
.btn-danger.disabled{
    background: $light0;
    box-shadow: none;
}
.btn-cta{
    background: $success0;
    border-radius: $border32;
}
.btn-cta:focus{
    background: $success1;
    box-shadow: $shadow1;
}
.btn-cta:hover{
    background: $success1;
    box-shadow: $shadow2;
}
.btn-cta:active{
    background: $success0;
    box-shadow: $shadow3;
}
.btn-cta.disabled{
    background: $light0;
    box-shadow: none;
}