/* scss/Átomos/_Cores.scss */
@import "_Cores_site.scss";
#bg-primary-1{
    background: $primary-1;
}
#bg-primary{
    background: $primary0;
}
#bg-primary1{
    background: $primary1;
}
#bg-info-1{
    background: $info-1;
}
#bg-info{
    background: $info0;
}
#bg-info1{
    background: $info1;
}
#bg-success-1{
    background: $success-1;
}
#bg-success{
    background: $success0;
}
#bg-success1{
    background: $success1;
}
#bg-warning-1{
    background: $warning-1;
}
#bg-warning{
    background: $warning0;
}
#bg-warning1{
    background: $warning1;
}
#bg-danger-1{
    background: $danger-1;
}
#bg-danger{
    background: $danger0;
}
#bg-danger1{
    background: $danger1;
}
#bg-link-1{
    background: $link-1;
}
#bg-link{
    background: $link0;
}
#bg-link1{
    background: $link1;
}
#bg-dark-1{
    background: $dark-1;
}
#bg-dark{
    background: $dark0;
}
#bg-dark1{
    background: $dark1;
}
#bg-light-1{
    background: $light-1;
}
#bg-light{
    background: $light0;
}
#bg-light1{
    background: $light1;
}
.color-group{
    float: left;
    margin:20px;
}
.color-group div{
    width: 160px;
    height: auto;
    padding: 20px;
    color:white;
    font-size:20px;
}
.color-group span{
    font-size: 16px;
}