/* scss/Átomos/_Logo_site.scss */ 
h1.logo-maquiadoro{
    display: block;
    width: 130px;
    height: 26px;
    margin: 5px;
    @media (min-width:$media-min-desktop){
        width: 242px;
        height: 48px;
        margin: 0;
    }
    
}
h1.logo-maquiadoro a{
    display: block;
    width: 100%;
    height: 100%;
}
h1.logo-maquiadoro a svg{
    width: 130px;
    height: 26px;
    @media (min-width:$media-min-desktop){
        width: 242px;
        height: 48px;
    } 
}