/* scss/Átomos/_Modal.scss */ 
@import "_Modal_site.scss";
body.overlay:before {
    content: '';
    background: #000000AA;
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-modal-overlay;
}
body.overlay .atoms-side{
    z-index: 200 !important;
}