/* scss/Átomos/_Modal_site.scss */
body.overlay{
    overflow: hidden;
}
body.overlay #main:before {
    content: '';
    background: #00000052;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-overlay;
}
body.overlay #main {
    transform: none !important;
    transition: none;
    will-change: unset;
}
.a-modal {
    display: initial !important;
    z-index: $zindex-modal !important;
    position: relative !important;
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
