/* scss/Átomos/_SeleçãodeEstadoMobile_site.scss */ 
.state-selection-mobile{
    height: auto;
    min-height: 32px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.state-selection-mobile > * {
    @include small-medium($dark0);
}
.state-selection-mobile-title.active > .state-selection-mobile-icon-arrow{
    transform: rotate(180deg);
}
.state-selection-mobile-title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.state-selection-mobile-icon-place{
    width: 32px;
    height: 32px;
}
.state-selection-mobile-icon-arrow{
    width: 32px;
    height: 32px;
}
.state-selection-mobile-text{
    margin-right: 8px;
}
.state-selection-mobile-list{
    display: none;
}
.state-selection-mobile-list ul{
    list-style: none;
}
.state-selection-mobile-list ul li{
    padding: 0px 0px 0px 30px;
    height: 30px;
}
.state-selection-mobile-list.active{
    display: block;
}