/* scss/Átomos/_Sombras.scss */ 
@import "Sombras_site.scss";

div.shadow1, div.shadow2, div.shadow3{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 30px;
}

.shadow1{
    box-shadow: $shadow1;    
}
.shadow2{
    box-shadow: $shadow2;    
}
.shadow3{
    box-shadow: $shadow3;    
}