/* scss/Átomos/_Tipografia.scss */
@import "_Tipografia_site.scss";
.header-0-desktop{
    @include header-0;
}

.header-0-mobile{
    @include header-0;
    font-size: 48px !important;
}

.header-1-desktop{
    @include header-1;
}

.header-1-mobile{
    @include header-1;
    font-size: 32px !important;
}

.header-2-desktop{
    @include header-2;
}

.header-2-mobile{
    @include header-2;
    font-size: 24px !important;
}

.header-3-desktop{
    @include header-3;
}

.header-3-mobile{
    @include header-3;
    font-size: 20px !important;
}

.header-4-desktop{
    @include header-4;
}

.header-4-mobile{
    @include header-4;
    font-size: 20px !important;
}

.header-5-desktop{
    @include header-5;
}

.header-5-mobile{
    @include header-5;
    font-size: 20px !important;
}

.quote-desktop{
    @include quote;
}

.quote-mobile{
    @include quote;
    font-size: 16px !important;
}

.paragraph-desktop{
    @include paragraph-regular;
}

.paragraph-mobile{
    @include paragraph-regular;
    font-size: 14px !important;
}

.paragraph-medium-desktop{
    @include paragraph-medium;
}
.paragraph-medium-mobile{
    @include paragraph-medium;
    font-size: 14px !important;
}

.paragraph-desktop-serifa{
    @include paragraph-regular-serif;
}

.paragraph-mobile-serifa{
    @include paragraph-regular-serif;
    font-size: 14px !important;
}

.small-medium-desktop{
    @include small-medium;
}

.small-medium-mobile{
    @include small-medium;
    font-size: 12px !important;
}

.paragraph-desktop-card{
    @include paragraph-card;
    text-align: left !important;
}

.paragraph-mobile-card{
    @include paragraph-card;
    font-size: 14px !important;
    text-align: left !important;
}

.small-bold-desktop-card{
    @include small-bold-card;
}
.small-bold-mobile-card{
    @include small-bold-card;
    font-size: 12px !important;
}
