$z-index-header: 300 !default;
$z-index-middle: 200 !default;
$z-index-footer: 100 !default;

$zindex-dropdown: 1000 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-overlay: 1040 !default;
$zindex-modal: 1050 !default;
