.basket-header{
    height: 63px;
    width: 100%;
    box-shadow: $shadow1;
    background: $white;
    padding: 16px;
    display: flex;
    @media (min-width:$media-min-desktop) {
        height: 88px;
        padding: 24px 0px;
    }
}

.basket-header .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (min-width:$media-min-desktop) {
        max-width: 1170px;
    }
}

.basket-header .content a .logo-maquiadoro{
    display: flex;
    align-items: center;
}

.basket-header .content a .logo-maquiadoro svg{
    width: 156px;
    height: 31px;
    @media (min-width:$media-min-desktop) {
        width: 202px;
        height: 40px;
    }
}


.basket-header .content .secure-site{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.basket-header .content .secure-site .icon{
    width: 21px;
    height: 21px;    
    @media (min-width:$media-min-desktop) {
        width: 48px;
        height: 48px;    
    }
    
}

.basket-header .content .secure-site .text{
    @include paragraph-regular;
    @media (min-width:$media-min-desktop) {
        @include header-3-medium;
    }
}