.wd-checkout-basket{
    width: 100%;
    padding-top: 16px;
    @media (min-width:$media-min-desktop) {
        max-width: 1170px;
        margin: 0 auto;
        padding-top: 24px;
    }
}

.wd-checkout-basket .basket-grid-left{
    width: 100%;
    @media (min-width:$media-min-desktop) {
        max-width: 870px;
        margin-right: 30px;
    }
}

.wd-checkout-basket .basket-title{
    @include header-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.wd-checkout-basket .basket-grid-right{
    width: 100%;
    @media (min-width:$media-min-desktop) {
        max-width: 270px;
    }
}

.wd-checkout-basket .basket-grid-right > .title{
    @include header-3-medium;
    display: none;
    @media (min-width:$media-min-desktop) {
        padding-left: 24px;
        margin-bottom: 21px;
        display: block;
    }
}

.wd-checkout-basket .checkout-mobile{
    position: sticky;
    margin-top: 0px;
    bottom: 0px;
    width: 100%;
    display: block;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.wd-checkout-basket .basket-grid-right .checkout{
    position: sticky;
    margin-top: 0px;
    bottom: 0px;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}