/* scss/Organismos/_Benefits-slider_site.scss */ 
.benefits-slider-wrapper{
    background: $light-1;
    padding: 24px 45px;
    position: relative;
    @media (min-width: $media-min-desktop) {
        background: $white;
        padding: 24px 0px;
    }
}
.benefits-slider-wrapper div > .tns-controls > button{
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
}
.benefits-slider-wrapper .item:not(:first-child){
    display:none;
    @media (min-width: $media-min-desktop) {
        display: flex;   
    }
}
.benefits-slider-wrapper div > div.tns-controls > button:nth-child(1){
    left: 0;
}
.benefits-slider-wrapper div > div.tns-controls > button:nth-child(2){
    right: 0;
}
.tiny-slider-loop{
    @media (min-width: $media-min-desktop) {
        display: flex;
        justify-content: center;    
    }
}
