/* scss/Organismos/_Card-product_site.scss */
.wd-product-line{
    background: $white;
    box-shadow: $shadow2;    
    width: 49%;
    position: relative;
    max-width: 238px;
    border-radius: $border8;
    @media (min-width:$media-min-desktop){
        width: 238px;
    }
}
.wd-product-line a{
    text-decoration: none;
    color: $dark0;
}
.wd-product-line-medias{
    margin-bottom: 3px;
    position: relative;
    @media (min-width:$media-min-desktop){
        margin-bottom: 8px;
    }
}
.wd-product-line-medias a{
    overflow: hidden;
    padding-bottom: 100%;
    height: auto !important;
    width: auto !important;
    display: block;
}
.wd-product-line .variation{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: $border8-8-0-0;
    
    
}
.wd-product-line .variation img{
    width: 100%;
    height: auto;
    border-radius: $border8-8-0-0;
    display: flex;
    position: absolute;
}
.wd-product-line .product-line-flag-like{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.wd-product-line .product-line-flag-like > * {
    fill: $primary0;
}
.wd-product-line .product-line-flag-off-sale{
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 2px 7px 1px 7px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    border-radius: $border0-4;
    background-color: $primary0;
    @include paragraph-medium($color: $white);
    @media (min-width:$media-min-desktop){
        padding: 3px 14px 2px 14px;
        height: 32px;
    }
}
.wd-product-line .product-line-flags{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    min-height: 25px;
    @media (min-width:$media-min-desktop){
        margin-bottom: 8px;
        min-height: 28px;
    }
}
.wd-product-line .product-line-flag{
    padding: 0px 8px;
    height: 12px;
    margin-bottom: 3px;
    border-radius: $border32;
    background-color: $primary0;
    border: 2px solid $primary0;
    @include small-medium($color: $white);
    text-align: center;
    box-sizing: border-box;
    display: table;
    margin-right: 2px;
    @media (min-width:$media-min-desktop){
        margin-right: 4px; 
        padding: 0px 16px;
        height: 20px;
    }
}
.wd-product-line .product-line-flag.variations{
    color: $primary0;
    background-color: $white;
    margin-left: 2px;
    @media (min-width:$media-min-desktop){
        margin-left: 4px;
    }

}
.wd-product-line .card-product-text{
    margin: 0px auto 8px auto;
    @media (min-width:$media-min-desktop){
        margin: 0px auto 16px auto;
    }
}
.wd-product-line .product__brand-link:hover{
    text-decoration: underline;
}
.wd-product-line .product__brand{
    height: 21px;
    @include paragraph-medium;
    text-align: center;
    width: 100%;
    padding: 0px 8px;
    @media (min-width:$media-min-desktop){
        height: 24px;
        padding: 0px 16px;
    } 
}
.wd-product-line .product__name{
    width: 100%;
    min-height: 51px;
    max-height: 51px;
    margin-bottom: 4px;
    padding: 0px 8px;
    @include paragraph-card;
    overflow: hidden;
    @media (min-width:$media-min-desktop){
        min-height: 57px;
        max-height: 57px;
        padding: 0px 16px;
        margin-bottom: 8px;
    } 
}
.wd-product-line .product__price{
    margin: 0px auto 8px auto;
    padding: 0px 8px;
    @media (min-width:$media-min-desktop){
        margin: 0px auto 16px auto;
        padding: 0px 16px;
    }
}
.wd-product-line .wd-product-price-description .priceContainer{
    margin: 0 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 42px;
    @media (min-width:$media-min-desktop){
        height: 47px;
    }
}
.wd-product-line .wd-product-price-description .priceContainer .list-price{
    text-align: center;
    height: 18px;
    display: block;
    @include small-bold-card;
    @media (min-width:$media-min-desktop){
        height: 21px;
    } 
}
.wd-product-line .wd-product-price-description .priceContainer .list-price.from{
    height: 42px;
    margin-top: -2px;
    @media (min-width:$media-min-desktop){
        height: 47px;
    }
}
.wd-product-line .wd-product-price-description .priceContainer .list-price.from .prefix{
    text-align: center;
    height: 18px;
    display: block;
    @include small-bold-card;
    @media (min-width:$media-min-desktop){
        height: 19px;
    } 
}
.wd-product-line .wd-product-price-description .priceContainer .list-price.from span{
    height: 24px;
    text-align: center;
    display: block;
    @include header-4;
    @media (min-width:$media-min-desktop){
        height: 26px;
    } 
}
.wd-product-line .wd-product-price-description .priceContainer .sale-price{
    height: 24px;
    text-align: center;
    display: block;
    @include header-4;
    @media (min-width:$media-min-desktop){
        height: 26px;
    } 
}
.wd-product-line dfn.condition, .wd-product-line small.savings{
    display: none !important;
}
.wd-product-line .product-but-button{
    padding: 0px 8px 8px 8px;
    @media (min-width:$media-min-desktop){
        padding: 0px 16px 16px 16px;
    }
}
.wd-product-line .btn-i-want.btn.btn-cta.buy{
    max-width: 100%;
    display: block;
    font-size: 20px;
    @media (min-width:$media-min-desktop){
        font-size: 24px;
    } 
}
.wd-product-line .arrow-see-more{
    display: none;
}
/* flip img */
.wd-product-line .animated {
    transition: all .5s cubic-bezier(.4,.2,0,1) .3s
}
.wd-product-line .current-img.flip-card-horizontal {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    backface-visibility: hidden
}
.wd-product-line .current-img.flip-card-horizontal.hidding, .wd-product-line .nextImg.flip-card-horizontal {
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    backface-visibility: hidden
}
.wd-product-line .nextImg.flip-card-horizontal.showing {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    opacity: 1!important;
    filter: alpha(opacity=100)
}