/* scss/Organismos/_Card-product-list_site.scss */ 
.browsing-grid__list.view-list ul li{
    width: 100%;
    margin: 0;
}
.browsing-grid__list.view-list ul li:first-child .wd-product-line{
    margin-top: 0px;
}
.browsing-grid__list.view-list ul li .wd-product-line{
    background: $white;
    box-shadow: $shadow2;    
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    border-radius: $border8;
    height: 159px;
    margin: 16px auto 0px auto;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-img{
    margin: 16px 8px 0px 40px;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.browsing-grid__list.view-list ul li .wd-product-line a{
    text-decoration: none;
    color: $dark0;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-img .wd-product-line-medias{
    margin-bottom: 3px;
    position: relative;
    @media (min-width:$media-min-desktop){
        margin-bottom: 8px;
    }
}

.browsing-grid__list.view-list ul li .wd-product-line .row-img .wd-product-line-medias a{
    overflow: hidden;
    padding-bottom: 100%;
    height: 88px !important;
    width: 88px !important;
    display: block;
}
.browsing-grid__list.view-list ul li .wd-product-line .variation{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: $border8-8-0-0;
    
    
}
.browsing-grid__list.view-list ul li .wd-product-line .variation img{
    width: 100%;
    height: auto;
    border-radius: $border8-8-0-0;
    display: flex;
    position: absolute;
}
.browsing-grid__list.view-list ul li .wd-product-line .product-line-flag-like{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.browsing-grid__list.view-list ul li .wd-product-line .product-line-flag-like > * {
    fill: $primary0;
}
.browsing-grid__list.view-list ul li .wd-product-line .product-line-flag-off-sale{
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 2px 7px 1px 7px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0px;
    left: 0px;
    top: inherit;
    right: inherit;
    border-radius: $border0-8;
    background-color: $primary0;
    @include paragraph-medium($color: $white);
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product-line-flags{
    margin-bottom: 4px;
    min-height: auto;
    height: auto;
    order: 3;
    justify-content: flex-start;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product-line-flag{
    display: none;
    border: none !important;
    min-height: auto;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product-line-flag.variations{
    display: block;
    margin: 0px 0px 4px 0px;
    padding: 0;
    @include small-bold;

}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product-line-flag.variations::before{
    content: '(';
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product-line-flag.variations::after{
    content: ')';
}
.browsing-grid__list.view-list ul li .wd-product-line .card-product-text{
    margin: 0px;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product__brand-link{
    order: 1;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text .product__brand{
    @include paragraph-medium;
    width: 100%;
    padding: 0;
    text-align: left;
}
.browsing-grid__list.view-list ul li .wd-product-line .row-text > a.product__name-link{
    order: 2;
}
.browsing-grid__list.view-list ul li .wd-product-line .product__name{
    width: 100%;
    min-height: auto;
    max-height: 42px;
    margin: 0;
    padding: 0;
    text-align: left;
    @include paragraph-regular; 
}

.browsing-grid__list.view-list ul li .wd-product-line .product__price{
    margin: 0px;
    padding: 0;
    order: 4;
}
.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer .list-price{    
    display: block;
    text-align: left;
    @include small-bold($primary0);
}
.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer .list-price::before{
    content: 'de ';
}

.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer .list-price.from .prefix{    
    display: block;
    text-align: left;
    @include small-bold($primary0);
}

.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer .list-price.from span{    
    display: block;
    text-align: left;
    @include header-5($primary0);
}

.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer .list-price.from::before{
    content: '';
}

.browsing-grid__list.view-list ul li .wd-product-line div.product__price .wd-product-price-description .priceContainer .sale-price{
    display: block;
    text-align: left;
    @include header-5($primary0);
}
.browsing-grid__list.view-list ul li .wd-product-line dfn.condition, .browsing-grid__list.view-list ul li .wd-product-line small.savings{
    display: none !important;
}
.browsing-grid__list.view-list ul li .wd-product-line .product-but-button{
    display: none;
}
.browsing-grid__list.view-list ul li .wd-product-line .arrow-see-more{
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}
.browsing-grid__list.view-list ul li .wd-product-line .arrow-see-more-text{
    @include small-bold;
}
.browsing-grid__list.view-list ul li .wd-product-line .arrow-see-more-icon{
    width: 32px;
    height: 32px;
}