/* scss/Organismos/_category-list_site.scss */ 
.category-list{
    width: 100%;
    margin: 32px auto;
    @media (min-width: $media-min-desktop) {
        width: 1150px;
        position: relative;
        margin: 54px  auto;
    }
    
}
.category-list-title{
    padding: 0;
}
.category-list-title:after {
    content: "";
    display: block;
    height: 2px;
    background: $dark0;
    width: 100%;
    position: relative;
    transform: translateY(-11px);
    z-index: -1;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        transform: translateY(-14px);
    }
}
.category-list-title-text {
    margin: 0 auto;
    text-align: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 0px 16px;
    background: $white;
}
.category-list-title-text.see-more{
    position: relative;
    transform: translate(0px, 0px);
    width: 100%;
    padding: 0 5px;
    @media (min-width: $media-min-desktop) {
        position: absolute;
        transform: translateY(4px);
        right: 0;
        top: 0;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
        padding: 0px;
    }
}
.category-list-title-text.see-more-text{
    display: none;
    @media (min-width: $media-min-desktop) {
        display: block;
        @include paragraph-medium($primary0);
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 16px;
    }   
}
.category-list-title-text.see-more .btn.btn-secondary{
    display: block;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.category-list-title-text.see-more .btn.btn-secondary p{
    display: block;
    @include header-3-medium(inherit);
    @media (min-width: $media-min-desktop) {
        display: none;
    }    
}
.category-list-title-text h2{
    margin: 0;
    @include header-5;
}
.category-list-container{
    padding: 16px 5px 0px 5px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (min-width: $media-min-desktop) {
        padding: 15px 0px;
        flex-direction: row;
        
    }
}
.category-list-container > a{
    display: none;
}
.category-list-container > a:nth-child(-n+6){
    display: block;
    width: 50%;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.category-list-container > a:nth-child(-n+8){
    @media (min-width: $media-min-desktop) {
        display: block;
        width: auto;
    }
}
.category-list-container-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    @media (min-width: $media-min-desktop) {
        margin-bottom: 24px;
    }
}
.category-list-container-item-img{
    width: 95%;
    min-height: 96px;
    height: auto;
    background: $white;
    border-radius: $border8;
    box-shadow: $shadow2;
    @media (min-width: $media-min-desktop){
        width: 270px;
        height: auto;
        max-height: 180px;
    }
}
.category-list-container-item-img img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: $border8;
}
.category-list-container-item-text p{
    @include paragraph-medium($color: $dark0);
    margin-top: 8px;
    @media (min-width: $media-min-desktop){
        margin-top: 16px;
    }
}