/* scss/Organismos/_Formulários.scss */ 
@import "Formulários_site.scss";

.input-group{
    margin-left: 0px;
}

.input-group-input.focused{
    outline: none;
    caret-color: $primary0;
}

.input-group-input.focused ~ .input-group-bar{
    background: $primary0;
}

.input-group-input.focused ~ .input-group-label{
    top: -10px;
    @include small-medium($primary0);
}

.input-group-input.focused{
    outline: none;
    caret-color: $primary0;
}

.input-group-input.focused ~ .input-group-bar{
    background: $primary0;
}

.input-group-input.focused ~ .input-group-label{
    top: -10px;
    @include small-medium($primary0);
}
.icon-right{
    fill: $success0;
}
.icon-wrong{
    fill: $danger0;
}