/* scss/Organismos/_Formulários_site.scss */
.input-group{
    position: relative;
    margin: 0px auto 45px auto;
    width: 100%;
    @media (min-width: 900px){
        margin: 0px auto 55px auto;
    }
}
.input-group-input{
    @include paragraph-regular;
    padding: 10px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    color: $dark0;
    background: transparent;
    @media (min-width: 900px){
        padding: 10px 3px 3px 3px;
    }
}
.input-group-input.icon{
    width: calc(100% - 24px);
}
.input-group-input:focus{
    caret-color: $primary0;
}
.input-group-input:focus ~ .input-group-label, .input-group-label.active{
    top: -10px;
    @include small-medium($primary0);
}
.input-group-label{
    @include paragraph-regular;
    text-transform: lowercase;
    position:absolute;
    pointer-events:none;
    left: 5px;
    top: 10px;
    color: $dark-1;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
}
.input-group-icon{
    width: 34px;
    height: 34px;
    top: 5px;
    display: block;
    position: absolute;    
    left: calc(100% - 29px);
    @media (min-width: 900px){
        top: 7px;
    }
}
.input-group-icon > svg.icon-right, .input-group-icon > svg.icon-wrong, .input-group-icon > svg.icon-dont-see{
    display: none;
}
.input-group-helper-text{
    @include small-medium($dark-1);
    padding: 8px 0px 0px 8px;
    position: absolute;
}
.input-group-box-alert{
    position: absolute;
    @include small-medium($danger0);
    border: 2px $danger0 solid;
    padding: 2px 8px;
    background: $white;
    top: 45px;
    border-radius: 3px;
    color: $danger0;
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    @media (min-width: 900px){
        top: 50px;
    }
}
.input-group-box-alert.show{
    display: block;
    opacity: 1;
}
.input-group-box-alert:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 7px 7px;
    border-style: solid;
    border-color: $danger0 transparent;
    display: block;
    width: 0;
    top: -7px;
    bottom: auto;
    right: 40px;
}
.input-group-box-alert:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    top: -4px;
    bottom: auto;
    right: 47px;
}
.input-group-bar{
    position: relative; 
    display: block;
    height: 2px;
    width: 100%;
    background: $dark-1;
    border-radius: 30px;
}
.input-group-bar:before, .input-group-bar:after{
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px; 
  position: absolute;
  background: $primary0; 
  transition: .2s ease all; 
  -moz-transition: .2s ease all; 
  -webkit-transition: .2s ease all;
}
.input-group-bar:before {
  left: 50%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.input-group-bar:after {
  right: 50%; 
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.input-group-input:focus ~ .input-group-bar:before, .input-group-input:focus ~ .input-group-bar:after {
  width: 50%;
}
.input-group-input ~ .input-group-label{
    color: $dark0;
}
.input-group-input.success ~ .input-group-label{
    color: $success0;
}
.input-group-input.success ~ .input-group-bar{
    background: $success0;
}
.input-group-input.error ~ .input-group-label{
    color: $danger0;
}
.input-group-input.error ~ .input-group-bar{
    background: $danger0;
}
.input-group-input:disabled ~ .input-group-label{
    color: $light1;
}
.input-group-input:disabled ~ .input-group-bar{
    background: $light1;
}
.input-group-input.password ~ .input-group-icon > *{
    fill: $dark0;
}
.input-group-input.password:focus ~ .input-group-icon > *{
    fill: $primary0;
}
/* toggle Password Type */
.input-group-input.password.dont-see ~ .input-group-icon svg.icon-dont-see{
    display: block;
}
.input-group-input.password.dont-see ~ .input-group-icon svg.icon-see{
    display: none;
}
/* valid */
.input-group-input.valid ~ .input-group-label.active{
    color: $success0;
}
.input-group-input.valid ~ .input-group-bar:before, .input-group-input.valid ~ .input-group-bar:after{
    background: $success0;
}
.input-group-input.valid ~ .input-group-bar{
    background: $success0;
}
.input-group-input.valid ~ .input-group-icon svg.icon-right{
    display: block;
}
/* not-valid */
.input-group-input.not-valid ~ .input-group-label.active{
    color: $danger0;
}
.input-group-input.not-valid ~ .input-group-bar:before, .input-group-input.not-valid ~ .input-group-bar:after{
    background: $danger0;
}
.input-group-input.not-valid ~ .input-group-bar{
    background: $danger0;
}
.input-group-input.not-valid ~ .input-group-icon svg.icon-wrong{
    display: block;
}
