/* scss/Organismos/_grid-category-list_site.scss */ 
.brownsing-grid{
    display: flex;
    margin: 0 auto;
    width: 100%;
    @media (min-width:$media-min-desktop) {
        max-width: 1170px;
        width: 1170px;
    }
}

.row{
    max-width: 1170px;
    margin: 0 auto;
}

.grid-brownsing-grid-facet-group{
    display: none;
    @media (min-width:$media-min-desktop){
        display: block;
    }
}

.brownsing-grid > div.brownsing-grid-content-group{
    max-width: 870px;
    width: 870px;
}
.brownsing-grid > div.brownsing-grid-content-group > div.brownsing-grid-content-header > div.category-list{
    width: 100%;
}

.brownsing-grid .brownsing-grid-content-group .brownsing-grid-content-header .browsing-grid-content-header-title h1{
    @include header-1;
    margin: 0px;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        text-align: left;
        margin: 0px 0px 8px 0px;
    }
}

.brownsing-grid .brownsing-grid-content-group .brownsing-grid-content-header .category-content-header-results{
    display: block;
    @include paragraph-regular;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

