/* scss/Organismos/_grid-product-detail_site.scss */ 
.grid-product-detail{
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        min-width: 1170px;
        margin: 0 auto;
        justify-content: center;
    }
}
.grid-product-right{
    order: 0;
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop) {
        order: 2;
        width: 100%;
        max-width: 440px;
    }
}

.grid-product-left{
    order: 0;
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop) {
        order: 1;
        width: 100%;
        max-width: 670px;
        margin-right: 50px;
    }
}
.grid-product-title{
    order: 1;
    @media (min-width:$media-min-desktop) {
        order: 1;
    }
}
.grid-product-medias{
    order: 2;
    @media (min-width:$media-min-desktop) {
        order: 1;
        width: 100%;
        max-width: 670px;
    }
}
.grid-product-price{
    order: 3;
    @media (min-width:$media-min-desktop) {
        order: 2;
    }
}
.grid-product-variations{
    order: 4;
    @media (min-width:$media-min-desktop) {
        order: 3;
    }
}
.grid-product-bundle{
    order: 5;
    margin: 24px 0px 36px 0px;
    box-shadow: $shadow2;
    @media (min-width:$media-min-desktop) {
        order: 5;
        width: 100%;
        position: relative;
        background: $light-1;
        margin: 34px 0px 62px 0px;
        box-shadow: none;
    }
}
.grid-product-bundle .row{
    width: 100%;
    padding-bottom: 20px;
    @media (min-width:$media-min-desktop) {
        max-width: 1170px;
        margin: 0 auto;
        padding-bottom: 26px;
    }
}
.grid-product-gift{
    order: 6;
    @media (min-width:$media-min-desktop) {
        order: 3;
        width: 100%;
        max-width: 670px;
    }
}
.grid-product-buy{
    order: 7;
    @media (min-width:$media-min-desktop) {
        order: 4;
    }
}
.grid-product-shipping{
    order: 8;
    @media (min-width:$media-min-desktop) {
        order: 4;
        width: 100%;
        max-width: 440px;
    }
}