/* scss/Organismos/_Header_site.scss */
.header{
    background: $white;
    width: 100%;
    padding: 8px 5px;
    min-height: 100px;
    z-index: $z-index-header;
    @media (min-width:$media-min-desktop){
        min-width: 1170px;
        height: 144px;
        padding: 18px 0px 0px 0px;
    }
}
.header .row-1{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (min-width:$media-min-desktop){
        flex-wrap: nowrap;
        justify-content: center;
    }
    
}
.header .row-1 .header-icons{
    display: inline-flex;
    flex-grow: 2;
    justify-content: flex-end;
    @media (min-width:$media-min-desktop){
        flex-grow: inherit;
        justify-content: inherit;
    }
}
.header .menu-wrapper{
    transform: translateY(-11px);
    display: none;
    @media (min-width:$media-min-desktop){
        display: flex;
    }
}

.wd-search-custom{
    margin: 0 auto;
    min-width: 310px;
    width: 100%;
    order: 4;
    @media (min-width:$media-min-desktop){
        width: 552px;
        height: 48px;
        margin: 0 64px;
        order: inherit;
    }
}
.header-menu-mobile{
    display: block;
    z-index: 2;
    @media (min-width:$media-min-desktop){
        display: none;
    }
}
.header-menu-mobile-icon{
    width: 40px;
    height: 40px;
    fill: $dark0;
}