/* scss/Organismos/_product-medias_site.scss */
.product-medias {
    margin: 0 auto;
    position: relative;
    @media (min-width: $media-min-desktop) {
        margin: 0;
        max-width: 686px;
        display: flex;
        justify-content: flex-end;
    }
}

.product-medias .wrapper>figure {
    display: flex;
    margin: 0;
}

.product-medias .wrapper>figure>.wd-product-media-selector>ul {
    width: 70px;
    margin-right: 30px;
    display: none;

    @media (min-width: $media-min-desktop) {
        display: block;
    }
}

.product-medias .wrapper>figure>.wd-product-media-selector>ul>li.image {
    width: 70px;
    height: 70px;
    border-radius: $border4;
    margin-bottom: 24px;
    cursor: pointer;
}

.product-medias .wrapper>figure>.wd-product-media-selector>ul>li.image.selected {
    border: 2px $primary0 solid;
}

.product-medias .wrapper>figure>.wd-product-media-selector>ul>li.image:last-child {
    margin-bottom: 0px;
}

.grid-product-medias > .product-medias > a > div.flag-free-item{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 104px;
    height: 104px;
    background: $primary0;
    border-radius: 100%;
    padding: 25px 3px;
    text-align: center;
    @media (min-width: $media-min-desktop) {
        top: 0;
        right: 0;
    }
}
.grid-product-medias > .product-medias > a > div.flag-free-item:before{
    content: '';
    display: block;
    width: 112px;
    height: 110px;
    background: transparent;
    border: 4px $primary0 solid;
    border-radius: 100%;
    top: -7px;
    position: absolute;
    left: -8px;
}
.grid-product-medias > .product-medias > a > div.flag-free-item > .flag-free-item-content{
    @include paragraph-card($white);
    font-size: 14px;
    @media (min-width: $media-min-desktop) {
        font-size: 14px;
    }
    
}
.grid-product-medias > .product-medias > a > div.flag-free-item > .flag-free-item-content span:nth-child(1){
    @include small-bold-card($white);
    font-size: 12px;
    @media (min-width: $media-min-desktop) {
        font-size: 12px;
    }
    
}
.grid-product-medias > .product-medias > a > div.flag-free-item > .flag-free-item-content span:nth-child(2){
    @include small-medium($white);
    
}

.product-medias .wrapper>figure>.wd-product-media-selector>ul>li.image>img {
    width: 100%;
    border-radius: $border4;
    height: auto;
}

.product-medias .wrapper>figure>.wd-product-medias-enlarger {
    display: none;
}

.wd-product-medias-displayer .zoom {
    position: relative;
    margin: 0 auto;
}

.wd-product-medias-displayer .ezZoom-container {
    overflow: hidden;
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff
}

.wd-product-medias-displayer .ezZoom-container.dispatch {
    margin-left: -999em
}
.wd-product-medias-displayer .ezZoom-container img{
    max-width: inherit;
    width: auto;
    height: auto;
}
.wd-product-medias-displayer .ezZoom-big {
    position: absolute;
    left: 0;
    top: 0;
    display: block
}

.wd-product-medias .wd-product-medias-displayer {
    background-color: #fff;
    width: 100%;
    @media (min-width: $media-min-desktop) {
        width: 540px;
    }
}

.wd-product-medias .wd-product-medias-displayer .zoom {
    padding: 0;
    background: #fff;
    width: 100%;
    height: auto;
}

.product__medias{
    padding: 0 !important;
}

.wd-product-medias .wd-product-medias-displayer > img {
    max-width: inherit;
    width: 100%;
    height: auto;
    @media (min-width: $media-min-desktop) {
        width: 540px;
    }
}
.product__medias .orbit-container .orbit-slides-container img {
    height: auto;
}

.product__medias .orbit-container .orbit-bullets-container{
    display: flex;
    transform: translate(-50%, -23px);
    position: absolute;
    left: 50%;
    z-index: 7;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.product__medias .orbit-container .orbit-bullets-container .orbit-bullets{
    margin: 0px auto;
    position: relative;
    padding: 0;
    display: flex;
    top: 0;
}

.product__medias .orbit-container .orbit-bullets-container .orbit-bullets li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 2px $primary0 solid;
    background: transparent;
    margin-right: 12px;
    border-radius: 100%;
}
.product__medias .orbit-container .orbit-bullets-container .orbit-bullets li.active:after{
    content: '';
    display:flex;
    width: 10px;
    height: 10px;
    background: $primary0;
    border-radius: 100%;  
}
.wd-product-medias-displayer .orbit-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.wd-product-medias-displayer .orbit-container [data-orbit] {
    overflow: hidden;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%!important;
}
.wd-product-medias img {
    width: 100% !important;
    height: auto !important;
}