/* scss/Organismos/_product-list_site.scss */ 
.wd-product-list .wd-title, .tns-visually-hidden{
    display: none;
}
.product-list{
    width: 100%;
    margin: 32px auto;
    @media (min-width: $media-min-desktop) {
        width: 1150px;
        position: relative;
        margin: 54px auto;
    }
}
.product-list-title{
    padding: 0;
    @media (min-width: $media-min-desktop) {
        padding: 0 20px;
    }
}
.product-list-title:after {
    content: "";
    display: block;
    height: 2px;
    background: $dark0;
    width: 100%;
    position: relative;
    transform: translateY(-11px);
    z-index: -1;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        transform: translateY(-14px);
    }
}
.product-list-title-text {
    margin: 0 auto;
    text-align: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 0px 16px;
    background: $white;
}
.product-list-title-text.see-more{
    position: relative;
    transform: translate(0px, 0px);
    width: 100%;
    padding: 0 5px;
    @media (min-width: $media-min-desktop) {
        position: absolute;
        transform: translate(-4px, 4px);
        right: 0;
        top: 0;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
        padding: 0px;
    }
}
.product-list-title-text.see-more-text{
    display: none;
    @media (min-width: $media-min-desktop) {
        display: block;
        @include paragraph-medium($primary0);
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 16px;
    }   
}
.product-list-title-text.see-more .btn.btn-secondary{
    display: block;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}
.product-list-title-text.see-more .btn.btn-secondary p{
    display: block;
    @include header-3-medium(inherit);
    @media (min-width: $media-min-desktop) {
        display: none;
    }    
}
.product-list-title-text h2{
    margin: 0;
    @include header-5;
}

.product-list .card-product{
    margin: 0 auto;
    width: 90%;
    @media (min-width: $media-min-desktop) {
        margin: 24px 15px;
        width: auto;
    }
}
.product-list .tiny-slider{
    display: flex;
    flex-flow: wrap;
    margin: 8px 0px 0px 0px;
    @media (min-width: $media-min-desktop) {
        margin: 0px 0px 10px 0px;
        display: block;
        height: 513px;
    }
}
.product-list .item{
    display: inline-block;
    margin: 0px auto;
    width: 50%;
    padding: 5px;
    @media (min-width: $media-min-desktop) {
        margin: 20px 0;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: auto;
        min-width: 284px;
    }
}
.product-list .item .wd-product-line{
    margin: 0px auto;
    width: 100%;
    @media (min-width: $media-min-desktop) {
        width: auto;
    }
}
.product-list .tns-outer {
    position: relative;
}
.product-list .tns-controls button {
    position: absolute;
    border-radius: 100%;
    box-shadow: $shadow3;
    border: none;
    top: 50%;
    z-index: 1;
    padding: 0;
    background: $white;
    @media (min-width: $media-min-desktop) {
        width: 72px;
        height: 72px;
    }
}
.product-list .tns-inner{
    padding: 0px !important;
    overflow: hidden;
    
}
.product-list .tns-controls button svg{
    fill: $dark0;
}
.product-list .tns-controls button:disabled {
    display: none;
}
.product-list .tns-controls button:nth-child(1) {
    left: 25px;
    transform: translate(-50%, -100%)
}
.product-list .tns-controls button:nth-child(2) {
    right: 25px;
    transform: translate(50%, -100%);
}