/* scss/Organismos/_testimonials_site.scss */ 
.testimonials-wrapper{
    position: relative;
    box-shadow: $shadow2;
    padding: 24px 16px;
    @media (min-width: $media-min-desktop) {
        margin-bottom: 32px;
        padding: 0;
        box-shadow: none;
    }
}
.testimonials-title{
    padding: 0;
}
.testimonials-title:after {
    content: "";
    display: none;
    @media (min-width: $media-min-desktop) {
        background: $light1;
        display: block;
        transform: translateY(-14px);
        height: 2px;
        width: 100%;
        position: relative;
        z-index: 0;
    }
}
.testimonials-title-text {
    margin: 0 auto;
    text-align: center;
    padding: 0px 16px;
    background: $white;
    position: relative;
    z-index: 1;
    @media (min-width: $media-min-desktop) {
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
    }
}
.testimonials-title-text h2{
    margin: 0px 0px 16px 0px;
    @include header-5;
    @media (min-width: $media-min-desktop) {
        margin: 0px 0px 0px 0px;
    }
}
.testimonials-wrapper .tns-inner {
    @media (min-width: $media-min-desktop) {
        padding: 24px 0px;
    }
}
.testimonials-wrapper div > .tns-controls > button{
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0px;
    top: 50%;
    transform: translateY(-85px);
    position: absolute;
    z-index: 2;
}
.testimonials-wrapper div > div.tns-controls > button:nth-child(1){
    left: 0;
}
.testimonials-wrapper div > div.tns-controls > button:nth-child(2){
    right: 0;
}

.testimonials-phrase{
    @include paragraph-regular($primary0);
    padding-top: 16px;
    margin-top: 16px;
    text-align: center;
    width: 100%;
    border-top: 2px $light-1 solid;
    @media (min-width: $media-min-desktop) {
        display: none;
    }
}