/* scss/Moléculas/_aviso-frete_site.scss */ 
.shipping-alert{
    background: rgba($light-1, $opacity50);
    border-radius: $border4;
    border: 2px $light0 solid;
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: center;
}
.shipping-alert-icon{
    width: 66px;
    height: 66px;
    border-radius: 100%;
    box-shadow: $shadow1;
    background: $white; 
    margin-right: 16px;
}
.shipping-alert-content-text{
    display: flex;
    flex-direction: column;
}
.shipping-alert-title{
    @include paragraph-medium($success0);
}
.shipping-alert-text{
    @include small-bold($dark0);
    max-width: 278px;
}