.basket-empty{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 16px 16px 16px 16px;
    @media (min-width:$media-min-desktop) {
        padding: 24px 16px 16px 16px;
    }
}
.basket-empty .title{
    @include header-1;
    text-align: center;
    margin-bottom: 8px;
    margin: 0;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 24px;
    }
}

.basket-empty .icon{
    width: 56px;
    height: 56px;
    margin-bottom: 8px;
    @media (min-width:$media-min-desktop) {
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
    }
}

.basket-empty .icon svg{
    fill: $dark0;
}

.basket-empty .phrase{
    @include paragraph-regular;
    text-align: center;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 24px;
    }
}

.basket-empty a{
    display: block;
    width: 100%;    
    @media (min-width:$media-min-desktop) {
        width: auto;
    }
}

.basket-empty a .button.btn.btn-secondary{
    width: 100%;
}