.basket-subtotal{
    padding: 32px 16px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width:$media-min-desktop) {
        height: 55px;
        background: $light-1;
    }
}

.basket-subtotal .title{
    @include header-3-medium;
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium;
    }
}

.basket-subtotal .value{
    @include header-3-medium;
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium;    
    }
    
}

