/* scss/Moléculas/_basket-item-flag-messages_site.scss */
.basket-item-flag-message{
    position: absolute;
    border-radius: $border2;
    padding: 2px 8px 0px 8px;
    background: $white;
} 
.basket-item-flag-message.warning{
    border: 2px $warning0 solid;
}
.basket-item-flag-message.danger{
    border: 2px $danger0 solid;
}
.basket-item-flag-message:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 7px 7px;
    border-style: solid;
    display: block;
    width: 0;
    top: -7px;
    bottom: auto;
    right: 40px;
}
.basket-item-flag-message:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    top: -4px;
    bottom: auto;
    right: 47px;
}

.basket-item-flag-message.warning:before{
    border-color: $warning0 transparent;
}

.basket-item-flag-message.danger:before{
    border-color: $danger0 transparent;
}

.basket-item-flag-message div{
    @include small-bold($dark-1);
    text-align: center;
}

.basket-item-flag-message.danger div{
    @include small-bold($danger0);
}