.basket-total{
    padding: 8px 16px;
    box-shadow: $shadow2;
    background: $white;
    @media (min-width:$media-min-desktop) {
        padding: 16px 24px;
    }
}
.basket-total .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.basket-total .info .text{
    @include header-3-medium;
}

.basket-total .info .value{
    @include header-3-medium;
}

.basket-total .payment-conditions{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.basket-total .payment-conditions > *{
    text-align: right;
    @include paragraph-regular;
    @media (min-width:$media-min-desktop) {
        @include small-bold;
        font-size: 12px !important;
    }
}
