.wd-checkout-basket-discount-progressive > .wd-content > ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    @media (min-width:$media-min-desktop) {
        justify-content: space-between;
        max-width: 870px;
        flex-direction: row;
    }
}

.wd-checkout-basket-discount-progressive > .wd-content > ul > li.Amount{
    width: 100%;
    display: flex;
    @media (min-width:$media-min-desktop) {
        max-width: 270px;
    }
}

.wd-checkout-basket-discount-progressive .wd-content ul li.Amount > div {
    width: 100%;
    border-radius: $border4;
    border: 2px $info0 solid;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        max-width: 270px;    
        margin-bottom: 0px;
    }
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.active > div{
    border: 2px $success0 solid;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.beforeActive > div{
    border: 2px $success0 solid;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount > div .remaining{
    @include small-bold;
    background: $white; 
    color: $info0; 
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px $info0 solid;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.active > div .remaining{
    background: $success0; 
    border-bottom: 2px $success0 solid;
    font-size: 0px;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.active > div .remaining:after{
    @include small-bold;
    color: $white; 
    content: 'desconto atingido!';
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.beforeActive > div .remaining{
    background: $white; 
    border-bottom: 2px $success0 solid;
    font-size: 0px;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.beforeActive > div .remaining:after{
    @include small-bold;
    color: $dark0; 
    content: 'desconto atingido!';
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount > div .condition{
    padding: 8px 8px 10px 8px;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount > div .condition .price-range{
    margin-bottom: 4px;
    text-align: center;
    @include paragraph-regular;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount > div  .condition .win{
    text-align: center;
    @include paragraph-regular;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount > div .condition .price-range span, .wd-content ul li.Amount > div .condition .win span{
    @include header-4;
}
.wd-checkout-basket-discount-progressive .wd-content ul li.Amount.active > div .condition .price-range span, .wd-content ul li.Amount.active > div .condition .win span{
    color: $success0; 
}
