/* scss/Moléculas/_breadcrumbs_site.scss */ 
.wd-browsing-breadcrumbs{
    padding-left: 16px;
    @media (min-width:$media-min-desktop) {
        padding-left: 0px;
    }
}
.wd-browsing-breadcrumbs li {
    display: inline;
}
.wd-browsing-breadcrumbs ol {
    padding: 0px;
}
.wd-browsing-breadcrumbs a, .wd-browsing-breadcrumbs span{
    color: $dark-1;
    font-weight: 500;      
    line-height: 150%;
    font-size: 11px;
    font-style: italic;
    @media (min-width:$media-min-desktop){
        font-size: 12px;
    }
}