/* scss/Moléculas/_browsing-grid-banner_site.scss */ 
.browsing-grid-content-header-banner{
    width: 100%;
    @media (min-width:$media-min-desktop) {
        width: 870px;
    }
}
.browsing-grid-content-header-banner .banner-wrapper{
    height: auto !important;
}
.browsing-grid-content-header-banner img{
    width: 100%;
    height: auto;
}

.browsing-grid-content-header-banner .banner-terms p{
    @include tiny;
    margin: 4px 0px 16px 0px;
    padding: 0 16px;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        @include small-bold;
        padding: 0;
        margin: 4px 0px 24px 0px;
        text-align: left;
        font-style: normal;
    }
}