/* scss/Moléculas/_browsing-grid-list_site.scss */ 
.browsing-grid__list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 8px;
    @media (min-width:$media-min-desktop) {
        padding: 0 10px 0px 14px;
        margin: 0 auto;
        min-width: 850px;
        max-width: 850px;
    }
}
.browsing-grid__list > ul > li.not-purchasable{
    filter: grayscale(1);
}
.browsing-grid__list .wd-product-line {
    width: 100%; 
    margin: 0 auto;
    @media (min-width:$media-min-desktop) {
        margin: 0;
    }   
}
.browsing-grid__list ul li {
    width: 50%;
    margin-bottom: 16px;
    padding: 0 4px;
    @media (min-width:$media-min-desktop) {
        width: 250px;
        padding: 0;
        margin: 12px 38px 12px 0px;
    }
}
.browsing-grid__list ul li:nth-child(3n){
    @media (min-width:$media-min-desktop) {
        margin: 12px 0px 12px 0px;
    }
}

.wd-browsing-grid .live-scroll{
    display: flex;
    padding: 0px 8px;
    @media (min-width:$media-min-desktop) {
        padding: 0px;
    }
}

.wd-browsing-grid .live-scroll .more-results {
    @include header-3-medium($primary0);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    background: $white;
    border: 2px $primary0 solid;
    width: 100%;
    box-shadow: none;
    @media (min-width:$media-min-desktop) {
        padding: 8px 13px;
        color: $white;
        background: $primary0;
        border: none;
        box-shadow: $shadow1;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
    }
}

.wd-browsing-grid .live-scroll.load .more-results {
    color: transparent;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    border: none;
}

.wd-browsing-grid .load .more-results .icon{
    display: block;
    width: 32px;
    height: 32px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.wd-browsing-grid .load .more-results .icon svg{
    fill: $primary0;
    @media (min-width:$media-min-desktop) {
        fill: $white;
    }
}
.wd-browsing-grid .live-scroll.finished{
    display:none;
}
.wd-browsing-grid .live-scroll .more-results:not(.btn) {
    visibility: hidden;
    height: 40px;
    @media (min-width:$media-min-desktop) {
        height: 42px;
    }
}

.wd-content .wd-browsing-grid-pager{
    display: none;
}