/* scss/Moléculas/_browsing-grid-header_site.scss */
.brownsing-grid > div.brownsing-grid-content-group > div.brownsing-grid-content-header > div.category-content-header-title > div{
    display: block;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.browsing-grid__header{
    display: flex;
    justify-content: space-between;
    margin: 0px auto 15px auto;
    border-top: 2px $light0 solid;
    border-bottom: 2px $light0 solid;
    align-items: center;
    width: calc(100% - 32px);
    @media (min-width:$media-min-desktop) {
        height: 40px;
        padding: 0px 10px;
        margin: 0px 0px 12px 0px;
        width: 100%;
    }
}

.brownsing-grid-content-group > div.brownsing-grid-content-header > div.category-list{
    margin: 0 auto;
}
.brownsing-grid-content-group > div.brownsing-grid-content-header > div.category-list .category-list-container{
    padding: 0;
}
.brownsing-grid-content-group > div.brownsing-grid-content-header > div.category-list .category-list-container a:nth-child(n+4){
    display: block;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}
.brownsing-grid-content-group > div.brownsing-grid-content-header > div.category-list .category-list-container a:nth-child(n+5){
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.browsing-grid__header .browsing-grid__number-results{
    @include paragraph-medium;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.browsing-grid__header .browsing-grid__filter-results, .browsing-grid__header .browsing-grid__switch.switch-list{
    display: block;
    @media (min-width:$media-min-desktop) {
        display: none;
    }    
}
.browsing-grid__header .browsing-grid__switch.switch-list{
    transform: translateX(8px);
}
.browsing-grid__header .browsing-grid__filter-results{
    min-width: 80px;
}
.browsing-grid__header .browsing-grid__filter-results span{
    @include paragraph-medium;
}

.browsing-grid__header .browsing-grid__sort{
    margin: 0 auto;
    @media (min-width:$media-min-desktop) {
        margin: 0;
    }
}

