/* scss/Moléculas/_cnpj_site.scss */ 
.shop-info{
    margin: 0;
    padding: 24px 16px;
    background: $light0;
    @media (min-width:$media-min-desktop){
        background: transparent;
    }
}
.shop-info-text{
    text-align: center;
    @include small-bold;
}