.error-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 16px 16px;
    @media (min-width:$media-min-desktop) {
        padding: 32px 16px 16px 16px;
    }
}

.error-wrapper .icon{
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px $primary0 solid;
    box-shadow: $shadow2;
    border-radius: 100%;
    @include header-1;
    margin-bottom: 16px;
}

.error-wrapper .icon.e404:before{
    content: '404';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: $primary0;
}

.error-wrapper .icon.e500:before{
    content: '500';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: $primary0;
}

.error-wrapper .title{
    @include header-2;
    margin-bottom: 4px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 8px;
    }
}

.error-wrapper .message{
   @include paragraph-regular; 
   text-align: center;
   margin-bottom: 16px;
   @media (min-width:$media-min-desktop) {
       margin-bottom: 24px;
       max-width: 570px;
   }
}

.error-wrapper a{
    display: block;
    width: 100%;    
    @media (min-width:$media-min-desktop) {
        width: auto;
    }
}

.error-wrapper a .button.btn.btn-secondary{
    width: 100%;
}