/* scss/Moléculas/_Facetas_site.scss */ 
.brownsing-grid-facet-group{
    width: 100%;
    border-radius: $border8;
    box-shadow: $shadow2;
    background: white;
    margin-right: 0px;
    @media (min-width:$media-min-desktop){
        min-width: 270px;
        max-width: 270px;
        margin-right: 30px;
    }

}
.wd-facet-group .facets-panel{
    border-radius: $border8;
    box-shadow: $shadow2;
    background: white;
    
}
.wd-facet-group .selected-facets{
    padding: 24px 16px 13px 16px;
    @media (min-width:$media-min-desktop){
        padding: 16px 24px;
    }
}
.wd-facet-group .facet-type-selected.template div{
    @include header-5;
    margin-bottom: 4px;
    @media (min-width:$media-min-desktop){
        margin-bottom: 8px;
    }
}
.wd-facet-group .selected-facets .facet-type-selected.template .selected-facet .selected-facet-name{
    display: none;
}
.wd-facet-group .selected-facets .facet-type-selected.template .selected-facet ul .selected-option{
    border-radius: $border8;
    background: $primary0;
    @include small-bold($white);
    padding: 0px 8px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    display: flex;
    cursor: pointer;
    margin: 0px 0px 4px 0px;
    text-transform: lowercase;
    @media (min-width:$media-min-desktop){
        border-radius: $border24;
        margin: 0px 0px 8px 0px;
    }
}
.wd-facet-group .selected-facets .facet-type-selected.template .selected-facet ul .selected-option .clear-filter{
    margin-left: 8px;
}
.wd-facet-group .selected-facets .badge.remove-facet{
    display: inline-block;
    @include small-bold;
    color: white;
    background: $primary0;
    border-radius: $border32;
    padding: 0 8px;
    min-height: 21px;
    margin-left: 8px;
}
.wd-facet-group .facets{
    @include paragraph-medium;
    border-top: 2px solid $light-1;
    padding: 0 16px;
    @media (min-width:$media-min-desktop){
        border-top: none;
    }
}

.wd-facet-group .facets .facet-title{
    border-bottom: 2px solid $dark0;
    padding-left: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wd-facet-group .facets .facet-title div{
    width: 40px;
    height: 40px;
}
.wd-facet-group .facets .facet-title.facet-closed div{
    transform: rotate(180deg);
}
.wd-facet-group .facets .level-0{
    margin-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.wd-facet-group .facets .level-0 .expander{
    width: 32px;
    height: 32px;
}

.wd-facet-group .facets .level-0 .expander div{
    width: 32px;
    height: 32px;
}

.wd-facet-group .facets .level-0.list-open .expander .expander-open{
    display: none;
}
.wd-facet-group .facets .level-0 .expander .expander-open{
    display: block;
}
.wd-facet-group .facets .level-0.list-open .expander .expander-close{
    display: block;
}
.wd-facet-group .facets .level-0.list-open .expander .expander-close svg{
    fill: $primary0;
}
.wd-facet-group .facets .level-0 .expander .expander-close{
    display: none;
}

.wd-facet-group .facets .level-0 > ul{
    width: 100%;
}
.wd-facet-group .facets .level-1{
    margin-left: 48px; 
}

.wd-facet-group .level-0 a{
    align-items: center;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    width: calc(100% - 32px);
}
.wd-facet-group .level-0 a.selected .option-icon{
    display: block;
    width: 40px;
    height: 40px;
}


.wd-facet-group .level-1 a{
    width: 100%;
}

.wd-facet-group .level-0 a span{
    max-width: 150px;
}

.wd-facet-group .option-icon{
    display: none;
}
.wd-facet-group .option-icon svg{
    fill: $primary0;
}

.option-count{
    display: none;
}

.wd-facet-group .selected{
    color: $primary0;
}


/*modal*/
.selected-facets.hidden{
    position: relative;
}
.facet-type-selected.template .icon.a-modal-close{
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
    display: block;
    @media (min-width:$media-min-desktop) {
        display: none; 
    }
}
.grid-brownsing-grid-facet-group.a-modal {
    width: 100%;
    padding: 0px 8px;
    overflow: hidden;
}

.grid-brownsing-grid-facet-group.a-modal > div > div > div.facets{
    height: 90vh;
    overflow: hidden scroll;
}


