/* scss/Moléculas/_h2-seo_site.scss */ 
.seo h2, h2.seo{
    width: 100%;
    text-align: center;
    border-top: 2px solid $dark0; 
    border-bottom: 2px solid $dark0;
    margin: 0px auto 16px auto;
    padding: 16px 0px;
    @include header-2;
    @media (min-width: $media-min-desktop) {
        margin: 0px auto 24px auto;
        padding: 24px 0px;
    }     
}