/* scss/Moléculas/_h4-seo_site.scss */ 
.seo h4, h4.seo{
    @include header-4;
    margin: 0 auto 8px auto;
    @media (min-width: $media-min-desktop) {
        margin: 0 auto 16px auto;
    }
}
.seo h4:before, h4.seo:before{
    content: '• '
}