/* scss/Moléculas/_header-login_site.scss */ 
.header-login-wrapper{
    padding: 8px;
    box-shadow: $shadow3;
    background: $white;
    border-radius: $border4;
    width: 108px;
    position: relative;
}
.header-login-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: $white;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}
.header-login-item{
    @include small-bold;
    padding: 8px 0px;
    text-align: left;
    border-bottom: 2px $light-1 solid;
    font-size: 12px;
}
.header-login-wrapper > a:last-child > .header-login-item{
    border-bottom: none;
}
.header-login-item:hover{
    color: $primary0;
}
.header-login-item:active{
    color: $primary0;
}