/* scss/Moléculas/_home-categories-grid_site.scss */ 
.home-category-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-category-list a{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48.5%;
    min-height: 50px;
    background-color: $white;
    margin: 4px 2px;
    box-shadow: $shadow2;
    border: none;
    text-decoration: none;
    padding: 0;
    @include paragraph-medium($dark0);
    border-radius: $border8;
    @media (min-width:$media-min-desktop) {
        width: 270px;
        height: 80px;
        margin: 16px 10px;
    }
}

.home-category-list a:hover{
    @media (min-width:$media-min-desktop) {
        color: $dark0;
        border: 4px solid $primary0;
        transition: none;
    }
}

.home-category-list a:active{
    background-color: $primary0;
    color: $white;
}

.home-category-list a li{
    margin: 0 !important;
    flex: auto !important;
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }