/* scss/Moléculas/_last-order-scale_site.scss */ 
.last-order-scale { 
    background: $light-1;
    padding: 16px;
    position: relative;
    min-height: 153px;
    @media (min-width:$media-min-desktop) {
        background: $white;
        border-radius: $border8;
        box-shadow: $shadow1;
        padding: 16px 24px;
        margin: 16px 0;
        min-height: 140px;
    }
}

.last-order-scale.canceled{
    filter: grayscale(1);
}

.last-order-scale > a > .title { 
    @include paragraph-medium;
    margin-bottom: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-order-scale > a > .title.loading .orderDeliveryForecast, .last-order-scale > a > .title.loading .loading-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: none;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @media (min-width:$media-min-desktop) {
        display: inline-block;
    }
}
.last-order-scale > a > .title .loading-icon{
    display: none;
}

.last-order-scale > a > .title.loading .orderDeliveryForecast, .last-order-scale > a > .title.loading .orderTitleTracking{
    display: none;
}

.last-order-scale > a > .title .orderDeliveryForecast{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: inline;
        margin-left: 5px;
    }
}

.last-order-scale > a > .title .orderTitleTracking{
    color: $success0;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: inline;
        margin-right: 5px;
        margin-left: 5px;
    }
}

.last-order-scale > a > .title .orderTitleCanceled{
    color: $danger0;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: inline;
        margin-right: 5px;
        margin-left: 5px;
    }
}


.last-order-scale > a > .title > a { 
    color: $success0;
}


.last-order-scale > a > .scale { 
    height: 16px;
    background: $light1;
    border-radius: $border50;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
    }
}

.last-order-scale > a > .scale.mobile{
    display: flex;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.last-order-scale > a > .scale .bar{
    left: 2px;
    top: 2px;
    width: 0;
    display: block;
    height: 12px;
    background: linear-gradient(270deg, $success-1 0%, $success0 100%);
    position: absolute;
    border-radius: $border50;
}


.last-order-scale > a > .scale.step2 .bar{
    width: 50%;
    @media (min-width:$media-min-desktop) {
        width: 25%;
    }
}
.last-order-scale > a > .scale.step3 .bar{
    width: 0%;
    @media (min-width:$media-min-desktop) {
        width: 50%;
    }
}
.last-order-scale > a > .scale.step4 .bar{
    width: 50%;
    @media (min-width:$media-min-desktop) {
        width: 75%;
    }
}
.last-order-scale > a > .scale.step5 .bar{
    width: calc( 100% - 2px );
}

.last-order-scale > a > .scale > .point{
    width: 24px;
    height: 24px;
    background: $dark-1;
    border: 2px $white solid;
    box-shadow: $shadow1;
    border-radius: 100%;
    position: relative;
}

.last-order-scale > a > .scale.step1 > .point:nth-last-child(-n+2), .last-order-scale > a > .scale.step > .point:nth-last-child(-n+2){
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.last-order-scale > a > .scale.step2 > .point:nth-last-child(-n+2){
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.last-order-scale > a > .scale.step3 > .point:nth-child(-n+3){
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.last-order-scale > a > .scale.step4 > .point:nth-child(-n+3){
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.last-order-scale > a > .scale.step5 > .point:nth-child(-n+3){
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.last-order-scale > a > .scale.step1 > .point:nth-child(-n+2){
    background: $success1;
}

.last-order-scale > a > .scale.step2 > .point:nth-child(-n+3){
    background: $success1;
}

.last-order-scale > a > .scale.step3 > .point:nth-child(-n+4){
    background: $success1;
}

.last-order-scale > a > .scale.step4 > .point:nth-child(-n+5){
    background: $success1;
}

.last-order-scale > a > .scale.step5 > .point:nth-child(-n+6){
    background: $success1;
}


.last-order-scale .scale .point .point-msg{ 
    display: flex;
    justify-content: center;
    padding: 2px 6px;
    flex-direction: column;
    position: absolute;
    border: 2px $light1 solid;
    border-radius: $border2;
    background: transparent;
    top: 35px;
    @media (min-width:$media-min-desktop) {
        background: $white;
    }
}

.last-order-scale .scale .point .point-msg.item1{
    width: 121px;    
    
}
.last-order-scale .scale .point .point-msg.item2{
    left: -44px;
    width: 163px;
}
.last-order-scale .scale .point .point-msg.item2:before{
    left: 33%;
}
.last-order-scale .scale .point .point-msg.item2:after{
    left: 33%;
}
.last-order-scale .scale .point .point-msg.item3{
    transform: translateX(-50%);
    left: 50%;
    width: 112px;
}
.last-order-scale .scale .point .point-msg.item3:before{
    left: 50%;
}
.last-order-scale .scale .point .point-msg.item3:after{
    left: 50%;
}
.last-order-scale .scale .point .point-msg.item4{
    left: -75px;
    width: 144px;
}
.last-order-scale .scale .point .point-msg.item4:before{
    left: 59%;
}
.last-order-scale .scale .point .point-msg.item4:after{
    left: 59%;
}
.last-order-scale .scale .point .point-msg.item5{
    right: 0;
    width: 119px;
}
.last-order-scale .scale .point .point-msg.item5:before{
    left: 93%;
}
.last-order-scale .scale .point .point-msg.item5:after{
    left: 93%;
}


.last-order-scale .scale .point .point-msg:before{
    content: '';
    position: absolute;
    left: 7%;
    transform: translateX(-50%);
    border-width: 0 7px 7px;
    border-style: solid;
    border-color: $light1 transparent;
    display: block;
    width: 0;
    top: -7px;
    bottom: auto;
    right: 40px;
}
.last-order-scale .scale .point .point-msg:after{
    content: '';
    position: absolute;
    left: 7%;
    transform: translateX(-50%);
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: $light-1 transparent;
    display: block;
    width: 0;
    top: -4px;
    bottom: auto;
    right: 47px;
    @media (min-width:$media-min-desktop) {
        border-color: $white transparent;
    }
}


.last-order-scale .scale .point.start .point-msg{
    width: 119px;
    left: 0;
    transform: translate(0,0);
}
.last-order-scale .scale .point.start .point-msg:before{
    left: 7%;
}
.last-order-scale .scale .point.start .point-msg:after{
    left: 7%;
}

.last-order-scale .scale .point.middle .point-msg{
    transform: translateX(-50%);
    left: 50%;
    width: 112px;
}
.last-order-scale .scale .point.middle .point-msg:before{
    left: 50%;
}
.last-order-scale .scale .point.middle .point-msg:after{
    left: 50%;
}
.last-order-scale .scale .point.end .point-msg{
    right: 0;
    width: 119px;
    transform: translate(0,0);
    left: inherit;
}
.last-order-scale .scale .point.end .point-msg:before{
    left: 93%;
}
.last-order-scale .scale .point.end .point-msg:after{
    left: 93%;
}


.last-order-scale .scale .point .point-msg > .title { 
    @include small-bold;
    text-align: center;
    text-transform: lowercase;
}

.last-order-scale .scale .point .point-msg > .msg { 
    @include tiny;
    display: none;
    font-weight: 500;
    text-align: center;
}


.last-order-scale > a > .scale.step1 .point:nth-child(-n+2) .point-msg .msg{
    display: block;
}

.last-order-scale > a > .scale.step2 .point:nth-child(-n+3) .point-msg .msg{
    display: block;
}

.last-order-scale > a > .scale.step3 .point:nth-child(-n+4) .point-msg .msg{
    display: block;
}

.last-order-scale > a > .scale.step4 .point:nth-child(-n+5) .point-msg .msg{
    display: block;
}

.last-order-scale > a > .scale.step5 .point:nth-child(-n+6) .point-msg .msg{
    display: block;
}