/* scss/Moléculas/_Menu-Mobile_site.scss */ 
.menu-mobile-wrapper{
    width: 80%;
    height: 100vh;
    display: block;
    position: fixed;
    transform: translateX(-100%);
    @media (min-width:$media-min-desktop){
        display: none;
    }
}
#main{
    will-change: transform;
    transition: transform .3s ease-in;
}
#main.menu-active{
    transform: translateX(80%);
}
#main.menu-active:before {
    content: "";
    position:fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background: rgba($light-1, $opacity50);
}
.menu-mobile{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: $white;
    position: relative;
}
.menu-mobile ul > *{
    @include paragraph-medium($dark0);
    text-transform: uppercase;
}
.menu-mobile ul{
    list-style: none;
}
.menu-mobile ul.level-0{
    transform: translateX(0%);
    width: 100%;
    float: left;
}
.menu-mobile ul.level-0.active{
    display: inline-block;
    transform: translateX(-100%);
}
.menu-mobile ul.level-0 .level-0-item-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu-mobile ul.level-0 .level-0-item-title li{
    transform: translateX(8px);
} 
.menu-mobile ul.level-0 .level-0-item-title.active > .level-0-item-icon{
    fill: $primary0;
    transform: rotate(180deg);
}
.menu-mobile ul.level-0 .level-0-item {
    height: auto;
    line-height: 100%;
    min-height: 40px;
    display: flex;
    border-bottom: 2px $dark0 solid; 
    align-items: center;
    width: calc(100% - 32px);
    margin: 0 auto;
    color: $dark0;
}
.menu-mobile ul.level-0 .level-0-item:last-child, .menu-mobile ul.level-0 .level-0-item:nth-child(6){
    border: none;
}
.menu-mobile ul.level-0 .level-0-item.exp{
    display: block;
}
.menu-mobile ul.level-0 .level-0-item.active{
    border: none;
}
.menu-mobile ul.level-0 .level-0-item a{
    width: 100%;
}
.menu-mobile ul.level-0 .level-0-item a li{
    padding: 10px 8px;
}
.menu-mobile ul.level-0 .level-0-item-highlights{
    background: $primary0;
}
.menu-mobile ul.level-0 .level-0-item-highlights > *{
    color: $white;
}
.menu-mobile ul.level-0 .level-0-item-highlights .level-0-item{
    border-color: $white;  
}
.menu-mobile ul.level-0 .level-0-item-highlights .level-0-item .level-0-item-title .level-0-item-icon{
    fill: $white;
}
.menu-mobile ul.level-0 .level-0-item-title.active{
    border-bottom: 2px $primary0 solid;
}
.menu-mobile ul.level-0 .level-0-item-highlights .level-0-item-title.active{
    border-color: $white; 
}
.menu-mobile ul.level-0 .level-0-item-highlights .level-0-item .level-0-item-title.active .level-0-item-icon{
    transform: rotate(180deg);
}
.menu-mobile ul.level-0 .level-0-item:last-child{
    border-bottom: none; 
}
.level-0-item-icon{
    width: 40px;
    height: 40px;
    fill: $dark0;
}
.menu-mobile ul.level-0 .level-0-item ul.level-1{
    display: none;
}
ul.level-1.brands.active li a{
    color: $white;
}
.menu-mobile ul.level-0 .level-0-item ul.level-1 li{
    min-height: 40px;
    line-height: 100%;
    padding: 0px 0px 0px 24px;
    display: flex;
    align-items: center;
}
.menu-mobile ul.level-0 .level-0-item ul.level-1.active{
    display: block;
}
.menu-mobile .level-2{
    transform: translateX(0%);
    width: 100%;
    height: 100%;
    background: $white;
    position: absolute;
    display: inline-block;
    transition: transform .3s ease-in-out;
}
.menu-mobile .level-2.active{
    display: inline-block;
    position: absolute;
    transform: translateX(-100%);
}
.menu-mobile .level-back-nav{
    display: flex;
    width: calc(100% - 32px);
    margin: 0 auto;
    text-transform: lowercase;
    align-items: center;
    border-bottom: 2px $dark0 solid;
}
.level-back-nav-icon{
    width: 40px;
    height: 40px;
}
.menu-mobile .level-item.title{
    padding: 0 16px;
    display: flex;
    align-items: center;
    min-height: 40px;
}
.menu-mobile .level-item.title a{
    padding: 5px 0px;
    width: 100%;
}
.menu-mobile .level-2 .level-2-item, .menu-mobile .level-3 .level-3-item{
    height: auto;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 32px;
}
.menu-mobile .level-2 .level-2-item:active, .menu-mobile .level-3 .level-3-item:active{
    color: $primary0;
}
.menu-mobile .level-3{
    transform: translateX(100%);
    background: $white;
    position: absolute;
    display: inline-block;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}
.menu-mobile .level-3.active{
    display: inline-block;
    position: absolute;
    transform: translateX(0%);
}
.menu-mobile .level-3 .level-3-item a{
    width: 100%;
    padding: 5px 0px;
}
