.my-account-grid .orders-content .navigation{
    display: block;
    @media (min-width:$media-min-desktop) {
        background: $white;
        box-shadow: $shadow2;
        z-index: 1;
    }
}

.my-account-grid .orders-content .navigation .navigation-title{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
        padding: 24px;
        @include header-1;
        text-align: center;
        margin: 0;
    }
}


.my-account-grid .orders-content .navigation .navigation-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 8px;
    justify-content: space-between;
    @media (min-width:$media-min-desktop) {
        padding: 0;
    }
}


.my-account-grid .orders-content .navigation .navigation-wrapper a:first-child{
    width: 100%;
}
.my-account-grid .orders-content .navigation .navigation-wrapper a { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $white;
    border-radius: $border8;
    box-shadow: $shadow2;
    padding: 9px 16px 8px 16px;
    align-items: center;
    width: calc(50% - 4px);
    margin: 4px 0px;
    min-height: 96px;
    @media (min-width:$media-min-desktop) {
        width: 100%;
        box-shadow: none;
        margin: 0;
        min-height: 58px;
        border-radius: 0;
    }
}
.my-account-grid .orders-content .navigation .navigation-wrapper a.selected{
    background: $white;
    @media (min-width:$media-min-desktop) {
        background: rgba($primary0, $opacity20);
    }
}


.my-account-grid .orders-content .navigation .navigation-wrapper a .icon { 
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    display: block;
    margin: 0 auto;
    @media (min-width:$media-min-desktop) {
        display: none;
    }

}

.my-account-grid .orders-content .navigation .navigation-wrapper a .icon svg { 
    fill: $primary0;
}

.my-account-grid .orders-content .navigation .navigation-wrapper a .title { 
    @include paragraph-regular;
    text-align: center;
    @media (min-width:$media-min-desktop) {
        @include header-4;
    }
}
.my-account-grid .orders-content .navigation .navigation-wrapper a.selected .title{
    color: $dark0;
    @media (min-width:$media-min-desktop) {
        color: $primary0;
    }
}

.page-account-orders .my-account-grid .orders-content .navigation, .page-account-orderdetail .my-account-grid .orders-content .navigation{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}