/* scss/Moléculas/_order-summary-vertical_site.scss */ 
.order-summary-vertical{
    padding: 24px 16px 24px 22px;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.order-summary-vertical > .scale{
    width: 16px;
    height: 256px;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: $light1;
    border-radius: $border50;
    position: relative;
    justify-content: space-between;
}

.order-summary-vertical > .scale > .bar{
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 0;
    background: linear-gradient(0deg, $success-1 0%, $success0 100%);
    width: 12px;
    height: 0%;
    border-radius: $border50;
}

.order-summary-vertical > .scale.step2 > .bar{
    height: 25%;
}
.order-summary-vertical > .scale.step3 > .bar{
    height: 50%;
}
.order-summary-vertical > .scale.step4 > .bar{
    height: 75%;
}
.order-summary-vertical > .scale.step5 > .bar{
    height: calc( 100% - 2px );
}

.order-summary-vertical > .scale > .point{
    height: 24px;
    width: 24px;
    border: 2px $white solid;
    background: $dark-1;
    border-radius: 100%;
    z-index: 1;
    position: relative;
    box-shadow: $shadow1;
}

.order-summary-vertical > .scale.step1 > .point:nth-child(-n+2){
    background: $success1;
}

.order-summary-vertical > .scale.step2 > .point:nth-child(-n+3){
    background: $success1;
}

.order-summary-vertical > .scale.step3 > .point:nth-child(-n+4){
    background: $success1;
}

.order-summary-vertical > .scale.step4 > .point:nth-child(-n+5){
    background: $success1;
}

.order-summary-vertical > .scale.step5 > .point:nth-child(-n+6){
    background: $success1;
}

.order-summary-vertical > .scale > .point > .msg{
    left: 32px;
    position: absolute;
    display: flex;
    width: 250px;
    flex-direction: column;
}

.order-summary-vertical > .scale > .point > .msg > .title{
    @include paragraph-regular;
    align-items: center;
    display: flex;
    margin-bottom: 4px;
}

.order-summary-vertical > .scale > .point > .msg > .title > a{
    @include small-bold($primary0);
    margin-left: 5px;
    display: none;
}

.order-summary-vertical > .scale.step2 > .point > .msg > .title > a.invoice, .order-summary-vertical > .scale.step3 > .point > .msg > .title > a.invoice{
    display: flex;
}

.order-summary-vertical > .scale.step3 > .point > .msg > .title > a.invoice, .order-summary-vertical > .scale.step4 > .point > .msg > .title > a.invoice, .order-summary-vertical > .scale.step4 > .point > .msg > .title > a.tracking-link, .order-summary-vertical > .scale.step5 > .point > .msg > .title > a.invoice, .order-summary-vertical > .scale.step5 > .point > .msg > .title > a.tracking-link{
    display: flex;
}

.order-summary-vertical > .scale > .point > .msg > .date{
    @include small-bold;
    display: none;
}

.order-summary-vertical > .scale.step1 > .point:nth-child(-n+2) > .msg > .date{
    display: block;
}

.order-summary-vertical > .scale.step2 > .point:nth-child(-n+3) > .msg > .date{
    display: block;
}

.order-summary-vertical > .scale.step3 > .point:nth-child(-n+4) > .msg > .date{
    display: block;
}

.order-summary-vertical > .scale.step4 > .point:nth-child(-n+5) > .msg > .date{
    display: block;
}

.order-summary-vertical > .scale.step5 > .point:nth-child(-n+6) > .msg > .date{
    display: block;
}
