/* scss/Moléculas/_order-item_site.scss */ 
.order-item { 
    background: $white;
    box-shadow: $shadow1;
    border-radius: $border8;
    padding: 16px;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        padding: 8px 24px 8px 24px;
        display: flex;
    }
}

.order-item .order-summary-row { 
    @media (min-width:$media-min-desktop) {
        padding: 16px 24px 8px 0px;
    }
}

.order-item .order-summary-row .order-summary { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    @media (min-width:$media-min-desktop) {
        min-width: 651px;  
        margin-bottom: 0px;
        justify-content: initial;  
    }
}


.order-item .order-summary-row .order-summary .status { 
    @include paragraph-medium;
    order: 1;
    @media (min-width:$media-min-desktop) {
        order: 4;
    }
}

.order-item .order-summary-row .order-summary .status:before{
    content: 'pedido ';
    @media (min-width:$media-min-desktop) {
        content: '';
    }
}

.order-item.in-progress .order-summary-row .order-summary .status{
    color: $primary0;
}
.order-item.finished .order-summary-row .order-summary .status{
    color: $success0;
}
.order-item.canceled .order-summary-row .order-summary .status{
    color: $danger0;
}

.order-item .order-summary-row .order-summary .date { 
    @include paragraph-medium;
    display: none;
    order: 2;
    @media (min-width:$media-min-desktop) {
        display: block;
        width: 162px;
    }
}

.order-item .order-summary-row .order-summary .total { 
    @include paragraph-medium;
    order: 3;
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
        width: 158px;
    }
}

.order-item .order-summary-row .order-summary .number { 
    @include paragraph-medium;
    order: 4;
    @media (min-width:$media-min-desktop) {
        order: 1;
        margin-left: 10px;
        width: 178px;
    }
}

.order-item.in-progress .order-summary-row .order-summary .number { 
    color: $primary0;
    @media (min-width:$media-min-desktop) {
        color: $dark0;
    }
}

.order-item.finished .order-summary-row .order-summary .number { 
    color: $success0;
    @media (min-width:$media-min-desktop) {
        color: $dark0;
    }
}

.order-item.canceled .order-summary-row .order-summary .number { 
    color: $danger0;
    @media (min-width:$media-min-desktop) {
        color: $dark0;
    }
}

.order-item .order-summary-row .data-tracking-value-row-mobile { 
    display: flex;
    justify-content: space-between;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.order-item .order-summary-row .data-tracking-value-row-mobile .data-tracking-mobile { 
    display: block;
    margin-bottom: 8px;
    @media (min-width:$media-min-desktop) {
        display: none;
        
    }
}

.order-item .order-summary-row .data-tracking-value-row-mobile .data-tracking-mobile .date { 
    @include small-bold;
    margin-bottom: 4px;
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium;
    }
}

.order-item .order-summary-row .data-tracking-value-row-mobile .data-tracking-mobile .tracking { 
    @include small-bold;
    display: flex;
    align-items: center;
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium;
    }
}

.order-item .order-summary-row .data-tracking-value-row-mobile .data-tracking-mobile .tracking .icon{
    display: none;
}
.order-item.loading .order-summary-row .data-tracking-value-row-mobile .data-tracking-mobile .tracking .icon{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 10px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.order-item .order-summary-row .data-tracking-value-row-mobile .value { 
    @include paragraph-medium;
}


.order-item > .order-summary-row > a > .tracking-button { 
    @include small-bold;
    height: 29px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-radius: $border32;
    background: rgba($primary0, $opacity20);
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
    }
}

.order-item > .order-summary-row > a > .tracking-button .icon{
    display: none;
}

.order-item.loading > .order-summary-row > a > .tracking-button .icon{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 10px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.order-item .order-summary-row .order-action-buttons{
    display: flex;
    justify-content: center;
}
.order-item.in-progress .order-summary-row .order-action-buttons{
    justify-content: space-between;
}

.order-item .order-summary-row .order-action-buttons a{
    width: 100%;
}
.order-item.in-progress .order-summary-row .order-action-buttons a{
    width: calc(50% - 4px);
}


.order-item.canceled .order-summary-row .order-action-buttons a:first-child{
    display: none;
}

.order-item .order-summary-row .order-action-buttons a .tracking-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}
.order-item.loading .order-summary-row .order-action-buttons a .tracking-button{
    background: $white;
    box-shadow: none;
    border: 2px solid $light0;
    color: $light0;
}

.order-item .order-summary-row .order-action-buttons a .see-more{
    width: 100%;
    display: flex;
    justify-content: center;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}


.order-item a.see-more-desktop { 
    display: none;
    @media (min-width:$media-min-desktop) {
        display: flex;
        border-left: 2px $light0 solid;
        padding-left: 24px;
        justify-content: center;
        align-items: center;
        
    }
}

.page-account-orders .order-item a.see-more-desktop { 
    @media (min-width:$media-min-desktop) {
        padding-left: 16px;
    }
}

.order-item .see-more-desktop svg { 
    fill: $dark0;
    width: 48px;
    height: 48px;
}