/* scss/Moléculas/_order-detail-address-payment_site.scss */ 
.grid-order-detail-address-payment{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    @media (min-width:$media-min-desktop) {
        flex-direction: row;
        margin-top: 48px;
    }
}

.grid-order-detail-address-payment .address-item, .grid-order-detail-address-payment .payment-item, .grid-order-detail-address-payment .method-payment-item{
    background: $white;
    padding: 24px 16px;
    @media (min-width:$media-min-desktop) {
        border-radius: $border8;
        padding: 24px;
        width: 252px;
    }
}
.grid-order-detail-address-payment .address-item{
    box-shadow: $shadow2;
    z-index: 1;
    @media (min-width:$media-min-desktop) {
        box-shadow: none;
        z-index: initial;
    }
}

.grid-order-detail-address-payment .method-payment-item{
    display: none;
    @media (min-width:$media-min-desktop) {
        display: block;
    }
}

.grid-order-detail-address-payment .address-item .title, .grid-order-detail-address-payment .payment-item .title, .grid-order-detail-address-payment .method-payment-item .title{
    @include paragraph-medium;
    margin-bottom: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    @media (min-width:$media-min-desktop) {
        border-bottom: 2px $light-1 solid;
    }
}

.grid-order-detail-address-payment .address-item .item-content div{
    display: flex;
    @include paragraph-regular;
    margin-bottom: 8px;
}

.grid-order-detail-address-payment .address-item .item-content div:last-child{
    @include small-bold;
}

.grid-order-detail-address-payment .payment-item .title{
    font-size: 0;
    @media (min-width:$media-min-desktop) {
        display: flex;
        font-size: 16px;
    }
}

.grid-order-detail-address-payment .payment-item .title:after{
    @include paragraph-medium;
    content: 'pagamento';
    display: block;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.grid-order-detail-address-payment .payment-item .item-content div{
    display: flex;
    justify-content: space-between;
}

.grid-order-detail-address-payment .payment-item .item-content div div{
    @include paragraph-medium;
    margin-bottom: 8px;
}

.grid-order-detail-address-payment .payment-item .item-content div.total-row div{
    color: $primary0;
}

.grid-order-detail-address-payment .payment-item .item-content .separator{
    display: block;
    height: 2px;
    width: 100%;
    background: $light-1;
    margin-top: 8px;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.grid-order-detail-address-payment .payment-item a{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
    @media (min-width:$media-min-desktop) {
        display: none;
    }
}

.grid-order-detail-address-payment .payment-item a div{
    width: 100%;
}

.grid-order-detail-address-payment .method-payment-item .item-content .method-row{
    display: flex;
    @include paragraph-regular;
    margin-bottom: 8px;
}

.grid-order-detail-address-payment .method-payment-item .item-content .parcels-row{
    @include small-bold;
    margin-bottom: 8px;
    display: flex;
}

.grid-order-detail-address-payment .method-payment-item .item-content a div{
    display: flex;
    justify-content: center;
}