/* scss/Moléculas/_product-gift_site.scss */ 
.wd-product-gift{
    box-shadow: $shadow2;
    padding-top: 24px; 
    margin: 16px 0px;
    @media (min-width:$media-min-desktop){
        box-shadow: none;
        padding-top: 0px;
        margin: 0px;
    }
}
.wd-product-gift .wd-content .title{
    @include header-3-medium($primary0);
    margin: 0px 0px 4px 0px;
    text-align: center;
}
.wd-product-gift .wd-content .subtitle{
    @include paragraph-regular($primary0);
    margin: 0px 0px 16px 0px;
    text-align: center;
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image{
    border-radius: $border4;
    position: relative;
    padding: 16px;
    display: flex;
    background: $white;
    @media (min-width:$media-min-desktop){
        padding: 16px 24px;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image.checked{
    background: rgba($info-1, $opacity30);
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image:before{
    content: '';
    display: block;
    height: 2px;
    background: $primary0;
    width: calc(100% - 32px);
    position: absolute;
    top: -2px;
    left: 16px;
    @media (min-width:$media-min-desktop){
        background: $light0;
        width: calc(100% - 48px);
        left: 22px;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-image{
    width: 88px;
    height: auto;
    border-radius: $border8;
    margin: 0 8px 0 14px;
    @media (min-width:$media-min-desktop){
        width: 112px;
        margin: 0 16px 0 24px;
    }
}

.wd-product-gift .gift-selection input{
    visibility: hidden;
}

.wd-product-gift .gift-selection input:before{
    visibility: visible;
}


.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-image img{
    height: 88px;
    width: 100%;
    display: block;
    border-radius: $border8;
    @media (min-width:$media-min-desktop){
        height: 112px;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-image .select-variation-mobile{
    margin: 0;
    @include small-bold($primary0);
    @media (min-width:$media-min-desktop){
        display: none;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-details{
    margin: 0 8px 0 14px;
    display: flex;
    flex-direction: column;
    @media (min-width:$media-min-desktop){
        margin: 0 16px 0 24px;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-details .wd-gift-brand{
    @include paragraph-medium;
    margin: 0;
    @media (min-width:$media-min-desktop){
        margin: 0 0 4px 0;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-details .wd-gift-title{
    @include paragraph-regular;
    margin: 0 0 4px 0;
    @media (min-width:$media-min-desktop){
        margin: 0 0 12px 0;
    }
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-details .wd-gift-variation-title{
    @include paragraph-regular($primary0);
    display: block;
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .gift-details .wd-gift-freelabel{
    margin: 0 0 4px 0;
    @include header-5($success0);
    display: block;
    @media (min-width:$media-min-desktop){
        display: none;
        margin: 0 0 12px 0;
    }
}

.wd-product-gift .wd-content .wd-product-gift-inline ul .image .wd-gift-freelabel{
    @include header-5($success0);
    display: none;
    @media (min-width:$media-min-desktop){
        display: block;
        position: absolute;
        right: 48px;
    }
}

.wd-product-gift .wd-content .wd-product-gift-inline ul .image .arrow-see-more{
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    @media (min-width:$media-min-desktop){
        display: none;
    }

}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .arrow-see-more-text{
    @include small-bold;
}
.wd-product-gift .wd-content .wd-product-gift-inline ul .image .arrow-see-more-icon{
    width: 32px;
    height: 32px;
}