/* scss/Moléculas/_product-info_site.scss */ 
.product-block .row .product-brand-name{
    @include header-3-medium;
    text-align: center;
    @media (min-width: $media-min-desktop) {
        text-align: left;
    }
}
.product-block .row .product-name{
    @include paragraph-regular;                                                                                                                                                                                                                                                          
    margin: 4px 0px;
    text-align: center;
    @media (min-width: $media-min-desktop) {
        text-align: left;
    }
}
.product-block #product-rateing-start{
    display: flex;
    justify-content: center;
    @media (min-width: $media-min-desktop) {
        justify-content: flex-start;
    }
}
.product-block #product-rateing-start > div > a > span{
    display: block;
    margin: 0px 0px 12px 0px;
    @include small-bold($primary0);
    @media (min-width: $media-min-desktop) {
        margin: 8px 0px 16px 0px;
    }
}
.product-block .row.row_prices > div.column-left-- > div > div > strong > em{
    display: none;
}

.wd-product-price-description.wd-widget-js .priceContainer .list-price.from{
    @include small-bold($primary0);
}