/* scss/Moléculas/_product-medias-row-options_site.scss */ 
.product-medias-row-options{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 8px;
    @media (min-width: $media-min-desktop) {
        margin-top: 16px;
        padding-left: 100px;
        padding: 0;
    }
}
.product-medias-row-options-menu{
    display: flex;
}
.product-medias-row-options-menu-item{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    @media (min-width: $media-min-desktop) {
        margin: auto;
    }
}
.product-medias-row-options-menu-item-icon{
    width: 32px;
    height: 32px;
    @media (min-width: $media-min-desktop) {
        width: 48px;
        height: 48px;
    }
}
.product-medias-row-options-menu-item-icon svg{
    fill: $dark0;
}
.product-medias-row-options-menu-item-text{
    @include tiny;
    @media (min-width: $media-min-desktop) {
        font-size: 11px;
    }
}
.product-medias-row-options-brand img{
    width: 99px;
    display: block;
    @media (min-width: $media-min-desktop) {
        width: 130px;
    }
}