/* scss/Moléculas/_product-price_site.scss */ 
.wd-product-price-description .priceContainer{
    margin: 16px 0px;
    @media (min-width:$media-min-desktop){
        margin: 0px 0px 16px 0px;
    }
}
.wd-product-price-description .priceContainer .list-price .prefix{
    display: none;
}
.wd-product-price-description .priceContainer .list-price {
    @include small-bold($primary0);
}
.wd-product-price-description .priceContainer .sale-price .prefix{
    display: none;
}
.wd-product-price-description .priceContainer .sale-price {
    @include header-1($primary0);
    margin-bottom: 4px;
    @media (min-width:$media-min-desktop){
        @include header-2($primary0);
    }
}
.wd-product-price-description .priceContainer .condition, .wd-product-price-description .priceContainer .savings{
    @include small-bold;
    text-align: center;
    @media (min-width:$media-min-desktop){
        text-align: left;
    }
}