/* scss/Moléculas/_product-bundle-variations_site.scss */ 
.bundle-item.bundle-itemtype-variation{
    list-style: none;
}
.bundle-item.bundle-itemtype-variation .variation-group .title{
    @include paragraph-medium; 
}
.bundle-item.bundle-itemtype-variation .options {
    display: flex;
    flex-wrap: wrap;
}
.bundle-item.bundle-itemtype-variation .title-section {
    margin-left: 9px;
    padding-top: 8px;
    border-top: 2px solid $light0;
    position: relative;
}
.bundle-item.bundle-itemtype-variation .selected-color {
    display: inline-block;
    @include paragraph-medium; 
}

.bundle-item.bundle-itemtype-variation .selected-color-icon {
    position: relative;
    top: 4px;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 50%;
}
.bundle-item.bundle-itemtype-variation .options label {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 6px solid white;
    margin: 3px;
}

.bundle-item.bundle-itemtype-variation .options label.selected:before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -5px;
    left: -5px;
    background: transparent;
    border: 2px solid $success0;
    border-radius: 50%;
    box-sizing: border-box;
}


.bundle-item.bundle-itemtype-variation .options label:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: 0 0;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: $shadow1;
}

.bundle-item.bundle-itemtype-variation .options .unavailable-icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -1px;
    left: -1px;
    fill: $danger0;
}
.bundle-item.bundle-itemtype-variation .options .unavailable-icon svg{
    width: 23px;
    height: 23px;
}

.bundle-item.bundle-itemtype-variation .options .unavailable-icon use{
    transform: scale(1.5);
}

.bundle-item.bundle-itemtype-variation .option-text {
    display: none;
}

.bundle-item.bundle-itemtype-variation .options label input {
    visibility: hidden;
}