/* scss/Moléculas/_product-deliveryfee_site.scss */ 
.wd-product-deliveryfee{
    width: 100%;
    box-shadow: $shadow2;
    padding: 24px 0px 24px 0px;
    margin: 32px auto;
    @media (min-width:$media-min-desktop) {
        border-radius: $border8;
        max-width: 440px;
    }
}
.wd-product-deliveryfee .wd-title{
    text-align: center;
    @include header-5;
    text-transform: lowercase;
}
.wd-product-deliveryfee form.show-cep{
    padding: 0 16px;
    @media (min-width:$media-min-desktop) {
        padding: 0 24px;
    }
}
.wd-product-deliveryfee button{
    display: none;
}
.wd-product-deliveryfee .result{
    width: 100%;
    padding-top: 24px;
}
.wd-product-deliveryfee .deliveryResults .result thead{
    display: none;
}
.deliveryResults .success .wd-widget .wd-content > .grid.scroll > table > tbody > tr{
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.deliveryResults .success .wd-widget .wd-content > .grid.scroll > table > tbody > tr:before{
    content: '';
    display: block;
    height: 2px;
    background: $light0;
    width: calc(100% - 32px);
    position: absolute;
    top: -2px;
    left: 16px;
    @media (min-width:$media-min-desktop){
        width: calc(100% - 44px);
        left: 22px;
    }
}

.deliveryResults .success .wd-widget .wd-content > .grid.scroll > table > tbody > tr.selected{
    background: rgba($info-1, $opacity30);
}
.deliveryResults .success .wd-widget .wd-content > .grid.scroll > table > tbody > tr > td:nth-child(1){
    display: flex;
    align-items: center;
}
.deliveryRadioWrapper{
    display: flex;
    align-content: center;
    height: 24px;
    width: 24px;
    margin-right: 16px;
}

.grid-product-shipping > .wd-product-deliveryfee > form > div.input-wrapper.input-group{
    margin-bottom: 24px; 
}
.wd-product-deliveryfee .deliveryOptionName, .wd-product-deliveryfee .deliveryOptionPrice{
    display: block;
    @include paragraph-medium;
}
.wd-product-deliveryfee .deliveryOptionRadio{
    visibility: hidden;
}
.wd-product-deliveryfee .deliveryOptionRadio::before{
    visibility: visible;
}
.wd-product-deliveryfee .deliveryOptionPrice{
    text-align: right;
    width: 75px;
    position: absolute;
    right: 16px;
}
.wd-product-deliveryfee .freeshipping .deliveryOptionPrice{
    color: $success0;
}
.wd-product-deliveryfee .deliveryOptionETA{
    display: block;
    @include small-medium;
}
.wd-product-deliveryfee .modal.wd-widget .wd-title{
    display: none;
}
.wd-product-deliveryfee .deliveryOption{
    display: flex;
    position: relative;
    padding: 0px 16px;
    cursor: pointer;
}
.wd-product-deliveryfee .deliveryOption:last-child{
    margin-bottom: -24px;
}
.wd-product-deliveryfee .deliveryOptionDescription{
    display: flex;
}
.wd-product-deliveryfee .deliveryOption:hover::after, .wd-product-deliveryfee .deliveryOption:active::after{
    content:'';
    display: block;
    position: absolute;
    top: 1px;
    z-index: -1;
    border-radius: $border8;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($info-1, $opacity30);
}
.wd-product-deliveryfee .deliveryOptionDescription{
    flex-grow: 1;
    padding: 16px 0px 16px 0px; 
    border-top: 2px solid $light-1;
}
.wd-product-deliveryfee .deliveryOptionDescription .deliveryTextWrapper{
    width: 70%;
    @media (min-width:$media-min-desktop){
        width: 275px;
    }
}