/* scss/Moléculas/_search-outline_site.scss */ 
.search-outline-wrapper{
    display: flex;
    position: relative;
    padding: 0px 24px;
    flex-direction: column;
    margin: 16px 0px 0px 0px;
}
.search-outline-input{
    width: 100%;
    height: 36px;
    padding: 8px 36px 7px 8px; 
    @include paragraph-regular;
    border: 2px $dark-1 solid;
    border-radius: $border4;
}
.search-outline-icon{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 24px;
}
.search-outline-icon svg{
    fill: $light1;
}
.search-outline-sugestions{
    box-shadow: $shadow3;
    border-radius: $border8;
    background: $white;
    padding: 0px 16px;
    display: block;
    z-index: 2;
    position: absolute;
    width: calc(100% - 48px);
    top: 36px;
    max-height: 324px;
    overflow: hidden auto;
}
.search-outline-sugestions-item{
    @include paragraph-medium;
    padding: 8px 16px;
    display: none;
    border-bottom: 2px $light-1 solid;
}
.search-outline-sugestions:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    margin-top: -2px;
    background: $white;
}
.search-outline-sugestions-item:active{
    color: $primary0;
}