/* scss/Moléculas/_section-letters-brands_site.scss */ 
.section-letters-brands-wrapper{
    width: 100%;
    padding: 0px 8px;
}
.section-letters-brands-letter{
    @include header-3-medium($primary0);
    border-bottom: 2px $primary0 solid;
    width: 100%;
    padding: 0px 0px 0px 8px;
    margin: 24px 0px 0px 0px;   
}
.section-letters-brands-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.section-letters-brands-content-item{
    width: 49%;
    padding-top: 16px;
}
.section-letters-brands-content-item a{
    border-radius: $border8;
    background: $white;
    box-shadow: $shadow2;
    width: 100%;
    display: block;
}
.section-letters-brands-content-item a img{
    width: 100%;
    height: 100%;
    border-radius: $border8;
    display: block;
}