/* scss/Moléculas/_seo-video_site.scss */ 
.seo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    @media (min-width:$media-min-desktop) {
        margin-bottom: 24px;
    }
}

.seo-video iframe{
    height: 168px;
    width: 90%;
    @media (min-width:$media-min-desktop) {
        width: 560px;
        height: 315px;
    }
}