/* scss/Moléculas/_Social-Network_site.scss */ 
.social-network-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px 0px 0px;
    @media (min-width:$media-min-desktop){
        padding: 30px 0px 0px 0px;
    }
}
.social-network-text{
    @include paragraph-regular;
}
.social-network-icons{
    margin: 8px auto 24px auto;
    padding: 0;
    @media (min-width:$media-min-desktop){
        margin: 24px auto 0px auto;
        padding: 0px 48px 24px 48px;
        border-bottom: 2px $light1 solid; 
    }
}
.social-network-icons ul{
    list-style: none;
    display: inline-flex;
}
.social-network-icon{
    fill: $dark0;
    width: 40px;
    height: 40px;
    margin: 0;
    @media (min-width:$media-min-desktop){
        width: 56px;
        height: 56px;
        margin: 0px 8px;
    }
}