/* scss/Moléculas/_Sugestõesdepesquisa_site.scss */ 
.suggestion-box{
    z-index: $zindex-dropdown;
    position: relative;
}
.suggestion-box.hide{
    display: none;
}
.suggestion-products{
    background: white;
    box-shadow: $shadow3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
    @media (min-width:$media-min-desktop) {
        margin: 0 30px;
    }
}
.suggestion-product{
    display: flex;
    position: relative;
    padding: 0px 16px;
    cursor: pointer;
}
.suggestion-product:hover::after, .suggestion-product:active::after{
    content:"";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba($info-1, $opacity30);
}
.suggestion-product-img{
    width: 80px;
    min-width: 80px;
    padding: 8px 0px;
    border-bottom: 2px solid $light-1;
    z-index: 1;
}
.suggestion-product-img img{
    display: flex;
    width: 100%;
    height: auto;
}

.suggestion-product-description{
    flex-grow: 1;
    padding: 8px 0px 8px 16px; 
    border-bottom: 2px solid $light-1;
    z-index: 1;
}
.suggestion-product:last-child .suggestion-product-img, .suggestion-product:last-child .suggestion-product-description{
    border-bottom: none;
} 
.suggestion-product-brand{
    @include paragraph-medium();
}
.suggestion-product-name{
    @include small-medium();
    text-transform: lowercase;
}
.suggestion-product-price{
    @include small-medium($primary0);
}
.suggestion-product-price small{
    display:none;
}
.suggestion-product-price span, .suggestion-product-price strong em, .suggestion-product-price del em{
    display:none;
}
.suggestion-product-price strong span, .suggestion-product-price span em, .suggestion-product-price span span { 
    display:inline;
}
.suggestion-product-price del span { 
    display:block;
}