.top-banner{
    display: flex;
    width: 100%;
    height: 24px;
    background: $info-1;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (min-width:$media-min-desktop) {
        height: 32px;
    }
}

.top-banner .range{
    width: 0%;
    height: 24px;
    background: $primary0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    @media (min-width:$media-min-desktop) {
        height: 32px;
    }
}

.top-banner .text{
    @include small-bold;
    z-index: 1;
    @media (min-width:$media-min-desktop) {
        @include paragraph-medium;
    }
}

.top-banner .freeShippingValue, .top-banner .total{
    display: none;
}

.top-banner .text div{
    display: inline-block;
}