@charset "UTF-8";
/* scss/Átomos/_Cores_site.scss */
/* scss/Átomos/_Tipografia_site.scss */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap");
/* scss/Átomos/_Sombras_site.scss */
/* scss/Átomos/_Bordas_site.scss */
/* START OF RESET CORE STYLE */
#header .category-bar {
  box-shadow: none; }

#footer .saiba-mais .footer-social .content {
  margin-top: 0; }

/* END OF RESET CORE STYLE*/
/* START OF GENERAL CSS */
input {
  font-size: 14px;
  color: #444;
  line-height: 150%; }

input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  color: #444; }

input:-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  opacity: 1;
  color: #444; }

input::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  opacity: 1;
  color: #444; }

input:-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  color: #444; }

@media (min-width: 900px) {
  input {
    font-size: 16px; }
  input::-webkit-input-placeholder {
    font-size: 16px; }
  input:-moz-placeholder {
    font-size: 16px; }
  input::-moz-placeholder {
    font-size: 16px; }
  input:-ms-input-placeholder {
    font-size: 16px; } }

/* END OF GENERAL CSS */
/* START OF HOME */
.home-category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.home-category-list a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48.5%;
  min-height: 50px;
  background-color: #FFFFFF;
  margin: 4px 2px;
  box-shadow: 0px 1px 8px rgba(68, 68, 68, 0.2);
  border: none;
  padding: 0;
  color: #444444;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 8px; }

@media (min-width: 900px) {
  .home-category-list a {
    width: 270px;
    height: 80px;
    margin: 16px 10px;
    font-size: 16px; } }

.home-category-list a {
  color: #444444; }

@media (min-width: 900px) {
  .home-category-list a:hover {
    color: #444444;
    text-decoration: none;
    border: 4px solid #FE80A6;
    transition: none; } }

.home-category-list a:active {
  background-color: #FE80A6;
  color: #FFFFFF; }

.home-category-list a li {
  margin: 0 !important;
  text-decoration: none !important;
  flex: auto !important;
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center; }

body .wd-product-list .wd-header:before, body .title-special:before {
  border-top: 2px solid #444;
  width: calc(100% - 16px);
  left: 8px; }

@media (min-width: 900px) {
  body .wd-product-list .wd-header:before, body .title-special:before {
    border-top: 2px solid #CFCFCF;
    width: 100%;
    left: 0px; } }

body.HomeRoute #middle .loja-fisica {
  padding-top: 24px;
  padding-bottom: 8px;
  margin-bottom: 32px; }

@media (min-width: 900px) {
  body.HomeRoute #middle .loja-fisica {
    padding-top: 32px;
    padding-bottom: 40px;
    margin-bottom: 48px; } }

body.HomeRoute #middle .loja-fisica .wrapper {
  padding: 0 !important; }

.HomeRoute #middle #content .conteudo-home > div {
  padding-left: 8px;
  padding-right: 8px; }

@media (min-width: 900px) {
  .HomeRoute #middle #content .conteudo-home > div {
    padding-left: 0;
    padding-right: 0; } }

#content-wrapper > div.conteudo-home > div.row.carrossel-marcas {
  padding: 0 !important; }

@media (min-width: 900px) {
  #content-wrapper > div.conteudo-home > div.row.carrossel-marcas {
    padding: 32px 0 40px 0; } }

#content-wrapper > div.conteudo-home > div.row.carrossel-marcas .wrapper {
  padding: 24px 0 !important; }

@media (min-width: 900px) {
  #content-wrapper > div.conteudo-home > div.row.carrossel-marcas .wrapper {
    padding: 32px 0 40px 0; } }

body.HomeRoute #middle .loja-fisica .row .texto::before {
  content: '';
  background-image: url(http://maquiadoro.core-hlg.dcg.com.br/Custom/Content/themes/Maquiadoro/Imagens/icon-selo.png);
  height: 118px;
  width: 118px;
  background-size: 118px;
  position: absolute;
  top: -140px;
  z-index: 1;
  right: 0;
  background-repeat: no-repeat;
  transform: scale(0.7);
  left: unset; }

@media (min-width: 900px) {
  body.HomeRoute #middle .loja-fisica .row .texto::before {
    right: unset;
    top: -18px;
    left: -115px;
    transform: scale(1); } }

/* END OF HOME */
/* START OF HEADER */
.header-bar {
  box-shadow: 0px 1px 4px rgba(68, 68, 68, 0.2); }

/* END OF HEADER */
/* START OF PRODUCT-CARD */
.wd-product-line .flag.off {
  text-transform: uppercase;
  line-height: 150%; }

/* END OF PRODUCT-CARD */
/* START OF FOOTER */
#footer .controller-footer {
  margin-bottom: 24px; }

#footer .controller-footer .border {
  box-shadow: none; }

#footer .saiba-mais .cms-page .box {
  margin: 0px 15px 30px 15px; }

#footer .saiba-mais .footer-social .content h4 {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  margin: 23px auto 14px auto; }

@media (min-width: 900px) {
  #footer .saiba-mais .footer-social .content h4 {
    font-size: 16px;
    margin: 10px auto 14px auto; } }

#footer .saiba-mais .assinatura .copyright {
  padding: 16px; }

@media (min-width: 900px) {
  #footer .saiba-mais .assinatura .copyright {
    padding: 24px 0; } }

.copyright.col.col-md-12 small {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #444; }

/* END OF FOOTER */
/* START OF SEO CSS */
/* scss/Moléculas/_h2-seo_site.scss */
.seo h2,
h2.seo {
  width: 100%;
  text-align: center;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  margin: 0px auto 16px auto;
  padding: 16px 0px;
  color: #444444;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%; }

@media (min-width: 900px) {
  .seo h2,
  h2.seo {
    font-size: 32px; } }

@media (min-width: 900px) {
  .seo h2,
  h2.seo {
    margin: 0px auto 24px auto;
    padding: 24px 0px; } }

/* scss/Moléculas/_p-seo_site.scss */
.seo p,
p.seo {
  margin: 0 auto 16px auto;
  color: #444444;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .seo p,
  p.seo {
    font-size: 16px; } }

.seo p span,
p.seo span {
  color: #FE80A6;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .seo p span,
  p.seo span {
    font-size: 16px; } }

.seo p a,
p.seo a {
  color: #FE80A6;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .seo p a,
  p.seo a {
    font-size: 16px; } }

.seo p a:hover,
p.seo a:hover {
  text-decoration: underline;
  color: #E55C85; }

.seo p a:visited,
p.seo a:visited {
  color: #E55C85; }

.seo p span a,
p.seo span a {
  color: #FE80A6;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .seo p span a,
  p.seo span a {
    font-size: 16px; } }

.seo p span a:hover,
p.seo span a:hover {
  text-decoration: underline;
  color: #E55C85; }

.seo p span a:visited,
p.seo span a:visited {
  color: #E55C85; }

.seo p .show-more,
p.seo .show-more {
  display: inline;
  cursor: pointer; }

.seo p .show-more span,
p.seo .show-more span {
  font-weight: bold; }

.seo p .hide,
p.seo .hide {
  display: inline;
  cursor: pointer;
  font-weight: bold; }

.navigationSEO {
  display: inline-block;
  color: #FE80A6;
  margin-bottom: 24px; }

.navigationSEO a {
  text-transform: capitalize;
  color: #FE80A6;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .navigationSEO a {
    font-size: 16px; } }

.navigationSEO a:hover {
  color: #E55C85; }

.navigationSEO a:visited {
  color: #E55C85; }

/* scss/Moléculas/_h3-seo_site.scss */
.seo h3,
h3.seo {
  color: #444444;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto 8px auto; }

@media (min-width: 900px) {
  .seo h3,
  h3.seo {
    font-size: 22px; } }

@media (min-width: 900px) {
  .seo h3,
  h3.seo {
    margin: 0 auto 16px auto; } }

/* scss/Moléculas/_h4-seo_site.scss */
.seo h4,
h4.seo {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  margin: 0 auto 8px auto; }

@media (min-width: 900px) {
  .seo h4,
  h4.seo {
    font-size: 22px; } }

@media (min-width: 900px) {
  .seo h4,
  h4.seo {
    margin: 0 auto 16px auto; } }

.seo h4:before,
h4.seo:before {
  content: '• '; }

/* scss/Moléculas/_h3-seo-grid_site.scss */
.h3-seo-grid {
  width: 100%;
  display: flex;
  margin: 8px auto 24px auto;
  padding: 0;
  flex-direction: column; }

@media (min-width: 900px) {
  .h3-seo-grid {
    padding-bottom: 24px;
    border-bottom: 2px #DDDDDD solid;
    flex-direction: row; } }

.h3-seo-grid-img.mobile {
  display: block; }

@media (min-width: 900px) {
  .h3-seo-grid-img.mobile {
    display: none; } }

.h3-seo-grid-img {
  width: 100%;
  height: auto;
  margin: 0 auto 16px auto;
  order: 2;
  display: none; }

@media (min-width: 900px) {
  .h3-seo-grid-img {
    display: block;
    width: 270px;
    min-width: 270px;
    height: 142px;
    margin: 0 30px 0 0;
    order: 1; } }

.h3-seo-grid-img img {
  margin: 0 auto;
  display: block;
  max-height: 142px; }

@media (min-width: 900px) {
  .h3-seo-grid div {
    order: 2; } }

.h3-seo-grid-title {
  margin-bottom: 16px;
  color: #FE80A6;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  order: 1; }

@media (min-width: 900px) {
  .h3-seo-grid-title {
    font-size: 16px; } }

@media (min-width: 900px) {
  .h3-seo-grid-title {
    order: 2; } }

.h3-seo-grid-title h3 {
  color: #444444;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0; }

@media (min-width: 900px) {
  .h3-seo-grid-title h3 {
    font-size: 22px; } }

.h3-seo-grid-text {
  order: 3; }

.h3-seo-grid-text p {
  color: #444444;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .h3-seo-grid-text p {
    font-size: 16px; } }

.h3-seo-grid-text p a {
  color: #444444;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

@media (min-width: 900px) {
  .h3-seo-grid-text p a {
    font-size: 16px; } }

.h3-seo-grid-text p a:hover {
  text-decoration: underline; }

/* scss/Moléculas/_h1-seo_site.scss */
.seo h1,
h1.seo {
  color: #444444;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  margin: 0 auto; }

@media (min-width: 900px) {
  .seo h1,
  h1.seo {
    font-size: 40px; } }

@media (min-width: 900px) {
  .seo h1,
  h1.seo {
    margin-bottom: 8px; } }

/* scss/Organismos/_seo-grid_site.scss */
section#middle {
  padding: 0 !important; }

@media (min-width: 900px) {
  section#middle {
    padding: 0 0 10px 0 !important; } }

.row.text-category-footer.justify-content-center {
  padding: 0;
  border-top: 2px #CFCFCF solid;
  border-bottom: 2px #CFCFCF solid; }

@media (min-width: 900px) {
  .row.text-category-footer.justify-content-center {
    padding: 0px 100px; } }

.row.text-category-footer.justify-content-center .col-10 {
  padding: 0;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  max-width: 100%; }

div.seo {
  background: #F0F0F0;
  padding: 32px 16px; }

@media (min-width: 900px) {
  div.seo {
    padding: 47px 100px 50px 100px; } }

.seo-list div:last-child {
  border-bottom: none; }

/* scss/Moléculas/_seo-video_site.scss */
.seo-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px; }

@media (min-width: 900px) {
  .seo-video {
    margin-bottom: 24px; } }

.seo-video iframe {
  height: 168px;
  width: 90%; }

@media (min-width: 900px) {
  .seo-video iframe {
    width: 560px;
    height: 315px; } }

/* scss/Moléculas/_seo-numbered-list-grid_site.scss */
.seo-numbered-list-grid .item {
  display: flex;
  margin-bottom: 24px; }

.seo-numbered-list-grid .item .icon {
  margin-right: 35px; }

/* scss/Moléculas/_seo-number-icon_site.scss */
.seo-number-icon {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #FEB2C9;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%; }

@media (min-width: 900px) {
  .seo-number-icon {
    font-size: 40px; } }

/* END OF SEO CSS */
/* START OF PRODUCT DETAIL */
#content > nav.wd-browsing-breadcrumbs {
  margin-bottom: 16px !important;
  padding-left: 16px; }

@media (min-width: 900px) {
  #content > nav.wd-browsing-breadcrumbs {
    margin-bottom: 0px;
    padding-left: 0; } }

body[class*=context-product] #middle #content .wd-browsing-breadcrumbs ul li.first {
  display: block; }

body[class*=context-product] #middle #content .wd-browsing-breadcrumbs ul li::before {
  content: "/"; }

body[class*=context-product] #middle #content .wd-browsing-breadcrumbs ul li.first::before {
  display: none; }

@media (min-width: 900px) {
  body[class*=context-product] #middle #content .wd-browsing-breadcrumbs ul li::before {
    display: none !important; } }

#content > nav.wd-browsing-breadcrumbs > ul > li {
  margin-bottom: 0; }

body[class*=context-product] #middle #content .product-detail .head .information .brand-name {
  margin-bottom: 4px; }

body[class*=context-product] #middle #content .product-detail .head .information .brand-name span {
  font-size: 20px;
  line-height: 120%; }

@media (min-width: 900px) {
  body[class*=context-product] #middle #content .product-detail .head .information .brand-name span {
    font-size: 22px; } }

body[class*=context-product] #middle #content .product-detail .head .information .product-name {
  margin-bottom: 4px; }

body[class*=context-product] #middle #content .product-detail .head .information .product-name h1 {
  line-height: 150%;
  text-transform: lowercase;
  margin: 0; }

body[class*=context-product] #middle #content .product-detail .information .price .priceContainer .list-price span {
  font-size: 12px !important; }

.wd-product-price-description .sale-price {
  margin-bottom: 4px; }

.wd-product-price-description .condition, .wd-product-price-description .savings {
  color: #444444;
  font-weight: bold;
  font-size: 12px !important;
  line-height: 150%; }

@media (min-width: 900px) {
  .wd-product-price-description .condition, .wd-product-price-description .savings {
    font-size: 14px !important; } }

@media (min-width: 900px) {
  body[class*=context-product] #middle #content .product-detail .head .medias .wd-product-medias .wd-product-medias-displayer {
    height: 555px; } }

.product-detail .title {
  margin-bottom: 0; }

body[class*=context-product] #middle #content .product-detail .head .information .variations .wd-product-variations .type-color-pallete .options label {
  border: 3px solid #FFFFFF; }

.shipping-msg-box {
  background: rgba(240, 240, 240, 0.5);
  border: 2px #F0F0F0 solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px; }

.shipping-msg-icon {
  width: 57px;
  min-width: 57px;
  height: 57px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(68, 68, 68, 0.2);
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 900px) {
    .shipping-msg-icon {
      width: 66px;
      min-width: 66px;
      height: 66px;
      margin-right: 12px; } }

.shipping-msg-icon svg {
  fill: #444444;
  display: block; }

.shipping-msg-box .shipping-msg-text .title {
  color: #444444;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #0ACC54;
  border-bottom: 0;
  padding: 0; }
  @media (min-width: 900px) {
    .shipping-msg-box .shipping-msg-text .title {
      font-size: 16px; } }

.shipping-msg-box .shipping-msg-text .msg {
  color: #444444;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%; }
  @media (min-width: 900px) {
    .shipping-msg-box .shipping-msg-text .msg {
      font-size: 14px; } }

.shipping-msg-box.basket {
  padding: 10px;
  margin-top: 24px; }

.shipping-msg-box.basket .shipping-msg-text .title, .shipping-msg-box.basket .shipping-msg-text .msg {
  text-align: center; }

/* END OF PRODUCT DETAIL */
